<style type="text/css">
  #map_home_canvas { height: 325px ; width: 98%;}
</style>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88&sensor=true">
</script>
<script type="text/javascript">
  var condition = true
  function initialize() {
    if (condition){
      condition = false;
      var latlo = new google.maps.LatLng(<%= @bar.latitude.to_f %>, <%= @bar.longitude.to_f %>)
      var myOptions = {
        center: latlo,
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map_home_canvas"),
      myOptions);
      var marker = new google.maps.Marker({
        position: latlo,
        map: map
      });
    }
  }
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#mytags").tagit({ trigerKeys: ['space', 'comma', 'tab']});
    //$("#mytags").tagit({allowSpaces: false});
  });
</script>

<div data-role="page" id="bar_homepage">
  <div data-role="header" style="text-align: center;">
    <div data-role="controlgroup" style="width: 100%;">
      <h4><%= @bar.name %></h4>
      <b><%= @bar.full_address %></b>
      <a href="#bar_map_page" data-icon="arrow-r" data-role="button" class="ui-btn-right" onclick="initialize();">Map</a>
      <% if notice %>
        <div onclick="$(this).toggle()" class="alert alert-success"><%= notice %><a class="close" ><b>x</b></a></div>
      <% end %>
      <% if alert %>
        <div onclick="$(this).toggle()" class="alert alert-success"><%= alert %><a class="close"><b>x</b></a></div>
      <% end %>
    </div>
  </div>

  <div data-role="content" >
    <p><%= @bar.bar_description %></p>
    <ul class="tabs" data-tabs="tabs">
      <li style="width: 14.1%;text-align: center;" class="<%= Time.zone.now.strftime('%A').eql?('Monday') ? 'active' : '' %>"><a href="#monday" data-toggle="tab"><b>Mon</b></a></li>
      <li style="width: 14.1%;text-align: center;" class="<%= Time.zone.now.strftime('%A').eql?('Tuesday') ? 'active' : '' %>"><a href="#tuesday" data-toggle="tab"><b>Tue</b></a></li>
      <li style="width: 14.1%;text-align: center;" class="<%= Time.zone.now.strftime('%A').eql?('Wednesday') ? 'active' : '' %>"><a href="#wednesday" data-toggle="tab"><b>Wed</b></a></li>
      <li style="width: 14.1%;text-align: center;" class="<%= Time.zone.now.strftime('%A').eql?('Thursday') ? 'active' : '' %>"><a href="#thursday" data-toggle="tab"><b>Thu</b></a></li>
      <li style="width: 14.1%;text-align: center;" class="<%= Time.zone.now.strftime('%A').eql?('Friday') ? 'active' : '' %>"><a href="#friday" data-toggle="tab"><b>Fri</b></a></li>
      <li style="width: 14.1%;text-align: center;" class="<%= Time.zone.now.strftime('%A').eql?('Saturday') ? 'active' : '' %>"><a href="#saturday" data-toggle="tab"><b>Sat</b></a></li>
      <li style="width: 14.1%;text-align: center;" class="<%= Time.zone.now.strftime('%A').eql?('Sunday') ? 'active' : '' %>"><a href="#sunday" data-toggle="tab"><b>Sun</b></a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Monday') ? 'active' : '' %>" id="monday">
        <%= n_line(@standard_swigs.monday.first.deal) rescue nil %>
      </div>
      <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Tuesday') ? 'active' : '' %>" id="tuesday">
        <%= n_line(@standard_swigs.tuesday.first.deal) rescue nil %>
      </div>
      <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Wednesday') ? 'active' : '' %>" id="wednesday">
        <%= n_line(@standard_swigs.wednesday.first.deal) rescue nil %>
      </div>
      <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Thursday') ? 'active' : '' %>" id="thursday">
        <%= n_line(@standard_swigs.thursday.first.deal) rescue nil %>
      </div>
      <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Friday') ? 'active' : '' %>" id="friday">
        <%= n_line(@standard_swigs.friday.first.deal) rescue nil %>
      </div>
      <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Saturday') ? 'active' : '' %>" id="saturday">
        <%= n_line(@standard_swigs.saturday.first.deal) rescue nil %>
      </div>
      <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Sunday') ? 'active' : '' %>" id="sunday">
        <%= n_line(@standard_swigs.sunday.first.deal) rescue nil %>
      </div>
    </div>
    <ul data-role="listview" class="ui-listview with_thumbnail" data-inset="true">

      <li>
        <a href="#bigswig_list_page" >Big Swig</a>
      </li>
      <li>
        <a href="#rewards_list_page" >Rewards</a>
      </li>
      <li>
<%#= link_to "Invite Friends", users_mobile_invite_friends_url(@bar) %>
        <a onclick="window.location.href='<%= users_mobile_invite_friends_url(@bar, :mobile) %>'">Invite Friends</a>
      </li>
      <li>
        <a onclick="window.location.href='<%= users_mobile_invite_fb_friends_url(@bar, :mobile) %>'">Invite Friends</a>
      </li>
    </ul>
  </div>

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 97%;">
      <% if user_signed_in? %>
        <% @city_lat_lng %>
        <% if sprintf("%.2f",Geocoder::Calculations.distance_between([@city_lat_lng[1].to_f, @city_lat_lng[2].to_f], [@bar.latitude, @bar.longitude])).to_f <= @valid_radius_for_swigging%>
          <%= link_to "SWIG!", users_mobile_swigging_path(@bar), "data-role" => "button", style: "width: 100%;margin: 5px;", "data-ajax" => "false" %>
        <% else %>
          <a data-role="button" style="width: 100%;margin: 5px;" class="btn-primary" onclick="window.location.href='<%= bars_list_to_swig_home_path(:mobile)%>'">SWIG!</a>
        <% end %>
      <% end %>
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div><!-- /footer -->
</div>


<div data-role="page" id="bigswig_list_page">
  <div data-role="header" style="text-align: center;">
    <div data-role="controlgroup" style="margin: 5px;width: 100%;">
      <h4><%= @bar.name %></h4>
      <b><%= @bar.full_address %></b>
      <a href="#bar_homepage" data-icon="arrow-r" data-role="button" class="ui-btn-right">Back</a>
    </div>
  </div>

  <div data-role="content" >
    <div data-role="collapsible-set">
      <div data-role="collapsible">
        <h3>Moday</h3>
        <% @big_swigs.monday.order("people").each do |swig| %>
          <br/>
          <%= swig.deal %>
          <br/>
          <b>People Require: </b><%= swig.people %>&nbsp;<%= swig.lock_status.blank? ? image_tag("/assets/Lock-icon.png", style: "height: 30px;") : image_tag("/assets/Unlock-icon.png", style: "height: 30px;") %>
          <br/>
        <% end %>
      </div>
      <div data-role="collapsible">
        <h3>Tuesday</h3>
        <% @big_swigs.tuesday.order("people").each do |swig| %>
          <br/>
          <%= swig.deal %>
          <br/>
          <b>People Require: </b><%= swig.people %>&nbsp;<%= swig.lock_status.blank? ? image_tag("/assets/Lock-icon.png", style: "height: 30px;") : image_tag("/assets/Unlock-icon.png", style: "height: 30px;") %>
          <br/>
        <% end %>
      </div>
      <div data-role="collapsible">
        <h3>Wednesday</h3>
        <% @big_swigs.wednesday.order("people").each do |swig| %>
          <br/>
          <%= swig.deal %>
          <br/>
          <b>People Require: </b><%= swig.people %>&nbsp;<%= swig.lock_status.blank? ? image_tag("/assets/Lock-icon.png", style: "height: 30px;") : image_tag("/assets/Unlock-icon.png", style: "height: 30px;") %>
          <br/>
        <% end %>
      </div>
      <div data-role="collapsible">
        <h3>Thursday</h3>
        <% @big_swigs.thursday.order("people").each do |swig| %>
          <br/>
          <%= swig.deal %>
          <br/>
          <b>People Require: </b><%= swig.people %>&nbsp;<%= swig.lock_status.blank? ? image_tag("/assets/Lock-icon.png", style: "height: 30px;") : image_tag("/assets/Unlock-icon.png", style: "height: 30px;") %>
          <br/>
        <% end %>
      </div>
      <div data-role="collapsible">
        <h3>Friday</h3>
        <% @big_swigs.friday.order("people").each do |swig| %>
          <br/>
          <%= swig.deal %>
          <br/>
          <b>People Require: </b><%= swig.people %>&nbsp;<%= swig.lock_status.blank? ? image_tag("/assets/Lock-icon.png", style: "height: 30px;") : image_tag("/assets/Unlock-icon.png", style: "height: 30px;") %>
          <br/>
        <% end %>
      </div>
      <div data-role="collapsible">
        <h3>Saturday</h3>
        <% @big_swigs.saturday.order("people").each do |swig| %>
          <br/>
          <%= swig.deal %>
          <br/>
          <b>People Require: </b><%= swig.people %>&nbsp;<%= swig.lock_status.blank? ? image_tag("/assets/Lock-icon.png", style: "height: 30px;") : image_tag("/assets/Unlock-icon.png", style: "height: 30px;") %>
          <br/>
        <% end %>
      </div>
      <div data-role="collapsible">
        <h3>Sunday</h3>
        <% @big_swigs.sunday.order("people").each do |swig| %>
          <br/>
          <%= swig.deal %>
          <br/>
          <b>People Require: </b><%= swig.people %>&nbsp;<%= swig.lock_status.blank? ? image_tag("/assets/Lock-icon.png", style: "height: 30px;") : image_tag("/assets/Unlock-icon.png", style: "height: 30px;") %>
          <br/>
        <% end %>
      </div>
    </div>
  </div>

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 97%;">
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div>
</div>

<div data-role="page" id="rewards_list_page">
  <div data-role="header" style="text-align: center;">
    <div data-role="controlgroup" style="margin: 5px;width: 100%;">
      <h4><%= @bar.name %></h4>
      <b><%= @bar.full_address %></b>
      <a href="#bar_homepage" data-icon="arrow-r" data-role="button" class="ui-btn-right">Back</a>
    </div>
  </div>

  <div data-role="content" >
    <div data-role="collapsible-set">
      <div data-role="collapsible">
        <h3>Loyalty</h3>
        <b>Reward: </b><%= "#{(@loyalty.reward_detail rescue 'Not set Yet!')}" %>
        <br/>
        <%= "Require Swig: #{(@loyalty.swigs_number rescue 'Not set Yet!')}" %>
      </div>
      <div data-role="collapsible">
        <h3>Popularity</h3>
        <b>Reward: </b><%= "#{@popularity.reward_detail rescue 'Not set Yet!'}" %>
        <br/>
        <%= "Require Swig: #{(@popularity.swig_number rescue 'Not set Yet!')}" %>
      </div>
    </div>
  </div>

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 97%;">
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div>
</div>

<div data-role="page" id="bar_map_page">
  <div data-role="header" style="text-align: center;">
    <div data-role="controlgroup" style="width: 100%;">
      <h4><%= @bar.name %></h4>
      <b><%= @bar.full_address %></b>
      <a href="#bar_homepage" data-icon="arrow-r" data-role="button" class="ui-btn-right">Back</a>
    </div>
  </div>

  <div data-role="content" >
    <div id="map_home_canvas"></div>
  </div>
</div>




<div data-role="page" id="invite_friend_to_bar">
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3>Invitation</h3>
    </div>
  </div>

  <div data-role="content" >
    <%= form_tag(users_after_sign_up_invite_friend_by_email_path) do %>
      <%= text_field_tag(:mytags,"", style: "height: 30px;")  %>
      <%= submit_tag "Invite", class: "btn-primary", style: "margin-left: 570px;margin-top: -40px;" %>

      <% end %>
    </div><!-- /content -->

    <div data-role="footer" data-position="fixed" style="width: 100%">
      <div data-role="controlgroup" style="margin: 5px;width: 97%;">
        <a data-role="button" style="width: 100%;margin: 5px;" class="btn-primary" onclick="window.location.href='<%= bars_list_to_swig_home_path(:mobile)%>'">SWIG!</a>
        <%= render partial: "shared/footer_menu_partial" %>
      </div>
    </div>
  </div>
