<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  #map_canvas { height: 350px ; width: 275px;}
</style>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88&sensor=true">
</script>
<script type="text/javascript">
  function initialize() {
    var latlo = new google.maps.LatLng(<%= @bar.latitude.to_f %>, <%= @bar.longitude.to_f %>)
    var myOptions = {
      center: latlo,
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
    myOptions);
    var marker = new google.maps.Marker({
      position: latlo,
      map: map
    });
  }
</script>
<script type="text/javascript" charset="utf-8">
  (function($) {
    $(document).ready(function() {
      $('input[name="q"]').search('#fb li', function(on) {
        on.all(function(results) {
          var size = results ? results.size() : 0
          $('#count').text(size + ' results');
        });

        on.reset(function() {
          $('#none').hide();
          $('#fb li').show();
        });

        on.empty(function() {
          $('#none').show();
          $('#fb li').hide();
        });

        on.results(function(results) {
          $('#none').hide();
          $('#fb li').hide();
          results.show();
        });
      });
    });
  })(jQuery);
</script>
<style type="text/css">
  .stepContainer .content{
    width: 650px!important;
  }

  .modal{
    width: 790px!important;
    overflow: hidden!important;
  }
  .modal-header{
    padding: 0px!important;
  }
  .modal-body{
    max-height: 320px!important;
  }
</style>



<body onload="initialize()">

  <%= content_for :side do %>

    <h3><%= @bar.name rescue nil %></h3>
    <b>Address : </b><%= @bar.address rescue nil %>, <b><%= @bar.city rescue nil %></b>
    <br/>
    <b>Sport Team : </b><%= @bar.sports_team rescue nil %>
    <br/>

    <div class="clearfix"></div>
    <br/>
    <div id="map_canvas" style="margin-left: -25px;">
  <%#= image_tag("http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88&markers=#{@bar.latitude}%2C#{@bar.longitude}") %>
    </div>
    <br />
    <% if user_signed_in? %>
      <% unless current_user.fb_id.blank? %>
        <a class="btn" data-toggle="modal" href="#invite_modal">invite to <%= @bar.name %></a>
      <% end %>
    <% end %>
    <div class="clearfix"></div>
    <fieldset class="well" style="margin-left: -15px;">
      <%= link_to "Enter Bar", users_enter_bar_path(@bar), method: :post  %>
    </fieldset>
  <% end %>

  <%= content_for :profile_right_side do %>
    <div style="text-align: center;">
      <b>Total Swigs:</b>
      <br/>
      <b><%= @total_swiggers rescue nil %></b>
      <br/>
      <b><%= "#{@bar.name} Swiggers" %></b><div style="text-align: center;"><a class="" data-toggle="modal" href="#bar_swiger_list_modal" onclick="$('#swiger_list_modal').html('');$.get('/users/swiger_list/<%= @bar.id %>')"><b>See All</b></a></div>
    </div>
    <br/>
    <% unless @swigers.blank? %>
      <% @swigers.each do |swiger| %>
        <div class="span2">
          <% unless swiger.user.blank? %>
            <% unless swiger.user.name.blank? %>
              <%= swiger.user.avatar.blank? ? image_tag("UserImage.gif", style: "height: 50px;") : image_tag(swiger.user.avatar.url, style: "height: 50px;") %>
              <br/>
              <%= swiger.user.name %>
            <% else %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    
  <% end %>


  <div class="clearfix"></div>
  <br/>
  <div class="span10 well">
    <!--facebook-->
    <div id="fb-root"></div>
    <script src="//connect.facebook.net/en_US/all.js"></script>
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share"
            type="text/javascript">
    </script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          //appId      : '410355872318354', // App ID
          appId      : '410355872318354', // App ID
          channelUrl : '<%= bar_profile_url(@bar).to_s %>', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });

        // Additional initialization code here
      };

      // Load the SDK Asynchronously
      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));
    </script>
    <meta property="og:site_name" content="www.swigbig.com"/>
    <meta property="og:title" content="#{<%= @bar.name %>}"/>
    <meta property="og:type" content="YOUR_PAGE_OBJECT_TYPE"/>
    <meta property="og:url" content="<%= bar_profile_url(@bar) %>"/>
    <meta property="og:image" content="assets/rails.png"/>
    <meta property="fb:app_id" content="410355872318354"/>
    <div id="fb-root"></div>
    <fb:like send="false" width="210px" show_faces="true" />
    <fb:like send="false"  width="210px" show_faces="true" />
    <a name="fb_share"></a>
    <!--end facebook-->
  </div>
  <div class="clearfix"></div>
  <div class="span10 well">
    <div class="span4 pull-left" style="margin-left: -5px;">
      <b>Phone Number : </b><%= @bar.phone_number rescue nil %>
      <br/>
      <% unless @bar.website_link.blank? %>
        <b>Website : </b><%= link_to  @bar.website_link, @bar.website_link.to_s rescue nil %>
      <% end %>
      <br/>
      <% unless @bar.facebook_link.blank? %>
        <b>Facebook : </b><%= link_to  @bar.facebook_link.to_s, @bar.facebook_link.to_s rescue nil %>
      <% end %>
      <br/>
      <% unless @bar.twitter_link.blank? %>
        <b>Twitter : </b><%= link_to @bar.twitter_link.to_s, @bar.twitter_link.to_s rescue nil %>
      <% end %>
      <br/>
      <% unless @bar.google_plus_link.blank? %>
        <b>Google+ : </b><%= link_to @bar.google_plus_link.to_s, @bar.google_plus_link.to_s rescue nil %>
      <% end %>
      <br/>
    </div>
    <div class="span6 pull-left" style="background-color: white;border-radius: 2px;margin-right: -15px;">
      <br/>
      <%= @bar.bar_description rescue nil %>
      <br/>
    </div>
    <div class="span10 pull-right" style="margin-top: 30px;">

      <ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="#reward_loyalty" data-toggle="tab"><h3>Loyalty</h3></a></li>
        <li><a href="#reward_popularity" data-toggle="tab"><h3>Popularity</h3></a></li>
      </ul>
      <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="reward_loyalty">
          <% unless @loyalty.blank? %>
            <b>Swig required : </b><%= @loyalty.swigs_number %>
            <br/>
            <b>Reward : </b><%= @loyalty.reward_detail %>
          <% else %>
            <b>Not set yet!</b>
          <% end %>
          <br/>
        </div>
        <div class="tab-pane" id="reward_popularity">
          <% unless @popularity.blank? %>
            <b>Swig required : </b><%= @popularity.swigs_number %>
            <br/>
            <b>Reward : </b><%= @popularity.reward_detail %>
          <% else %>
            <b>Not set yet!</b>
          <% end %>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <!--</div>-->
  <br/>
  <div class="clearfix"></div>
  <br/>
  <ul class="tabs" data-tabs="tabs">
<%# if @bar_hours %>
    <li class="<%= Time.zone.now.strftime('%A').eql?('Monday') ? 'active' : '' %>"><a href="#monday" data-toggle="tab"><h3>Mon</h3><%= pluralize(@swigs.monday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.monday.first.open_time rescue "??" %><b>/</b><%= @bar_hours.monday.first.close_time rescue "??" %></small></a></li>
    <li class="<%= Time.zone.now.strftime('%A').eql?('Tuesday') ? 'active' : '' %>"><a href="#tuesday" data-toggle="tab"><h3>Tue</h3><%= pluralize(@swigs.tuesday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.tuesday.first.open_time rescue "??" %><b>/</b><%= @bar_hours.tuesday.first.close_time rescue "??" %></small></a></li>
    <li class="<%= Time.zone.now.strftime('%A').eql?('Wednesday') ? 'active' : '' %>"><a href="#wednesday" data-toggle="tab"><h3>Wed</h3><%= pluralize(@swigs.wednesday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.wednesday.first.open_time rescue "??" %><b>/</b><%= @bar_hours.wednesday.first.close_time rescue "??" %></small></a></li>
    <li class="<%= Time.zone.now.strftime('%A').eql?('Thursday') ? 'active' : '' %>"><a href="#thursday" data-toggle="tab"><h3>Thu</h3><%= pluralize(@swigs.thursday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.thursday.first.open_time rescue "??" %><b>/</b><%= @bar_hours.thursday.first.close_time rescue "??" %></small></a></li>
    <li class="<%= Time.zone.now.strftime('%A').eql?('Friday') ? 'active' : '' %>"><a href="#friday" data-toggle="tab"><h3>Fri</h3><%= pluralize(@swigs.friday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.friday.first.open_time rescue "??" %><b>/</b><%= @bar_hours.friday.first.close_time rescue "??" %></small></a></li>
    <li class="<%= Time.zone.now.strftime('%A').eql?('Saturday') ? 'active' : '' %>"><a href="#saturday" data-toggle="tab"><h3>Sat</h3><%= pluralize(@swigs.saturday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.saturday.first.open_time rescue "??" %><b>/</b><%= @bar_hours.saturday.first.close_time rescue "??" %></small></a></li>
    <li class="<%= Time.zone.now.strftime('%A').eql?('Sunday') ? 'active' : '' %>"><a href="#sunday" data-toggle="tab"><h3>Sun</h3><%= pluralize(@swigs.sunday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.sunday.first.open_time rescue "??" %><b>/</b><%= @bar_hours.saturday.first.close_time rescue "??" %></small></a></li>
  </ul>

  <div id="my-tab-content" class="tab-content">
    <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Monday') ? 'active' : '' %>" id="monday">
      <% @swigs.monday.order("swig_type DESC").order("people ASC").each do |swig|%>
        <%= render partial: "swig", locals: {swig: swig}  %>
      <% end %>
    </div>
    <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Tuesday') ? 'active' : '' %>" id="tuesday">
      <% @swigs.tuesday.order("swig_type DESC").order("people ASC").each do |swig|%>
        <%= render partial: "swig", locals: {swig: swig}  %>
      <% end %>
    </div>
    <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Wednesday') ? 'active' : '' %>" id="wednesday">
      <% @swigs.wednesday.order("swig_type DESC").order("people ASC").each do |swig|%>
        <%= render partial: "swig", locals: {swig: swig}  %>
      <% end %>
    </div>
    <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Thursday') ? 'active' : '' %>" id="thursday">
      <% @swigs.thursday.order("swig_type DESC").order("people ASC").each do |swig|%>
        <%= render partial: "swig", locals: {swig: swig}  %>
      <% end %>
    </div>
    <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Friday') ? 'active' : '' %>" id="friday">
      <% @swigs.friday.order("swig_type DESC").order("people ASC").each do |swig|%>
        <%= render partial: "swig", locals: {swig: swig}  %>
      <% end %>
    </div>
    <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Saturday') ? 'active' : '' %>" id="saturday">
      <% @swigs.saturday.order("swig_type DESC").order("people ASC").each do |swig|%>
        <%= render partial: "swig", locals: {swig: swig}  %>
      <% end %>
    </div>
    <div class="tab-pane <%= Time.zone.now.strftime('%A').eql?('Sunday') ? 'active' : '' %>" id="sunday">
      <% @swigs.sunday.order("swig_type DESC").order("people ASC").each do |swig|%>
        <%= render partial: "swig", locals: {swig: swig}  %>
      <% end %>
    </div>

  </div>

</body>

<%= content_for :outer do %>
  <div id="bar_swiger_list_modal" class="modal hide fade"></div>

  <div id="invite_modal" class="modal hide fade active" style="opacity: 1 ;">
    <div class="modal-header">
      <div style="background-color: #6D84B4;margin-bottom: 5px;">
        <a class="close" data-dismiss="modal" style="padding-right: 10px;color: whitesmoke;"><b>x</b></a>
        <h5 style="padding-left: 10px;color: whitesmoke;">Invite Friends</h5>
      </div>
      <button class="btn btn-mini">Search:</button>
      <input type="text" name="q" value="" style="width: 450px"></input>
      <span id="count"></span>
      <p id="none" style="display:none">There were no names to match your search!</p>
    </div>
    <% if user_signed_in? %>
      <% if current_user.fb_id %>
        <%= form_tag(users_invite_swigbig_path) do %>
        <%#= select("bar_ids", "bar_id", Bar.all.collect {|b| [ b.name, b.id ] }, {},{:class=>'chzn-select',  allow_single_deselect: false, "data-placeholder" => "Choose Bar to invite"}) %>
          <%= hidden_field_tag 'bar_id', @bar.id %>
          <div class="modal-body" style="height:350px">
            <ul id="fb">
              <% @friends.each do |friend| %>
                <li class="span4" style="margin-top: 10px;list-style: none;">
                  <%= check_box_tag "fb_ids[]", friend.identifier, false, :class => "checkbox" %>
                  <%= link_to image_tag(friend.picture) %>
                  <%= friend.name %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="modal-footer">
            <%= submit_tag "invite", class: "btn-primary " %>
              &nbsp;
              &nbsp;
              <a class="btn pull-left" data-dismiss="modal" data-toggle="modal" style="margin-top: -2px;">Cancel</a>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

