<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  #map_canvas { height: 350px ; width: 275px;}
</style>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88&sensor=true">
</script>
<script type="text/javascript">
  function initialize() {
    var latlo = new google.maps.LatLng(<%= @bar.latitude.to_f %>, <%= @bar.longitude.to_f %>)
    var myOptions = {
      center: latlo,
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
    myOptions);
    var marker = new google.maps.Marker({
      position: latlo,
      map: map
    });
  }
</script>

<% content_for :facebook_like do %>
  <div id="fb-root"></div>
  <script src="//connect.facebook.net/en_US/all.js"></script>
  <!--<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share"
          type="text/javascript">
  </script>-->
  <script>
    window.fbAsyncInit = function() {
      console.log("asdasd")
      FB.init({
        appId      : '410355872318354', // App ID
        channelUrl : '<%= bar_profile_url(@bar).to_s %>', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });

      // Additional initialization code here
    };

    // Load the SDK Asynchronously
    (function(d){
      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      ref.parentNode.insertBefore(js, ref);
    }(document));
  </script>
<% end %>
<% content_for :facebook_like_meta do %>
  <meta property="og:site_name" content="www.swigbig.com"/>
  <meta property="og:title" content="#{<%= @bar.name %>}"/>
  <meta property="og:type" content="YOUR_PAGE_OBJECT_TYPE"/>
  <meta property="og:url" content="<%= bar_profile_url(@bar) %>"/>
  <meta property="og:image" content="assets/rails.png"/>
  <meta property="fb:app_id" content="410355872318354"/>

<% end %>
<body onload="initialize()">

  <%= content_for :background do %>
    <%= @bar.bar_background_url %>
  <% end %>

  <%= content_for :side do %>
    <h3><%= @bar.name rescue nil %></h3>
    <b>Address : </b><%= @bar.address rescue nil %>, <b><%= @bar.city rescue nil %></b>
    <br/>
    <b>Sport Team : </b><%= @bar.sports_team rescue nil %>
    <br/>

    <div class="clearfix"></div>
    <br/>
    <div id="map_canvas" style="margin-left: -25px;">
  <%#= image_tag("http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88&markers=#{@bar.latitude}%2C#{@bar.longitude}") %>
    </div>
    <br />
    <fieldset class="well" style="margin-left: -15px;">
      <div id="fb-root"></div>
      <!--<fb:like send="false" width="210px" show_faces="true" />-->
      <fb:like send="false"  width="210px" show_faces="true" />
      <a name="fb_share"></a>

      <%= link_to "Enter Bar", users_enter_bar_path(@bar), method: :post  %>
      <br/>
      <b>Who's There</b>
      <br/>
      <div class="span3" style="background-color: white;margin-left: -5px;padding-left: 3px;padding-right: 3px;padding-top: 3px;padding-bottom: 3px;border-radius: 2px;">
        <% @swigers.each do |swiger| %>
    <%#= swiger.user.name %>
          <%= swiger.user.name %>
          <br/>
        <% end %>
      </div>
    </fieldset>
    <br />
    <% if user_signed_in? %>
      <fieldset class="well" style="margin-left: -15px;">
        <legend>create Popularity</legend>
        <div id="fb-root"></div>

        <%= link_to "Create Popularity", users_enter_bar_path(@bar)  %>
        <br/>
        <b>Who's There</b>
        <br/>
        <div class="span3" style="background-color: white;margin-left: -5px;padding-left: 3px;padding-right: 3px;padding-top: 3px;padding-bottom: 3px;border-radius: 2px;">
          <%= form_tag(users_create_popularity_path(@bar)) do %>
            <%= submit_tag "Invite And Create", class: "btn-success" %>
              <% @friends.each do |friend| %>
                <div class="span3">
                  <%= check_box_tag "guess_ids[]", friend.id, false, :class => "checkbox" %>
                  <%= friend.name %>
                </div>
              <% end %>
            <% end %>
          </div>
        </fieldset>
      <%end%>
    <% end %>


    <div class="clearfix"></div>
    <br/>
    <div class="clearfix"></div>
    <!--<div class="accordion-group">
      <div class="accordion-heading" style="margin-left: 40px;">
        <div class="accordion-inner">
          <a class="" data-toggle="collapse" data-target="#popularityandloyalty" style="color: black;"><b>View Rewards</b></a>
        </div>
      </div>
    </div>
    <div id="popularityandloyalty" class="accordion-body collapse">
    <div class="accordion-inner">-->
    <div class="span10 well">
      <div class="span4 pull-left" style="margin-left: -5px;">
        <b>Phone Number : </b><%= @bar.phone_number rescue nil %>
        <br/>
        <b>Website : </b><%= link_to  @bar.website_link, @bar.website_link.to_s rescue nil %>
        <br/>
        <b>Facebook : </b><%= link_to  @bar.facebook_link.to_s, @bar.facebook_link.to_s rescue nil %>
        <br/>
        <b>Twitter : </b><%= link_to @bar.twitter_link.to_s, @bar.twitter_link.to_s rescue nil %>
        <br/>
        <b>Google+ : </b><%= link_to @bar.google_plus_link.to_s, @bar.google_plus_link.to_s rescue nil %>
        <br/>
      </div>
      <div class="span6 pull-left" style="background-color: white;border-radius: 2px;margin-right: -15px;">
        <br/>
        <%= @bar.description rescue nil %>
        <br/>
      </div>
      <div class="span10 pull-right" style="margin-top: 30px;">

        <ul class="tabs" data-tabs="tabs">
          <li class="active"><a href="#reward_loyalty" data-toggle="tab"><h3>Loyalty</h3></a></li>
          <li><a href="#reward_popularity" data-toggle="tab"><h3>Popularity</h3></a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="reward_loyalty">
            <% if user_signed_in? %>
              <% unless @loyalty.blank? %>
                <% if @loyalty.status.eql?("active") %>
                  <b>Swig required : </b><%= @loyalty.swigs_number %>
                  <br/>
                  <b>Reward : </b><%= @loyalty.reward_detail %>
                <% end %>
              <% end %>
            <% end %>
            <br/>
          </div>
          <div class="tab-pane" id="reward_popularity">
            <% @popularity.each do |l| %>
              <%= l.reward_detail %>
              <br/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!--</div>-->
    <br/>
    <div class="clearfix"></div>
    <br/>
    <ul class="tabs" data-tabs="tabs">
      <li class="<%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Moday') ? 'active' : '' %>"><a href="#monday" data-toggle="tab"><h3>Mon</h3><%= pluralize(@swigs.monday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.monday.first.open_time %><b>/</b><%= @bar_hours.monday.first.close_time rescue "??" %></small></a></li>
      <li class="<%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Tuesday') ? 'active' : '' %>"><a href="#tuesday" data-toggle="tab"><h3>Tue</h3><%= pluralize(@swigs.tuesday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.tuesday.first.open_time rescue "??" %><b>/</b><%= @bar_hours.tuesday.first.close_time rescue "??" %></small></a></li>
      <li class="<%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Wednesday') ? 'active' : '' %>"><a href="#wednesday" data-toggle="tab"><h3>Wed</h3><%= pluralize(@swigs.wednesday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.wednesday.first.open_time rescue "??" %><b>/</b><%= @bar_hours.wednesday.first.close_time rescue "??" %></small></a></li>
      <li class="<%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Thursday') ? 'active' : '' %>"><a href="#thursday" data-toggle="tab"><h3>Thu</h3><%= pluralize(@swigs.thursday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.thursday.first.open_time rescue "??" %><b>/</b><%= @bar_hours.thursday.first.close_time rescue "??" %></small></a></li>
      <li class="<%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Friday') ? 'active' : '' %>"><a href="#friday" data-toggle="tab"><h3>Fri</h3><%= pluralize(@swigs.friday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.friday.first.open_time rescue "??" %><b>/</b><%= @bar_hours.friday.first.close_time rescue "??" %></small></a></li>
      <li class="<%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Saturday') ? 'active' : '' %>"><a href="#saturday" data-toggle="tab"><h3>Sat</h3><%= pluralize(@swigs.saturday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.saturday.first.open_time rescue "??" %><b>/</b><%= @bar_hours.saturday.first.close_time rescue "??" %></small></a></li>
      <li class="<%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Sunday') ? 'active' : '' %>"><a href="#sunday" data-toggle="tab"><h3>Sun</h3><%= pluralize(@swigs.sunday.count, "Deal") %><br/><small style="color: black;font-size: 9px;"><%= @bar_hours.sunday.first.open_time rescue "??" %><b>/</b><%= @bar_hours.saturday.first.close_time rescue "??" %></small></a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane <%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Moday') ? 'active' : '' %>" id="monday">
        <% @swigs.monday.each do |swig|%>
          <%= render partial: "swig", locals: {swig: swig}  %>
        <% end %>
      </div>
      <div class="tab-pane <%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Tuesday') ? 'active' : '' %>" id="tuesday">
        <% @swigs.tuesday.each do |swig|%>
          <%= render partial: "swig", locals: {swig: swig}  %>
        <% end %>
      </div>
      <div class="tab-pane <%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Wednesday') ? 'active' : '' %>" id="wednesday">
        <% @swigs.wednesday.each do |swig|%>
          <%= render partial: "swig", locals: {swig: swig}  %>
        <% end %>
      </div>
      <div class="tab-pane <%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Thursday') ? 'active' : '' %>" id="thursday">
        <% @swigs.thursday.each do |swig|%>
          <%= render partial: "swig", locals: {swig: swig}  %>
        <% end %>
      </div>
      <div class="tab-pane <%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Friday') ? 'active' : '' %>" id="friday">
        <% @swigs.friday.each do |swig|%>
          <%= render partial: "swig", locals: {swig: swig}  %>
        <% end %>
      </div>
      <div class="tab-pane <%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Saturday') ? 'active' : '' %>" id="saturday">
        <% @swigs.saturday.each do |swig|%>
          <%= render partial: "swig", locals: {swig: swig}  %>
        <% end %>
      </div>
      <div class="tab-pane <%= Date.today.to_time.in_time_zone.strftime('%A').eql?('Sunday') ? 'active' : '' %>" id="sunday">
        <% @swigs.sunday.each do |swig|%>
          <%= render partial: "swig", locals: {swig: swig}  %>
        <% end %>
      </div>

    </div>

  </body>

