<% @rewards.each do |reward| %>
  <tr>
    <td><%= format_date_global(reward.created_at) %></td>
    <td>
      <b><%= reward.sent_messageable.name %></b>
      <br/>
      <b>code: </b><%= reward.coupon %>
      <br/>
      <div class="pull-left">
        <% if reward.coupon_status %>
          <b style="color: red;">Redeem</b>
        <% else %>
          <b style="color: green;">UnRedeem</b>
        <% end %>
      </div>
    </td>
    <td>
      <%= reward.reward %>
    </td>
    <td>

    </td>
    <td><b>Remaining Time : </b><%= time_remaining(reward.expirate_reward) rescue nil %></td>
  </tr>
<% end %>