<%= javascript_include_tag "tag-it" %>
<%= stylesheet_link_tag "tagit-simple-blue" %>
<script type="text/javascript">
  $(document).ready(function() {
    $.noConflict();
    $("#mytags").tagit({ trigerKeys: ['enter', 'comma', 'tab']});
  });
</script>
<style type="text/css">
  .stepContainer .content{
    width: 650px!important;
  }

  .modal{
    width: 790px!important;
    overflow: hidden!important;
  }
  .modal-header{
    padding: 0px!important;
  }
</style>

<p>Invite your friend and get more benefit from Bars in your city!</p>
<a class="btn" data-toggle="modal" href="#invite_modal"><b>Invite!</b></a>

<%= content_for :outer do %>
  <div id="invite_modal" class="modal hide fade active" style="opacity: 1 ;">
    <div class="modal-header">
      <div style="background-color: #6D84B4;margin-bottom: 5px;">
        <a class="close" data-dismiss="modal" style="padding-right: 10px;color: whitesmoke;"><b>x</b></a>
        <h5 style="padding-left: 10px;color: whitesmoke;">Invite Friends</h5>
      </div>
      <button class="btn btn-mini">Search:</button>
      <input type="text" name="q" value="" style="width: 450px"></input>
      <span id="count"></span>
      <p id="none" style="display:none">There were no names to match your search!</p>
    </div>
    <%= form_tag(users_after_sign_up_invite_friend_by_fb_path) do %>
      <div class="modal-body" style="height:350px">
        <ul id="fb">
          <% @friends.each do |friend| %>
            <li class="span4" style="margin-top: 10px;list-style: none;">
              <%= check_box_tag "fb_ids[]", friend.identifier, false, :class => "checkbox" %>
              <%= link_to image_tag(friend.picture) %>
              <%= friend.name %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <%= submit_tag "invite", class: "btn-primary " %>
          &nbsp;
          &nbsp;
          <a class="btn pull-left" data-dismiss="modal" data-toggle="modal" style="margin-top: -2px;">Cancel</a>
        </div>
      <% end %>
    </div>
  <% end %>