<%= content_for :js_footer do %>
  <%= javascript_include_tag "tag-it" %>
  <%= stylesheet_link_tag "tagit-simple-blue" %>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#mytags").tagit({ trigerKeys: ['enter', 'comma', 'tab']});
    });
  </script>

<% end %>

<%= form_tag(users_after_sign_up_invite_friend_by_email_path) do %>
  <table style="margin-left: 40px;">
    <tr style="margin-left: 40px;">
    <h4 style="margin-left: 40px;">Invite your friend by email and get more benefit from Bars in your city!</h4>
  </tr>
  <tr >
    <%= text_field_tag(:mytags) %>
  <div style="margin-left: 100px;margin-top: -40px;">
    <%= submit_tag "Invite", class: "btn-primary", style: "margin-left: 570px;margin-top: -40px;" %>

    </div>
    <div style="margin-left: 30px;margin-top: 30px;">
      <b><%= link_to "Skip", root_path, class: "btn" %></b>
      </div>
      </tr>
      </table>
    <% end %>
