<%= javascript_include_tag "tag-it" %>
<%= stylesheet_link_tag "tagit-simple-blue" %>
<script type="text/javascript">
  $(document).ready(function() {
    $.noConflict();
    $("#mytags").tagit({ trigerKeys: ['enter', 'comma', 'tab']});
  });
</script>
<p>Invite your friend and get more benefit from Bars in your city!</p>
<table>
  <%= form_tag(users_after_sign_up_invite_friend_by_email_path) do %>
    <%= text_field_tag(:mytags)  %>
    <%= submit_tag "invite", class: "btn-primary" %>
    <% end %>
  </table>