<%= content_for :js_footer do %>
  <%= javascript_include_tag "jquery.smartWizard-2.0", "jquery.livesearch", "chosen.jquery", "bootstrap-button", "bootstrap-collapse" %>
  <%= stylesheet_link_tag "chosen" %>

  <script type="text/javascript">
    $(document).ready(function(){
      // Smart Wizard
      $('#wizard').smartWizard({
        transitionEffect:'slide',
        enableAllSteps: true,
        hideButtonsOnDisabled: false
      });
      $('.actionBar').hide();
      $('.chzn-select').chosen();
    });
  </script>
  <%- unless session[:invite_fb_friend_popup_was_appeared].eql?(true) %>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#invite_by_fb').click();
        $('#invite_by_fb').click();
      })
    </script>
  <%- end %>
  <script type="text/javascript" charset="utf-8">
    (function($) {
      $(document).ready(function() {
        $('input[name="q"]').search('#fb li', function(on) {
          on.all(function(results) {
            var size = results ? results.size() : 0
            $('#count').text(size + ' results');
          });

          on.reset(function() {
            $('#none').hide();
            $('#fb li').show();
          });

          on.empty(function() {
            $('#none').show();
            $('#fb li').hide();
          });

          on.results(function(results) {
            $('#none').hide();
            $('#fb li').hide();
            results.show();
          });
        });
      });
    })(jQuery);
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
    });
    function fb_posting_status(){
      if ($('#post_options').val() == "on"){
        $('#goto_on_post_reward').click()
      }
      else if ($('#post_options').val() == "off"){
        $('#goto_off_post_reward').click()
      }
    }

    function fb_posting_swig_status(){
      if ($('#post_options').val() == "on"){
        $('#goto_on_post_unlock_bigswig').click()
      }
      else if ($('#post_options').val() == "off"){
        $('#goto_off_post_unlock_bigswig').click()
      }
    }
  </script>

  <style type="text/css">
    .stepContainer .content{
      width: 650px!important;
    }

    .modal{
      width: 790px!important;
      overflow: hidden!important;
    }
    .modal-header{
      padding: 0px!important;
    }
    .modal-body{
      max-height: 320px!important;
    }
  </style>
<% end %>

<%= content_for :right_side do %>
  <!--<h5 class="pull-right" style="text-align: center;">Redeem Rewards using <br/>our mobile app on</h5>
  <a href="http://swigbig.com/download.html" class="pull-right"><%#= image_tag "/assets/available_on_android.png" %></a>-->
  <div style="text-align: center;"><b>People you may know<br/> that Swigging today:</b></div>
  <br/>
  <div class="clearfix"></div>
  <% @friends_swigger.each do |swigger| %>
    <div class="span2">
      <div class="span2">
        <img src="http://graph.facebook.com/<%= swigger.user.fb_id rescue nil %>/picture?type=small" alt=""></img>
        <br/>
        <%= swigger.user.name %>
        <br/>
        <%= link_to  swigger.bar.name, bar_profile_path(swigger.bar) rescue nil %>
      </div>
    </div>
  <% end %>
<% end %>

<!--<a class="" data-toggle="modal" href="#invite_modal" id="invite_by_fb">invite</a>-->
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 800px;">
  <tr style="width: 500px;"><td style="width: 500px;">
      <div id="wizard" class="swMain">

        <ul>

          <li>
            <a href="#stat" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Profile Stat</b>
            </a>
          </li>
          <li>
            <a href="#invite" onclick="$('#goto_fb_invite').click()" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Invite Friends</b>
            </a>
          </li>

          <li>
            <a href="#contact" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Contact Prefrences</b>
            </a>
          </li>
          <li>
            <a href="#delink" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>De-Link Facebook</b>
            </a>
          </li>
          <li>
            <a href="#delete" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Delete Account</b>
            </a>
          </li>
          <li>
            <a href="#fb_setting" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Facebook Event Setting</b>
            </a>
          </li>

        </ul>

        <div id="stat">
          <h2 class="StepTitle"><b>Profile Stat</b></h2>
          <div class="span4 pull-right">
            <b>Favorite Bar</b>
            <%= @top_bar.bar.name rescue "---"%>
          </div>
          <br/>
          <div class="span4 pull-right">
            <b>Last 5 Swigs</b>
            <% @swigers.limit(5).each do |swiger| %>
              <div class="span3">
                <b><%= swiger.bar.name rescue "No Name"%></b>
                <br/>
                <%= format_date_global(swiger.created_at) %>
              </div>
            <% end %>
          </div>
          <div class="span4">
            <b>Swig This</b>
          </div>
        </div>
        <div id="invite">
          <h2 class="StepTitle"><b>Invite Friends</b></h2>
          <a class="" data-toggle="modal" href="#invite_modal" id="goto_fb_invite">invite</a>
        </div>

        <div id="contact">
          <h2 class="StepTitle"><b>Contact Prefrences</b></h2>

          <a id="goto_off_post_reward" onclick="window.location.href='<%= users_lock_post_event_url %>'"  style="display: none;">Activate</a>
          <a id="goto_on_post_reward" data-role="button" onclick="window.location.href='<%= users_unlock_post_event_url %>'"  style="display: none;">Deactivate</a>
          <a id="goto_off_post_unlock_bigswig" data-role="button" onclick="window.location.href='<%= users_lock_post_to_swigbig_unlock_url %>'"  style="display: none;">Activate</a>
          <a id="goto_on_post_unlock_bigswig" data-role="button" onclick="window.location.href='<%= users_unlock_post_to_swigbig_unlock_url %>'"  style="display: none;">Deactivate</a>
          <b>This is page for activate and deactivate to posting swigbig event getting reward in facebook</b>
          <% if current_user.lock_fb_post.eql?(true) %>
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn active"><b style="">ON</b></button>
              <button type="button" class="btn" type="button" onclick="$('#goto_on_post_reward').click();"><b>OFF</b></button>
            </div>
          <% else %>
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn" onclick="$('#goto_off_post_reward').click();"><b>ON</b></button>
              <button type="button" class="btn active"><b style=""><b>OFF</b></b></button>
            </div>
          <% end %>

          <div class="clearfix"></div>
          <div class="clearfix"></div>
          <br/>
          <b>This button for activate and deactivate to posting unlock Bigswig in facebook</b><br/>
          <% if current_user.fb_post_swig.eql?(true) %>
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn active"><b style="">ON</b></button>
              <button type="button" class="btn" onclick="$('#goto_on_post_unlock_bigswig').click();"><b>OFF</b></button>
            </div>
          <% else %>
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn" onclick="$('#goto_off_post_unlock_bigswig').click();"><b>ON</b></button>
              <button type="button" class="btn active"><b style="">OFF</b></button>
            </div>
          <% end %>
        </div>

        <div id="delink">
          <h2 class="StepTitle"><b>De-Link Facebook</b></h2>
          <p>Change current account to email mode so all facebook access is totaly blocked!</p>
          <%= link_to "Convert to Email", users_convert_facebook_account_to_email_account_path, method: :get %>
        </div>

        <div id="delete">
          <h2 class="StepTitle"><b>Delete Account</b></h2>
          <p></p>
        </div>

        <div id="fb_setting">
          <h2 class="StepTitle"><b>Delete Account</b></h2>
          <p></p>
        </div>

      </div>
    </td></tr>
</table>


<%= content_for :outer do %>

  <div id="invite_modal" class="modal hide fade active" style="opacity: 1 ;">
    <%= form_tag(users_after_sign_up_invite_friend_by_fb_path) do %>
      <div class="modal-header">
        <div style="background-color: #6D84B4;margin-bottom: 5px;">
          <a class="close" data-dismiss="modal" style="padding-right: 10px;color: whitesmoke;"><b>x</b></a>
          <h5 style="padding-left: 10px;color: whitesmoke;">Invite Friends to Join SwigBIG?</h5>
        </div>
        <button class="btn btn-mini">Search:</button>
        <input type="text" name="q" value="" style="width: 450px"></input>
        <span id="count"></span>
        &nbsp;
        <%= submit_tag "Invite", class: "btn-primary pull-right", style: "margin-right: 50px; width: 100px;" %>
          <p id="none" style="display:none">There were no names to match your search!</p>
          <br/>
          <div class="accordion-group">
            <div class="accordion-heading" style="margin-left: 10px;">
              <div class="accordion-inner">
                <a class="" data-toggle="collapse" data-target="#messages_collapse" style="color: black;"><b>Add Message</b></a>
              </div>
            </div>
          </div>
          <div id="messages_collapse" class="accordion-body collapse">
            <div class="accordion-inner" style="margin-left: 0px;">
              <%= text_area_tag(:user_message, nil, size: "100x2", style: "width: 700px;") %>
            </div>
          </div>
        </div>
        <div class="modal-body" style="height:350px">
          <ul id="fb">
            <% @friends.each do |friend| %>
              <li class="span4" style="margin-top: 10px;list-style: none;">
                <%= check_box_tag "fb_ids[]", friend.identifier, false, :class => "checkbox" %>
                <%= link_to image_tag(friend.picture) %>
                <%= friend.name %>
                <%= friend.email %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="modal-footer">
        </div>
      <% end %>
    </div>
  <% end %>
  <%- session[:invite_fb_friend_popup_was_appeared] = true %>



