<script type="text/javascript">

  $(document).ready(function(){
    // Smart Wizard
    $('#wizard').smartWizard({
      transitionEffect:'slide',
      enableAllSteps: true,
      hideButtonsOnDisabled: false
    });
    $('.actionBar').hide();

  });
</script>
<script type="text/javascript" charset="utf-8">
  (function($) {
    $(document).ready(function() {
      $('input[name="q"]').search('#fb li', function(on) {
        on.all(function(results) {
          var size = results ? results.size() : 0
          $('#count').text(size + ' results');
        });

        on.reset(function() {
          $('#none').hide();
          $('#fb li').show();
        });

        on.empty(function() {
          $('#none').show();
          $('#fb li').hide();
        });

        on.results(function(results) {
          $('#none').hide();
          $('#fb li').hide();
          results.show();
        });
      });
    });
  })(jQuery);
</script>
<script type="text/javascript">
  
</script>
<style type="text/css">
  .stepContainer .content{
    width: 650px!important;
  }

  .modal{
    width: 790px!important;
    overflow: hidden!important;
  }
  .modal-header{
    padding: 0px!important;
  }
</style>

<!--<a href="#info" rel="facebox">View in the Facebox</a>

<div class="content" >
  <div id="info" style="display:none;">
    <p> Hey, I'm the 'info' div! </p>
    <p> I look like this: </p>
    <code>
      &lt;div id="info" style="display:none;"&gt; <br/>
      &nbsp;&nbsp;text<br/>
      &lt;/div&gt;
    </code>
  </div>
</div>-->
<a class="" data-toggle="modal" href="#invite_modal">invite</a>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 800px;">
  <tr style="width: 500px;"><td style="width: 500px;">
      <div id="wizard" class="swMain">

        <ul>
          <li>
            <b>Last Status</b>
            <br>
            <%= @fb_post %>
            </br>
            <b>Facebook Status Message</b>
            <%= form_tag users_facebook_update_status_path do %>
              <%= text_area_tag :message, nil, :placeholder => 'Message here.' %>
  <%#= submit_tag 'Update', :disable_with => 'Updating.' %>
              <br/>
              <%= submit_tag 'Update', class: "btn-primary pull-right", style: "margin-top: 10px;" %>
              <% end %>
            </li>
            <li>
              <a href="#stat" style="height: 30px;text-align: center;padding-top: 5px;">
                <b>Profile Stat</b>
              </a>
            </li>
            <li>
              <a data-toggle="modal" href="#invite" style="height: 30px;text-align: center;padding-top: 5px;">
                <b>Invite Friends</b>
              </a>
            </li>

            <li>
              <a href="#contact" style="height: 30px;text-align: center;padding-top: 5px;">
                <b>Contact Prefrences</b>
              </a>
            </li>
            <li>
              <a href="#delink" style="height: 30px;text-align: center;padding-top: 5px;">
                <b>De-Link Facebook</b>
              </a>
            </li>
            <li>
              <a href="#delete" style="height: 30px;text-align: center;padding-top: 5px;">
                <b>Delete Account</b>
              </a>
            </li>

          </ul>

          <div id="stat">
            <h2 class="StepTitle"><b>Profile Stat</b></h2>
            <div class="span4 pull-right">
              <b>Favorite Bar</b>
              <%= @top_bar.bar.name rescue "---"%>
            </div>
            <br/>
            <div class="span4 pull-right">
              <b>Last 5 Swigs</b>
              <% @swigers.limit(5).each do |swiger| %>
                <div class="span3">
                  <b><%= swiger.bar.name %></b>
                  <br/>
                  <%= swiger.created_at.strftime("%d/%m/%Y") %>
                </div>
              <% end %>
            </div>
            <div class="span4">
              <b>Swig This</b>
            </div>
          </div>
          <div id="invite">
            <h2 class="StepTitle"><b>Invite Friends</b></h2>
            <a class="" data-toggle="modal" href="#invite_modal">invite</a>
          </div>

          <div id="contact">
            <h2 class="StepTitle"><b>Contact Prefrences</b></h2>
          </div>
          <div id="delink">
            <h2 class="StepTitle"><b>De-Link Facebook</b></h2>

          </div>
          <div id="delete">
            <h2 class="StepTitle"><b>Delete Account</b></h2>
            <p></p>
          </div>

        </div>
      </td></tr>
  </table>


  <%= content_for :outer do %>

    <!--<div id="invite_modal" class="modal hide fade" style="opacity: 1 ;">-->
    <div id="invite_modal" class="modal hide fade active" style="opacity: 1 ;">
      <div class="modal-header">
        <div style="background-color: #6D84B4;margin-bottom: 5px;">
          <a class="close" data-dismiss="modal" style="padding-right: 10px;color: whitesmoke;"><b>x</b></a>
          <h5 style="padding-left: 10px;color: whitesmoke;">Invite Friends</h5>
        </div>
        <button class="btn btn-mini">Search:</button>
        <input type="text" name="q" value="" style="width: 500px"></input>
        <span id="count"></span>
        <p id="none" style="display:none">There were no names to match your search!</p>
      </div>
      <%= form_tag(users_invite_swigbig_path) do %>
        <div class="modal-body" style="height:350px">
          <ul id="fb">
            <% @friends.each do |friend| %>
              <li class="span4" style="margin-top: 10px;list-style: none;">
                <%= check_box_tag "fb_ids[]", friend.identifier, false, :class => "checkbox" %>
                <%= link_to image_tag(friend.picture) %>
                <%= friend.name %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="modal-footer">
          <%= submit_tag "invite", class: "btn-primary pull-right" %>
            <a class="close" data-dismiss="modal">Cancel</a>
          </div>
        <% end %>
      </div>
    <% end %>



