<script type="text/javascript">
  $(document).ready(function(){
  });
  function fb_posting_status(){
    if ($('#post_options').val() == "on"){
      $('#goto_on_post_reward').click()
    }
    else if ($('#post_options').val() == "off"){
      $('#goto_off_post_reward').click()
    }
  }

  function fb_posting_swig_status(){
    if ($('#post_options').val() == "on"){
      $('#goto_on_post_unlock_bigswig').click()
    }
    else if ($('#post_options').val() == "off"){
      $('#goto_off_post_unlock_bigswig').click()
    }
  }
</script>

<div data-role="page" id="fb_user_profile_page">
  <div data-role="header"  style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3><%= @user.name.blank? ? @user.email : @user.name %></h3>
      <a href="#" data-toggle="tab" data-role="button" style="width: 49%;color: white;">Profile</a>
      <a href="#fb_user_stat_page" data-toggle="tab" data-role="button" style="width: 49%;color: white;">Stats</a>
      <% if notice %>
        <div onclick="$(this).toggle()"><%= notice %><a class="close" ><b>x</b></a></div>
      <% end %>
      <% if alert %>
        <div onclick="$(this).toggle()"><%= alert %><a class="close"><b>x</b></a></div>
      <% end %>
    </div>
  </div>

  <div data-role="content" id="mobile_content">
    <ul data-role="listview" class="ui-listview with_thumbnail" data-inset="true">
      <li>
        <a>
          <img src="http://graph.facebook.com/<%= @user.fb_id rescue nil %>/picture?type=large" alt="some_text"></img>
          <%= @user.name rescue  "not set yet!" %><br/>
          <%= @user.email %>
        </a>
      </li>
      <li>
        <a href="#fb_user_post_setting_page" >Setting</a>
      </li>
    </ul>
  </div><!-- /content -->

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 99%;">
<%#= link_to "LOG OUT", destroy_user_session_path, method: :delete, style: "width: 100%", "data-role" => "button", "data-ajax" => false %>
      <a onclick="$('#logoutForm').submit();" style="width: 100%" data-role="button">Log Out</a>
      <%= form_tag(destroy_user_session_path, method: :delete, id: :logoutForm, :class => 'hide',  "data-ajax" => 'false' ) do %><% end %>
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div><!-- /footer -->
</div>

<div data-role="page" id="fb_user_stat_page">
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3><%= @user.name.blank? ? @user.email : @user.name %></h3>
      <a href="#fb_user_profile_page" data-toggle="tab" data-role="button" style="width: 49%;color: white;">Profile</a>
      <a href="" data-toggle="tab" data-role="button" style="width: 49%;color: white;">Stats</a>
    </div>
  </div>

  <div data-role="content" >
    <b>Favorite Bar</b>
    <br/>
    <%= @top_bar %>
    <br/>
    <b>Favorite City</b>
    <br/>
    <%= @top_city %>
    <br/>
    <b>Total Swigs</b>
    <br/>
    <%= @total_swig %>
    <br/>
    <b>Total Rewards Earned</b>
    <br/>
    <%= @total_rewards.count %>
    <br/>
  </div><!-- /content -->

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 99%;">
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div><!-- /footer -->
</div>

<div data-role="page" id="fb_user_post_setting_page">
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3><%= @user.name.blank? ? @user.email : @user.name %></h3>
      <a href="#fb_user_profile_page" data-toggle="tab" data-role="button" style="width: 49%;color: white;">Profile</a>
      <a href="" data-toggle="tab" data-role="button" style="width: 49%;color: white;">Stats</a>
    </div>
  </div>

  <div data-role="content" >
    <b>This is page for activate and deactivate to posting swigbig event getting reward in facebook</b>
    <br/>
    <b style="font-size: 28">Blocking posting?</b>
    <select id="post_options" data-role="slider" onchange="fb_posting_status()">
      <% if current_user.lock_fb_post %>
        <option value="on">OFF</option>
        <option value="off" selected="selected">ON</option>
      <% else %>
        <option value="on" selected="selected">OFF</option>
        <option value="off">ON</option>
      <% end %>
    </select><br/>

    <b>This button for activate and deactivate to posting unlock Bigswig in facebook</b><br/>
    <b style="font-size: 28">Blocking posting?</b>
    <select id="post_swig_options" data-role="slider" onchange="fb_posting_swig_status()">
      <% if current_user.fb_post_swig %>
        <option value="on">OFF</option>
        <option value="off" selected="selected">ON</option>
      <% else %>
        <option value="on" selected="selected">OFF</option>
        <option value="off">ON</option>
      <% end %>
    </select>

    <a id="goto_off_post_reward" onclick="window.location.href='<%= users_lock_post_event_url %>'"  style="display: none;">Activate</a>
    <a id="goto_on_post_reward" data-role="button" onclick="window.location.href='<%= users_unlock_post_event_url %>'"  style="display: none;">Deactivate</a>
    <a id="goto_off_post_unlock_bigswig" data-role="button" onclick="window.location.href='<%= users_lock_post_to_swigbig_unlock_url %>'"  style="display: none;">Activate</a>
    <a id="goto_on_post_unlock_bigswig" data-role="button" onclick="window.location.href='<%= users_unlock_post_to_swigbig_unlock_url %>'"  style="display: none;">Deactivate</a>

  </div>
  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 99%;">
      <a href="#fb_user_profile_page" data-toggle="tab" data-role="button" style="width: 99%;color: white;">Profile</a>
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div>

</div>