<div data-role="page" id="fb_user_profile_page">
  <div data-role="header"  style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3><%= @user.name.blank? ? @user.email : @user.name %></h3>
      <a href="#" data-toggle="tab" data-role="button" style="width: 49%;color: white;">Profile</a>
      <a href="#fb_user_stat_page" data-toggle="tab" data-role="button" style="width: 49%;color: white;">Stats</a>
      <% if notice %>
        <div onclick="$(this).toggle()"><%= notice %><a class="close" ><b>x</b></a></div>
      <% end %>
      <% if alert %>
        <div onclick="$(this).toggle()"><%= alert %><a class="close"><b>x</b></a></div>
      <% end %>
    </div>
  </div>

  <div data-role="content" id="mobile_content">
    <ul data-role="listview" class="ui-listview with_thumbnail" data-inset="true">
      <li>
        <a>
          <%= @user.avatar.blank? ? image_tag("UserImage.gif", style: "height: 50px;") : image_tag(@user.avatar_url(:mini)) %>
          <%= @user.name rescue  "not set yet!" %><br/>
          <%= @user.email %>
        </a>
      </li>
      <li>
        <a href="#fb_user_post_setting_page" >Setting</a>
      </li>
    </ul>
  </div><!-- /content -->

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 99%;">
      <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, style: "width: 100%", "data-role" => "button", "data-ajax" => "false" %>
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div><!-- /footer -->
</div>

<div data-role="page" id="fb_user_stat_page">
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3><%= @user.name.blank? ? @user.email : @user.name %></h3>
      <a href="#fb_user_profile_page" data-toggle="tab" data-role="button" style="width: 49%;color: white;">Profile</a>
      <a href="" data-toggle="tab" data-role="button" style="width: 49%;color: white;">Stats</a>
    </div>
  </div>

  <div data-role="content" >
    <b>Favorite Bar</b>
    <br/>
    <%= @top_bar %>
    <br/>
    <b>Favorite City</b>
    <br/>
    <%= @top_bar %>
    <br/>
    <b>Total Swigs</b>
    <br/>
    <%= @total_swig %>
    <br/>
    <b>Total Rewards Earned</b>
    <br/>
    <%= @total_rewards.count %>
    <br/>
  </div><!-- /content -->

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 99%;">
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div><!-- /footer -->
</div>

<div data-role="page" id="fb_user_post_setting_page">
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3><%= @user.name.blank? ? @user.email : @user.name %></h3>
      <a href="#fb_user_profile_page" data-toggle="tab" data-role="button" style="width: 49%;color: white;">Profile</a>
      <a href="" data-toggle="tab" data-role="button" style="width: 49%;color: white;">Stats</a>
    </div>
  </div>

  <div data-role="content" >
    <b>This is page for activate and deactivate to posting swigbig event getting reward in facebook</b>
    <% if current_user.lock_fb_post.blank? %>
      <a class="" data-role="button" onclick="window.location.href='<%= users_lock_post_event_url %>'"  style="width: 99%;">Activate</a>
    <% else %>
      <a class="" data-role="button" onclick="window.location.href='<%= users_unlock_post_event_url %>'"  style="width: 99%;">Deactivate</a>
    <% end %>
    <b>This button for activate and deactivate to posting unlock Bigswig in facebook</b>
    <% if current_user.fb_post_swig.blank? %>
      <a class="" data-role="button" onclick="window.location.href='<%= users_lock_post_to_swigbig_unlock_url %>'"  style="width: 99%;">Activate</a>
    <% else %>
      <a class="" data-role="button" onclick="window.location.href='<%= users_unlock_post_to_swigbig_unlock_url %>'"  style="width: 99%;">Deactivate</a>
    <% end %>
  </div>
  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 99%;">
      <a href="#fb_user_profile_page" data-toggle="tab" data-role="button" style="width: 99%;color: white;">Profile</a>
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div>

</div>