<div data-role="page" id="swig_list_page">
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3><%= @user.name rescue @user.email %> rewards</h3>
      <a data-role="button" style="width: 49%;" class="btn-primary">Rewards</a>
      <a href="#expiring_soon" data-role="button" style="width: 49%;">Expiring Soon</a>
    </div>
  </div>

  <div data-role="content" >
    <div data-role="collapsible-set">
      <% @reward.each do |reward| %>
        <div data-role="collapsible" data-mini="true" data-content-theme="b" >
          <h6><%= reward.sent_messageable.name rescue 'undefine' %></h6>
          <b>Serial code: </b><%= reward.coupon rescue nil %>
          <br/>
          <b>Earning Date : </b><%= format_date_global(reward.created_at) rescue nil  %>
          <br/>
          <b>Reward : </b><%= reward.reward rescue nil  %>
          <br/>
          <b>Expirate Reward : </b><%= format_date_global(reward.expirate_reward) rescue nil  %>
          <br/>
          <b>Remaining Time : </b><%= counting_time(reward.expirate_reward) rescue nil %>
        </div>
      <% end %>
    </div>
  </div><!-- /content -->

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 97%;">
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div>

</div>

<div data-role="page" id="expiring_soon" >
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3><%= @user.name rescue @user.email %> rewards</h3>
      <a href="#swig_list_page" data-role="button" style="width: 49%;">Reward</a>
      <a data-role="button" style="width: 49%;">Expiring Soon</a>
    </div>
  </div>

  <div data-role="content" >
    <div data-role="collapsible-set">
      <%= @reward_to_expirate.blank? ? "You are all good, you don't have any Rewards expiring soon!" : "" %>
      <% @reward_to_expirate.each do |reward| %>
        <div data-role="collapsible" data-mini="true" data-content-theme="b" >
          <h5><%= reward.sent_messageable.name rescue nil %></h5>
          <b>Serial code: </b><%= reward.coupon rescue nil %>
          <br/>
          <b>Earning Date : </b><%= format_date_global(reward.created_at) rescue nil %>
          <br/>
          <b>Reward : </b><%= reward.reward rescue nil %>
          <br/>
          <b>Remaining Time : </b><%= time_remaining(reward.expirate_reward) rescue nil %>
        </div>
      <% end %>
    </div>
  </div><!-- /content -->

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 97%;">
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div>

</div>
