<div data-role="page" id="swig_list_page" onclick="initialize()">
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" style="margin: 5px;width: 100%;">
      <h3><%= @user.name %> rewards</h3>
    </div>
  </div>

  <div data-role="content" >

    <div data-role="collapsible-set">
      <% @reward.each do |reward| %>
        <div data-role="collapsible">
          <h5><%= reward.sent_messageable.name %></h5>
          <b>Serial code: </b><%= reward.coupon %>
          <br/>
          <b>Date : </b><%= reward.created_at.strftime("%v") %>
          <br/>
          <b>Reward : </b><%= reward.reward %>
        </div>
      <% end %>
    </div>
  </div><!-- /content -->

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 97%;">
      <a data-role="button" style="width: 100%;margin: 5px;" class="btn-primary" onclick="window.location.href='<%= bars_list_to_swig_home_path(:mobile)%>'">SWIG!</a>
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div>

</div>
