
<script type="text/javascript">

  $(document).ready(function(){
    // Smart Wizard
    $('#wizard').smartWizard({
      transitionEffect:'slide',
      enableAllSteps: true,
      hideButtonsOnDisabled: false
    });
    $('.actionBar').hide();

  });
</script>
<style type="text/css">
  .stepContainer .content{
    width: 650px!important;
  }
</style>
<div class="clearfix"></div>
<br/>
<div class="clearfix"></div>
<div class="clearfix"></div>
<!--<ul class="" data-tabs="tabs" style="list-style: none;"></ul>-->
<div class="span5 pull-left" style="margin-left: 0px;margin-bottom: 50px;">
  <a class="btn btn-large" style="width: 200px;margin-bottom: 5px;" href="#summary" data-toggle="tab"><b>Summary</b></a>
  <br/>
  <a class="btn btn-small" style="width: 200px;margin-bottom: 5px;" href="#progress" data-toggle="tab"><b>Progress</b></a>
  <br/>
  <a class="btn btn-small" style="width: 200px;margin-bottom: 5px;" href="#earned" data-toggle="tab"><b>Earned Rewards</b></a>
  <br/>
  <a class="btn btn-small" style="width: 200px;margin-bottom: 5px;" href="#redeemed" data-toggle="tab"><b>Redeemed Rewards</b></a>
  <br/>
  <a class="btn btn-small" style="width: 200px;margin-bottom: 5px;" href="#gift" data-toggle="tab"><b>Gift</b></a>
</div>
<div class="span11 pull-right">
  <div class="tab-content">
    <div class="tab-pane active" id="summary">
      tet
    </div>
    <div class="tab-pane" id="progress">
      <h3 class="StepTitle"><b>Progress</b></h3>
      <ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="#loyalty" data-toggle="tab"><h5>Loyalty</h5></a></li>
        <li><a href="#popularity" data-toggle="tab"><h5>Popularity</h5></a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="loyalty">
          <table>
            <th>Bar</th>
            <th>Reward</th>
            <th>Progress</th>
            <th>status</th>
            <% @loyalty_points.each do |point| %>
              <tr>
                <td>
                  <%= point.bar.name %>
                </td>
                <td>
                  <%= point.bar.loyalty.reward_detail rescue nil %>
                </td>
                <td>
                  <%= point.bar.loyalty.swigs_number rescue nil %>
                  <b> of </b>
                  <%= point.bar.points.count %>
                  <%= number_to_percentage(point.bar.loyalty.swigs_number / point.bar.points.count) rescue nil %>
                </td>
                <td>
                  <%= point.bar.loyalty.swigs_number.eql?(point.bar.points.count) ? "Complete" : "#{(point.bar.loyalty.swigs_number - point.bar.points.count).to_i} more"  rescue nil %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="tab-pane" id="popularity">
          pop
        </div>
      </div>
    </div>
    <div class="tab-pane" id="earned">
      <h2 class="StepTitle"><b>Earned Rewards</b></h2>
      <table>
        <th>Date</th>
        <th>Bar</th>
        <th>Reward</th>
        <th>Expiration</th>
        <% @winners.each do |winner| %>
          <tr>
            <td>
              <%= winner.created_at.strftime("%m %d, %Y") %>
            </td>
            <td>
              <%= winner.bar.name %>
            </td>
            <td>
              <%= winner.bar.loyalty.reward_detail rescue nil %>
            </td>
            <td>
              <%= current_user.id %>
  <%# unless winner.reward_messages.nill? %>
              <%= winner.reward_messages.each do |m| %>
    <%#= RewardMessage.where(user_id: current_user.id).each do |m| %>
                <%= m.subject %>
                <%= m.content %>
              <% end %>
            <% end %>
          </td>
        </tr>
<%# end %>
      </table>
    </div>
    
    <div class="tab-pane" id="redeemed">
      Popularity content
    </div>
    <div class="tab-pane" id="gift">
      <table>

        <% @gifts.each do |gift| %>
          <tr>
            <td>
              <%= Gift.find(gift.gift_id).name %>
            </td>
            <td>
              <%= Gift.find(gift.gift_id).descriptions %>
            </td>
          </tr>
        <% end %>

      </table>
    </div>
  </div>
</div>


<!--
<%# @messages.each do |message| %>
  <tr style="cursor: pointer;background-color: <%#= message.opened ? "white" : "darkgrey" %>">
    <td class="span2"><%#= check_box_tag "message_ids[]", message.id, false, :class => "checkbox" %></td>
    <td class="span7"><%#= link_to  message.sent_messageable.full_name.titleize, business_student_path(current_business.id, message.sent_messageable) %></td>
    <td class="span10" onclick="window.location.href='<%#= businesses_message_url(message) %>'"><b><%#= message.topic %></b> - <%#= truncate(strip_tags(message.body.html_safe), length: 40) %></td>
    <td class="span4" onclick="window.location.href='<%#= businesses_message_url(message) %>'"><%#= message.created_at.strftime("%b %d, %Y") %></td>
  </tr>
  </tr>
<%# end %>
-->
<!--------------------------------------------------------
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 800px;">
  <tr style="width: 500px;"><td style="width: 500px;">
      <div id="wizard" class="swMain">

        <ul>
          <li>
            <a href="#summary" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Summary</b>
            </a>
          </li>
          <li>
            <a href="#progress" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Progress</b>
            </a>
          </li>
          <li>
            <a href="#earned" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Earned Rewards</b>
            </a>
          </li>
          <li>
            <a href="#redeemed" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Redeemed Rewards</b>
            </a>
          </li>
        </ul>

        <div id="summary">
          <h2 class="StepTitle"><b>Summary</b></h2>
          <p>afewfwafeawf</p>
        </div>

        <div id="progress">



        </div>
        <div id="earned">

        </div>
        <div id="redeemed">
          <h2 class="StepTitle"><b>Redeemed Rewards</b></h2>
          <p>afewfwafeawf</p>
        </div>

      </div>
    </td></tr>
</table>
-->