<%# f.inputs do %>
<div class="nested-fields" style="margin-left: -20px;">
  <%= link_to_remove_association "<i class='icon-remove pull-right'></i>".html_safe, f, class: "pull-right", style: "margin-right: 20px;" %>
    <%= f.input :day, as: :select, collection: days_collection, input_html: {style: "width: 100px;"} %>
    <div style="margin-top: -45px;margin-left: 160px;">
      <%= f.input :open_hour, as: :select, label: "Open", collection: hours_collection, input_html: {style: "width: 50px;"} %>
      <div style="margin-top: -45px;margin-left: 60px;">
        <%= f.input :open_word, as: :select, label: false, collection: [["AM", "AM"],["PM","PM"]], input_html: {style: "width: 50px;"} %>
      </div>
      <%= f.input :close, as: :select, label: "Close", collection: hours_collection, input_html: {style: "width: 50px;"} %>
      <div style="margin-top: -45px;margin-left: 60px;">
        <%= f.input :close_word, as: :select, label: false, collection: [["AM", "AM"],["pm","PM"]], input_html: {style: "width: 50px;"} %>
      </div>
      <%= f.input :close_day, as: :boolean, label: "Close day?" %>
    </div>
  <%# end %>
  </div>
  <div class="clearfix"></div>
  <br/>
