<h2>Edit <%= current_bar.name %> Profile</h2>
<ul class="tabs" data-tabs="tabs">
  <li class="active"><a href="#bar" data-toggle="tab"><h5>Bar</h5></a></li>
  <li><a href="#link" data-toggle="tab"><h5>Link</h5></a></li>
  <li><a href="#location" data-toggle="tab"><h5>Location</h5></a></li>
  <li><a href="#hour" data-toggle="tab"><h5>Hour</h5></a></li>
</ul>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true , class: "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>
    <div class="tab-content">
      <div class="tab-pane active" id="bar">
        <%= f.input :email %>
        <%= f.input :name %>
        <%#= f.input :bar_hour, label: "Bar Hour" %>
        <%= f.input :phone_number %>
        <%= f.input :bar_description, label: "Description", input_html: {style: "width: 350px;height: 150px;"} %>
        <div class="form-actions">
          <%= f.submit "Update", class: "btn-primary" %>
          </div>
        </div>
        <div class="tab-pane" id="link">
          <%= f.input :website_link %>
          <%= f.input :facebook_link %>
          <%= f.input :twitter_link %>
          <%= f.input :google_plus_link %>
          <div class="form-actions">
            <%= f.submit "Update", class: "btn-primary" %>
            </div>
          </div>
          <div class="tab-pane" id="location">
            <%= f.input :address %>
            <%= f.input :sports_team, as: :select, collection: sport_teams_collection %>
            <%= f.input :zip_code %>
            <%= f.input :city, as: :select, collection: avaliable_cities %>
            <div class="form-actions">
              <%= f.submit "Update", class: "btn-primary" %>
              </div>
            </div>
            <div class="tab-pane" id="hour">
              <%= f.fields_for :bar_hours do |ff| %>
                <div class="span2">
                  <b><%= ff.object.day %></b>
                  <%= ff.input :open_hour, as: :select, label: false, collection: 1..24, input_html: {style: "width: 45px;margin-left: -160px;"} %>
                  <%= ff.input :close, as: :select, label: false, collection: 1..24, input_html: {style: "width: 45px;margin-left: -160px;"} %>
                </div>
              <% end %>
              <div class="clearfix"></div>
              <div class="form-actions">
                <%= f.submit "Update", class: "btn-primary" %>
                </div>
              </div>
            <% end %>
            <br/>
            <br/>
            <h3>Cancel my account</h3>

            <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

            <%= link_to "Back", :back %>

