
<script>
  function countChar(val){
    var len = val.value.length;
    if (len >= 500) {
      val.value = val.value.substring(0, 500);
    }else {
      $('#charNum').text(len);
    }
  };
</script>
<!--<script type="text/javascript">
  $(document).ready(function(){
    $("input#same").click(function(){
      if ($("input#same").is(':checked'))
      {
        // Checked, copy values
        $("input#open-hour").val($("input#email").val());
        $("input#close-hour").val($("input#name").val());
      }
      else
      {
        // Clear on uncheck
        $("input#open-hour").val("");
        $("input#close-hour").val("");
      }
    });
  });
</script>-->
<script type="text/javascript">
  $(document).ready(function() {
    var sport_teams = [];
<% SportTeam.all.each do |b| %>
      var x = [];
      x.push('name: <%= b.to_json %>');//0
      x.push('id: <%= b.to_json %>');//0
      sport_teams.push(x);
<% end %>
    var include_sport_list = [];
<%  unless current_bar.sports_team.blank? %>
  <%  sports_team = current_bar.sports_team.split(',') %>
  <%  sports_team.each do |team| %>
        include_sport_list.push({'id': '<%= team %>', 'name': '<%= team %>'});
  <% end %>
<% end%>

    $("#tk_sports").tokenInput("/bars/sport_lists", {
      theme: "facebook",
      preventDuplicates: true,
      prePopulate: include_sport_list
    });
  });

</script>
<ul class="tabs" data-tabs="tabs">
  <li class="active"><a href="#bar" data-toggle="tab"><h5>Bar</h5></a></li>
  <li><a href="#link" data-toggle="tab"><h5>Link</h5></a></li>
  <li><a href="#location" data-toggle="tab"><h5>Location</h5></a></li>
  <li><a href="#hour" data-toggle="tab"><h5>Hour</h5></a></li>
</ul>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true , class: "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>
    <div class="tab-content">
      <div class="tab-pane active" id="bar">
        <%= f.input :email %>
        <%= f.input :name %>
    <%#= f.input :bar_hour, label: "Bar Hour" %>
        <%= f.input :phone_number %>
    <%#= f.input :sports_team, label: false, required: false, input_html: {id: "mytags", multiple: true,  style: "width:150px;overflow: hidden;"}%>
    <%#= f.input :sports_team_list, required: false, input_html: {id: "tk_sports"} %>
        <%= f.input :sports_team, required: false, input_html: {id: "tk_sports"} %>
        <%= f.input :bar_description, label: "Description", input_html: {style: "width: 350px;height: 150px;", onkeyup: "countChar(this)"} %>
        <div class="pull-right"id="charNum"></div>
        <div class="form-actions">
          <%= f.submit "Update", class: "btn-primary" %>
          </div>
        </div>
        <div class="tab-pane" id="link">
          <%= f.input :website_link %>
          <%= f.input :facebook_link %>
          <%= f.input :twitter_link %>
          <%= f.input :google_plus_link %>
          <div class="form-actions">
            <%= f.submit "Update", class: "btn-primary" %>
            </div>
          </div>
          <div class="tab-pane" id="location">
            <%= f.input :address %>
            <%= f.input :zip_code %>
            <%= f.input :city, as: :select, collection: avaliable_cities %>
            <div class="form-actions">
              <%= f.submit "Update", class: "btn-primary" %>
              </div>
            </div>
            <div class="tab-pane" id="hour">
              <%= f.fields_for :bar_hours do |ff| %>
                <div class="span4">
                  <div class="span2">
                    <b style="margin-left: 30px;"><%= ff.object.day %></b>
                    <%= ff.input :open_hour, as: :select, label: false, collection: hours_collection, input_html: {id: "open_hour#{ff.object.id}", style: "width: 45px;margin-left: -160px;"} %>
                    <%= ff.input :close, as: :select, label: false, collection: hours_collection, input_html: {id: "close_hour#{ff.object.id}", style: "width: 45px;margin-left: -160px;"} %>
                  </div>
                  <div class="span1" style="margin-top: 12px;">
                    <%= ff.input :open_word, as: :select, label: false, collection: [["am", "am"],["pm","pm"]], input_html: {id: "open_w#{ff.object.id}", style: "width: 45px;margin-left: -160px;"} %>
                    <%= ff.input :close_word, as: :select, label: false, collection: [["am", "am"],["pm","pm"]], input_html: {id: "close_w#{ff.object.id}", style: "width: 45px;margin-left: -160px;"} %>
                    <% unless ff.object.day.eql?("Monday") %>
                      Same?:<input id="same<%= ff.object.id %>" class="day_bar" name="same" type="checkbox" day_bar="<%= ff.object.id %>"/>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <div class="clearfix"></div>
              <div class="form-actions">
                <%= f.submit "Update", class: "btn-primary" %>
                </div>
              </div>
            <% end %>
            <br/>
            <br/>
            <h3>Cancel my account</h3>

            <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

            <%= link_to "Back", :back %>

            <script type="text/javascript">
              $(document).ready(function(){
                $(".day_bar").click(function(){
                  var day = $("#"+this.id).attr("day_bar");
                  day_last = day - 1
                  var open = $("#open_hour"+day_last+" > option:selected").text();
                  var close = $("#close_hour"+day_last+" > option:selected").text();
                  var openw = $("#open_w"+day_last+" > option:selected").text();
                  var closew = $("#close_w"+day_last+" > option:selected").text();
                 
                  //if ($("#"+this.id).attr('checked', true) && open != "" && close != "" && openw != "" && closew != ""){
                  if ($("#"+this.id).attr('checked', true)){

                    $("#open_hour"+day+" > option").eq(open).attr("selected","selected")
                    $("#close_hour"+day+" > option").eq(close).attr("selected","selected")
                    $("#open_w"+day+" > option").eq(openw).attr("selected","selected")
                    $("#close_w"+day+" > option").eq(closew).attr("selected","selected")
                   
                  }else{
                    $("#"+this.id).attr('checked', false);
                    $("#open_hour"+day+" > option").eq(open).attr("selected","")
                    $("#close_hour"+day+" > option").eq(close).attr("selected","")
                    $("#open_w"+day+" > option").eq(openw).attr("selected","")
                    $("#close_w"+day+" > option").eq(closew).attr("selected","")
                  }
                });
              });
            </script>