<script type="text/javascript">
  $(document).ready(function(){
    $("abbr").hide();
  });
</script>
<div class="page-header">
  <h2>Bar Sign up</h2>
</div>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="container span11" style="margin-top: 20px;">
    <%= f.input :name, required: true %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :terms, as: :boolean, :label => "I agree to swigBIG.com's <a data-toggle='modal' href='#termModal'>Terms of Service</a> Service before registration is complete"  %>
    <%= f.submit "Sign Up", :class => 'btn', :style => 'margin-left:200px;' %>
  </div>
<% end %>
<div class="span5 pull-left">
  <%= render "links" %>
</div>

<%= content_for :outer do %>
  <div id="termModal" class="modal hide fade">
    <div class="modal-header">
      <a class="close" data-dismiss="modal"><b>x</b></a>
      <h3>Terms of Service</h3>
    </div>
    <div class="modal-body well">
      <%= (@site_content.term_of_service).html_safe rescue nil %>
    </div>
  </div>
<% end %>
