<div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;" >

  <% unless user_signed_in? %>

    <a class="" data-role="button" onclick="window.location.href='<%= main_home_url(:mobile) %>'"  style="width: 49%;">DEALS</a>
    <a class="" data-role="button" onclick="window.location.href='<%= mobile_dashboard_home_url(:mobile) %>'"  style="width: 49%;">LOG IN</a>

  <% else %>

    <a class="" data-role="button" onclick="window.location.href='<%= main_home_url(:mobile) %>'"  style="width: 33%;">Deals</a>
    <a class="" data-role="button" onclick="window.location.href='<%= users_mobile_reward_url(:mobile) %>'"  style="width: 33%;">Rewards</a>

    <% unless current_user.fb_id.blank? %>
      <a class="" data-role="button" onclick="window.location.href='<%= users_facebook_mobile_profile_url(:mobile) %>'"  style="width: 33%;">Account</a>
    <% else %>
      <a class="" data-role="button" onclick="window.location.href='<%= users_dashboard_url(:mobile) %>'"  style="width: 33%;">Account</a>
    <% end %>

  <% end %>

</div>