<% if user_signed_in? %>
  <% if current_user.bird_date.blank? %>

    <% if style_margin.eql?("user_no_side") %>
      <style type="text/css">
        .name_form {
          margin-left: 40px!important;
        }
        .location_form_group {
          margin-left: 185px!important;
        }
        .phone_form {
          margin-left: 200px!important;
        }
      </style>
    <% end %>

    <script type="text/javascript">
      function validate_name(){
        if($("#user_name").val() == ""){
          $('#user_name').css('border', '1px solid red');
          $('#validate_name').text('Name must fill!');
          valid_name = false;
        }else{
          $('#user_name').css('border', '1px solid black');
          //$('#user_email').html('email not match');
          valid_name = true;
        }
        if(valid_name){
          $('#goto_profile').click();
        }
      }

      function validate_bird_date(){
        if($('.user_bird_date').val() == ""){
          //$('#user_bird_date').css('border', '1px solid red');
          $('#validate_bird_date').text('Bird Date Must Fill!');
          valid_bird_date = false;
        }else{
          //$('#user_bird_date').css('border', '1px solid black');
          //$('#user_email').html('email not match');
          valid_bird_date = true;
        }
        if(valid_bird_date){
          $('#goto_address_modal').click();
        }
      }

      /*function validate_address(){
        if($('#user_address').val() == '' && $('#user_zip_code').val() == '' && $('#user_city').val() == '' && $('#user_state').val() == ''){
          $('#user_address').css('border', '1px solid red');
          $('#user_zip_code').css('border', '1px solid red');
          $('#user_city').css('border', '1px solid red');
          $('#user_state').css('border', '1px solid red');
          valid_address = false;
        }else{
          $('#mytags').css('border', '1px solid black');
          valid_address = true;
        }
        if(valid_address){
          $('#goto_final_modal').click();
        }
      }*/

      $('#goto_check_data').click();
      get_all_data();

      function get_all_data(){
        $('#name').html($('#user_name').val());
        $('#born_date').html($($(".user_bird_date")[0]).val()+"-"+$($(".user_bird_date")[1]).val()+"-"+$($(".user_bird_date")[2]).val());
        $('#user_phone').html($('#user_phone_number').val());
        $('#user_address_text').html($('#user_address').val());
        $('#modal_zip_code').html($('#user_zip_code').val());
        $('#user_city_text').html($('#user_city').val());
        $('#user_state_text').html($('#user_state').val());
      }

      //-- show image
      function setWatermarkImage(watermarkfile){
        var reader = new FileReader();
        reader.onload = function(evt){
          var newImage = new Image();
          newImage.addEventListener("load", function() {
            $("#avatar").children().attr("src", newImage.src);

          }, false);
          newImage.src = evt.target.result;
        };
        reader.readAsDataURL(watermarkfile);
      }

      $(document).ready(function(){
        //$('#completion_link').click();
        $("#user_avatar").change(function(evt){
          evt.preventDefault();
          var wmFile = evt.target.files[0];
          setWatermarkImage(wmFile);
        });
      })
    </script>
    <style type="text/css">
      .modal{
        width: 600px!important;
        overflow: hidden!important;
      }
    </style>


                                                                                                                <!--<div class="alert alert-danger" style="margin-top: 50px;text-align: center;" id="red_notice"><i class="icon-warning-sign"></i><b> <%= (current_user.name || "" ).split(" ").first %></b> Profile not complete yet!Click <a href="#ask" data-toggle="modal" id="completion_link">here</a> to complete your profile!<a class="close" onclick="$('#red_notice').toggle()"><b>x</b></a></div>-->
    <div class="alert alert-danger" style="margin-top: 50px;text-align: center;" id="red_notice"><i class="icon-warning-sign"></i><b> <%= (current_user.name || "" ).split(" ").first %></b> Profile not complete yet!Click <a href="#user_details" data-toggle="modal" id="completion_link">here</a> to complete your profile!<a class="close" onclick="$('#red_notice').toggle()"><b>x</b></a></div>


    <%= content_for :outer do %>
      <div id="ask" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><b>x</b></a>
          <h3 style="text-align: center;">Profile Verification </h3>
        </div>
        <div class="modal-body">
          <div style="text-align: center;">
            <b>Your User Profile not Complete Yet, Would you like to complete now?</b>
          </div>
          <div style="text-align: center;">
            <a href="#user_details" data-toggle="modal" data-dismiss="modal" class="btn" >Yes</a>
            <%= link_to "No", root_path, class: "btn" %>
            </div>
          </div>
          <div class="modal-avatarfooter">
          </div>
        </div>
        <div id="user_details" class="modal hide fade">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><b>x</b></a>
            <h3 style="text-align: center;">Complete your Profile.</h3>
          </div>
          <%= simple_form_for(current_user,url: users_update_completion_path, method: :post, html: {class: "form-horizontal" , multipart: true}) do |f| %>
              <div class="modal-body">
            <%#= devise_error_messages! %>
                <b style="color: red;"><div id="validate_name"></div></b>
            <%#= f.input :email, input_html: {value: ""} %>
                <div style="margin-left: 200px;" class="name_form">
                  <%= f.input :name %>
                </div>
              </div>
              <div class="modal-footer">
                <a class="btn" onclick="return validate_name()">Continue</a>
                <a href="#user_second_profile" data-toggle="modal" data-dismiss="modal" class="btn" id="goto_profile" style="display:none;">Continue</a>
                <!--<a href="#user_second_profile" data-toggle="modal" data-dismiss="modal" class="btn" id="goto_link">Continue</a>-->
              </div>
            </div>

            <div id="user_second_profile" class="modal hide fade">
              <div class="modal-header">
                <a class="close" data-dismiss="modal"><b>x</b></a>
                <h3 style="text-align: center;">User Profile Detail?</h3>
              </div>
              <div class="modal-body">
                <b style="color: red;"><div id="validate_bird_date"></div></b>
                <%= f.input :bird_date, as: :date, start_year: Date.today.year - 90,end_year: Date.today.year - 19,
                  order: [:day, :month, :year], input_html: {style: "width: 80px;margin: 10px;", class: "user_bird_date"}, include_blank: true, required: true %>
                  <div style="margin-left: 70px;">Avatar</div>
                  <div style="margin-left: 145px;margin-top: -20px;">
                    <%= f.input :avatar, label: false %>
                  </div>
                  <div style="margin-left: 70px;">Phone Number</div>
                  <div style="margin-left: 280px;margin-top: -20px;" class="phone_form">
                    <%= f.input :phone_number, label: false %>
                  </div>
                </div>
                <div class="modal-footer">
                  <a class="btn" onclick="return validate_bird_date();">Continue</a>
                  <a href="#user_location" data-toggle="modal" data-dismiss="modal" class="btn" id="goto_address_modal" style="display:none;">Continue</a>
                  <a class="btn" href="#user_details" data-dismiss="modal" data-toggle="modal">Back</a>
                </div>
              </div>

              <div id="user_location" class="modal hide fade">
                <div class="modal-header">
                  <a class="close" data-dismiss="modal"><b>x</b></a>
                  <h3 style="text-align: center;">What Your Address?</h3>
                </div>
                <div class="modal-body">
                  <div style="margin-left: 280px;" class="location_form_group">
                    <%= f.input :address , label: false, placeholder: "Address" %>
                    <%= f.input :zip_code, label: false, placeholder: "Zip Code"  %>
                    <%= f.input :city, label: false, placeholder: "City"  %>
                    <%= f.input :state, label: false, placeholder: "State"  %>
                  </div>
                </div>
                <div class="modal-footer">
                  <!--<a class="btn" onclick="return validate_address();">Continue</a>
                  <a class="btn" href="#check_data" data-dismiss="modal" data-toggle="modal" onclick="return get_all_data();" id="goto_final_modal" style="display: none;">Continue</a>-->
                  <a class="btn" href="#check_data" data-dismiss="modal" data-toggle="modal" onclick="return get_all_data();" id="goto_final_modal">Continue</a>
                  <a class="btn" href="#user_second_profile" data-dismiss="modal" data-toggle="modal">Back</a>
                </div>
              </div>
              <div id="check_data" class="modal hide fade">
                <div class="modal-header">
                  <a class="close" data-dismiss="modal"><b>x</b></a>
                  <h3 style="text-align: center;">Did we get it all?</h3>
                </div>
                <div class="modal-body">
                  <table style="border-style: none;">
                    <tr>
                      <td><b>Name : </b></td>
                      <td><div id="name"></div></td>
                      <td><div class="pull-right" id="avatar"><img style="height: 150px;"/></div></td>
                    </tr>
                    <tr>
                      <td><b>Bird Date : </b></td>
                      <td><div id="born_date"></div></td>
                      <td><b>Phone Number : </b></td>
                      <td><div id="user_phone"></div></td>
                    </tr>
                    <tr>
                      <td><b>Address : </b></td>
                      <td><div id="user_address_text"></div></td>
                      <td><b>Zip Code : </b></td>
                      <td><div id="modal_zip_code"></div></td>
                    </tr>
                    <tr>
                      <td><b>City : </b></td>
                      <td><div  id="user_city_text"></div></td>
                      <td><b>State : </b></td>
                      <td><div  id="user_state_text"></div></td>
                    </tr>
                  </table>

                </div>
                <div class="modal-footer">
                  <a class="btn" data-dismiss="modal" data-toggle="modal">Cancel</a>
                  <a class="btn" href="#user_location" data-dismiss="modal" data-toggle="modal">Back</a>
                  <%= f.submit "Submit", class: "btn-primary" %>
                  </div>
                </div>
              <% end %>
            <% end %>

          <% end %>
        <% end %>