<%#= "Live Swig Feed: #{@user_swig_feed.user.name rescue nil} at " %><%#= link_to @user_swig_feed.bar.name, bar_profile_path(@user_swig_feed.bar) %>
<% unless @user_swig_feed.blank? %>
  <% if @user_swig_feed.verb.eql?("loyalty reward") %>
    <%= "Live Swig Feed: #{@user_swig_feed.actor.name rescue nil} got loyalty reward at " %><%= link_to @user_swig_feed.object.name, bar_profile_path(@user_swig_feed.object) %>
  <% elsif @user_swig_feed.verb.eql?("popularity reward") %>
    <%= "Live Swig Feed: #{@user_swig_feed_actor.name rescue nil} got popularity reward at " %><%= link_to @user_swig_feed_object.name, bar_profile_path(@user_swig_feed_object) %>

  <% elsif @user_swig_feed.verb.eql?("bigswig unlock") %>
    <%= "Live Swig Feed:  Unlocked Bigswig at" %>&nbsp;<%= link_to @user_swig_feed.object.name, bar_profile_path(@user_swig_feed.object) %>

  <% elsif @user_swig_feed.verb.eql?("user swiging") %>
    <%= "Live Swig Feed: #{@user_swig_feed.actor.name rescue nil} swiging at  "%>&nbsp;<%= link_to @user_swig_feed.object.name, bar_profile_path(@user_swig_feed.object) %>
  <% end %>

<% else %>
    <div>Live Swig Feed: No users feed yet!</div>
<% end %>

