<%= content_for :js_footer do %>
  <%= javascript_include_tag "jquery.shorten.1.0", "bootstrap-collapse" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".comment").shorten({
        "showChars" : 50,
        "moreText"  : "See More",
        "lessText"  : "Less"
      });
    });
  </script>
<% end %>

<% @bars.each do |bar| %>
  <tr>

    <% unless params[:swig_type].blank? %>
      <% bar.swigs.today.where(:swig_type => params[:swig_type]).limit(1).each do |swig| %>
        <td><div class="comment"><%= swig.deal %></div></td>
        <td>
          <% if  swig.swig_type.eql?("Big") %>
            <button class="btn-warning" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
              <%= swig.swig_type %>
            </button>
            <b>Req: </b><%= swig.people %> people
          <% else %>
            <button class="btn-primary" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
              <%= swig.swig_type %>
            </button>
          <% end %>
        </td>
      <% end %>
    <% else %>
      <td><div class="comment"><%= n_line(bar.swigs.first.deal) %></div></td>
      <td style="text-align: center;">
        <% unless bar.swigs.today.big.blank? %>
          <b class="btn-success" style="text-align: center;padding-right: 8px;padding-left: 8px;padding-top: 3px;padding-bottom: 3px;border-radius: 3px;">Y</b>
        <% else %>
          <b class="btn-danger" style="text-align: center;padding-right: 8px;padding-left: 8px;padding-top: 3px;padding-bottom: 3px;border-radius: 3px;">N</b>
        <% end %>
      </td>
    <% end %>
    <td><b><%= link_to  bar.name, bar_profile_path(bar) rescue nil %></b></td>
    <td>
      <%=  begin
        sprintf("%.2f",Geocoder::Calculations.distance_between([@city_lat_lng[1].to_f, @city_lat_lng[2].to_f], [bar.latitude, bar.longitude]))
      rescue
      end %> miles
    </td>
  </tr>

<% end %>
