<% @swigs.each do |swig| %>
  <tr>
    <td>
      <b class="pull-left"><%= link_to  truncate(swig.deal, length: 20), bar_profile_path(swig.bar), input_html: {rel: "popover", title: swig.deal.to_s} %></b>
    </td>
    <td>
      <% if  swig.swig_type.eql?("Big") %>
        <button class="btn-warning" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
          <%= swig.swig_type %>
        </button>
        <b>Req: </b><%= swig.people %> people
      <% else %>
        <button class="btn-primary" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
          <%= swig.swig_type %>
        </button>
      <% end %>
    </td>
    <td>
      <b><%= link_to  swig.bar.name, bar_profile_path(swig.bar) %></b>
    </td>
    <td>
      <%=begin
        sprintf("%.2f",Geocoder::Calculations.distance_between([@geo.latitude, @geo.longitude], [swig.latitude, swig.longitude]))
      rescue
      end %> miles
    </td>
  </tr>
<% end %>
