<% @bars.each do |bar| %>
  <tr>

    <% unless params[:swig_type].blank? %>
      <% bar.swigs.where(:swig_type => params[:swig_type]).limit(1).each do |swig| %>
        <td><%= swig.deal %></td>
        <% if  swig.swig_type.eql?("Big") %>
          <td>
            <button class="btn-warning" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
              <%= swig.swig_type %>
            </button>
            <b>Req: </b><%= swig.people %> people
          </td>
        <% else %>
          <td>
            <button class="btn-primary" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
              <%= swig.swig_type %>
            </button>
          </td>
        <% end %>
      <% end %>
    <% else %>
      <% bar.swigs.today.limit(1).each do |swig| %>
        <td><%= n_line(swig.deal) %></td>
        <% if  swig.swig_type.eql?("Big") %>
          <td>
            <button class="btn-warning" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
              <%= swig.swig_type %>
            </button>
            <b>Req: </b><%= swig.people %> people
          </td>
        <% else %>
          <td>
            <button class="btn-primary" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
              <%= swig.swig_type %>
            </button>
          </td>
        <% end %>
      <% end %>
    <% end %>
    <td><b><%= link_to  bar.name, bar_profile_path(bar) rescue nil %></b></td>
    <td>
      <%=  begin
        sprintf("%.2f",Geocoder::Calculations.distance_between([@city_lat_lng[1].to_f, @city_lat_lng[2].to_f], [bar.latitude, bar.longitude])) 
      rescue
      end %> miles
    </td>
  </tr>
<% end %>
