<div data-role="page" id="swig_list_page" onclick="initialize()">
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" style="margin: 5px;width: 100%;">
      <h3>Select your Bar:</h3>
    </div>
  </div>

  <div data-role="content" >
    <table class="zebra-striped">
      <th>Bar Name</th>
      <th>Distance</th>
      <tbody id="main_swigs_list">
        <% @bars.each do |bar| %>
          <tr>
            <td><%= link_to  bar.name, bar_profile_path(bar,:mobile) %></td>
            <td><%=  begin
                sprintf("%.2f",Geocoder::Calculations.distance_between([@city_lat_lng[1].to_f, @city_lat_lng[2].to_f], [bar.latitude, bar.longitude]))
              rescue
              end %> miles</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- /content -->

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 97%;">
      <a data-role="button" style="width: 100%;margin: 5px;" class="btn-primary" onclick="window.location.href='<%= main_home_path(:mobile)%>'" >CANCEL</a>
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div><!-- /footer -->
</div>