<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  #map_home_canvas { height: 325px ; width: 620px;}
</style>
<style type="text/css">
  .string{margin-left: -70px;}
  .select{margin-left: -70px;}
</style>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88&sensor=true">
</script>
<script type="text/javascript">
  function initialize() {
    var latlo = new google.maps.LatLng(<%= @city.latitude rescue nil %>, <%= @city.longitude rescue nil%>);
    var myOptions = {
      center: latlo,
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_home_canvas"), myOptions);

    //    var bar = <%= Bar.where(city: @city.name).map{|b| [b.latitude, b.longitude, b.name]} %>;
    var bar = <%= Bar.all.map{|b| [b.latitude, b.longitude]} %>;

    var marker, i;

    for (i = 0; i < bar.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(bar[i][0], bar[i][1]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(bar[i][2]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  }

  
</script>

<body onload="initialize()">


  <%= content_for :side do %>
    <h4><%= @city.name %></h4>
    <ul>
      <li id="fat-menu" class="dropdown" style="list-style: none;">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Select City</b></a>
        <ul class="dropdown-menu">
          <% City.order(:name).each do |c| %>
            <li>
              <%= link_to c.name, city_home_path(c), method: :get %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>

    <%= simple_form_for(@search, url: city_home_path) do |f|%>
    <%#= f.input :bar_city_contains, label: false, placeholder: "Search by City",required: false %>
      <div class="accordion-group">
        <div class="accordion-heading" style="margin-left: 10px;">
          <div class="accordion-inner">
            <a class="" data-toggle="collapse" data-target="#search" style="color: black;"><b>More Search</b></a>
          </div>
        </div>
      </div>
      <div id="search" class="accordion-body collapse">
        <div class="accordion-inner" style="margin-left: 0px;">
          <b style="margin-left: 60px;">Swig Type</b><br/>
          <%= f.input :swig_type_contains,label: false, as: :select, collection: [["Standard","Standard"],["Big","Big"]], placeholder: "Search by Type",required: false %>
          <b style="margin-left: 60px;">Sports teams</b>
          <%= f.input :bar_sports_team_contains,as: :select, label: false, collection: sport_teams_collection, placeholder: "Sports Team",required: false %>
          <b style="margin-left: 60px;">Radius in Mile</b>
          <%= f.input :bar_sports_team_contains ,as: :select, label: false, collection: radius_collection, placeholder: "Sports Team",required: false %>
          <%= f.input :bar_zip_code_contains, label: false, placeholder: "Zip Code", required: false, input_html: {style: "width: 100px;"} %>
          <%= f.submit "Search", class: "btn-mini btn-primary pull-left" %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="clearfix"></div>
    <div class="clearfix"></div>

    <ul class="tabs" data-tabs="tabs">
      <li><a href="#list" data-toggle="tab"><h3>List</h3></a></li>
      <li class="active"><a href="#map" data-toggle="tab"><h3>Map</h3></a></li>
      <!--<li><a href="#reward" data-toggle="tab"><h3>Reward</h3></a></li>-->
    </ul>

    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="map"><!-----bar map------>
        <div id="map_home_canvas">
          <%= image_tag("http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88") %>
        </div>
      </div>

      <div class="tab-pane" id="list"><!-----list of swig------>
        <table class="zebra-striped">
          <th>Deals</th>
          <th>swigBIG Deals</th>
          <th>Bar Name</th>
          <th>Distance</th>
  <%# @swigs.where("swig_day = '#{Date.today.strftime("%A").to_s}' OR swig_day = 'all'").each do |swig| %>
          <% @swigs.where("swig_day = '#{Date.today.strftime("%A").to_s}' OR swig_day = 'all'").each do |swig| %>
            <tr>
              <td>
                <!--<b class="pull-left"><%#= link_to  swig.deal, bar_profile_path(swig.bar_id) %></b>-->
                <b class="pull-left"><%= link_to  swig.deal, bar_path(swig.bar) %></b>
              </td>
              <td>
                <% if  swig.swig_type.eql?("Big") %>
                  <button class="btn-warning" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
                    <%= swig.swig_type %>
                  </button>
                  <!--<b>Required: </b><%#= swig.people %> people-->
                <% else %>
                  <button class="btn-primary" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
                    <%= swig.swig_type %>
                  </button>
                <% end %>
              </td>
              <td>
                <%= link_to  swig.bar.name, bar_profile_users_path(swig.bar) %>
              </td>
              <td>
                <%=begin
                  sprintf("%.2f",Geocoder::Calculations.distance_between([@city.latitude,@city.longitude], [swig.bar.latitude, swig.bar.longitude]))
                rescue
                end %> mile
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <!--<div class="tab-pane" id="reward">
        <ul class="tabs" data-tabs="tabs">
          <li><a href="#side_loyalty" data-toggle="tab"><h4>Loyalty</h4></a></li>
          <li><a href="#side_popularity" data-toggle="tab"><h4>Popularity</h4></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="side_loyalty">
            <table class="zebra-striped">
              <th>Loyality</th>
              <th class="pull-right">Bar name</th>
  <%# @loyalty.each do |l| %>
                <tr>
                  <td>
  <%#= l.reward_detail %>
                  </td>
                  <td class="pull-right">
  <%#=  link_to l.bar.name, bar_profile_path(l.bar_id) %>
                  </td>
                </tr>
  <%# end %>
            </table>
          </div>
          <div class="tab-pane" id="side_popularity">
            <table class="zebra-striped">
              <th>Popularity</th>
              <th class="pull-right">Bar name</th>
  <%# @popularity.each do |l| %>
                <tr>
                  <td>
  <%#= l.reward_detail %>
                  </td>
                  <td class="pull-right">
  <%#=  link_to l.bar.name, bar_profile_path(l.bar_id) %>
                  </td>
                </tr>
  <%# end %>
            </table>
          </div>
        </div>
      </div>-->

    </div>


