<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  #map_canvas { height: 550px ; width: 275px;}
</style>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88&sensor=true">
</script>
<script type="text/javascript">
  function initialize() {
    var latlo = new google.maps.LatLng(<%= @geo.lat %>, <%= @geo.lng %>)
    var myOptions = {
      center: latlo,
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
    myOptions);
    var marker = new google.maps.Marker({
      position: latlo,
      map: map
    });
  }
</script>

<body onload="initialize()">
  <%= content_for :side do %>
    <%= @geo.country rescue "nilll" %>
    <%= @geo.city rescue "nill"%>
    <%= simple_form_for(@search, url: root_path) do |f|%>
      <%= f.input :bar_city_contains, label: false, placeholder: "Search by City",required: false %>
      <div class="accordion-group">
        <div class="accordion-heading" style="margin-left: 20px;">
          <div class="accordion-inner">
            <a class="" data-toggle="collapse" data-target="#search" style="color: black;"><b>More Search</b></a>
            <%= f.submit "Search", class: "btn-mini btn-primary pull-right" %>
            </div>
          </div>
        </div>
        <div id="search" class="accordion-body collapse">
          <div class="accordion-inner" style="">
            <%= f.input :swig_type_contains, as: :select, collection: [["Standard","Standard"],["Big","Big"]], placeholder: "Search by Type",required: false %>
            <%= f.input :bar_zip_code_contains, label: false, placeholder: "Zip Code", required: false, input_html: {style: "width: 100px;"} %>
      <%#= f.input :bar_sports_team_contains,label: false, placeholder: "Sports team", required: false %>
          </div>
        </div>
      <% end %>
    <% end %>


    <%= content_for :swig_slogan do %>
      <div  style="text-align: center">
        <div style="float:left;width: 25%">
          <h6>COSTOMER REWARDS</h6>
        </div>
        <div style="float:left;width: 25%">
          <h6>INNOVATIVE TIERED <br /> SWIG SPECIALS</h6>
        </div>
        <div style="float:left;width: 25%">
          <h6>INTEGRATED MARKETING</h6>
        </div>
        <div style="float:left;width: 25%">
          <h6>REDUCED EXPENSES</h6>
        </div>
      </div>
    <% end %>

    <div class="clearfix"></div>
    <div class="clearfix"></div>
    <ul class="tabs" data-tabs="tabs">
      <li><a href="#map" data-toggle="tab"><h3>Map</h3></a></li>
      <li><a href="#list" data-toggle="tab"><h3>List</h3></a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="map">
        <div id="map_canvas" style="margin-left: -25px;">
          <%= image_tag("http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88&markers=#{@geo.lat}%2C#{@geo.lng}") %>
        </div>
      </div>
      <div class="tab-pane active" id="list">
        <% @swigs.where("swig_day = '#{Date.today.strftime("%A").to_s}' OR swig_day = 'all'").each do |swig| %>
          <div class="well span9">
            <div class="span3">
              <b class="pull-left"><%= link_to  swig.deal, bar_profile_path(swig.bar_id) %></b>
            </div>
            <% if  swig.swig_type.eql?("Big") %>
              <button class="btn-warning" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
                <%= swig.swig_type %>
              </button>
              &nbsp; <b>Required: </b><%= swig.people %> people
            <% else %>
              <button class="btn-primary" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
                <%= swig.swig_type %>
              </button>
            <% end %>
      <!--<b class="pull-right"><%#= link_to  Bar.find(swig.bar_id).name, bar_profile_path(swig.bar_id) %></b>-->
          </div>
    <%#= link_to  swig.deal, bar_swig_path(@bar.id, swig.id) %>
        <% end %>

      </div>
    </div>


