<div class="row-fluid">
  <div class="span3" style="text-align: center;">
    <h5 id="slogan1" style="padding-bottom: 35px;">CUSTOMER REWARDS<br/> </h5>
    <p id="p1" style="display: none;text-align: justify;padding: 5px;border-radius: 3px;">
      Swig give custumer reward for user in everywhere. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="span3" style="text-align: center;">
    <h5 id="slogan2" >INNOVATIVE TIERED <br/>SWIG SPECIALS</h5>
    <p id="p2" style="display: none;text-align: justify;padding: 5px;border-radius: 3px;">
      Swig give custumer reward for user in everywhere. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="span3" style="text-align: center;">
    <h5 id="slogan3" style="padding-bottom: 35px;">INTEGRATED MARKETING</h5>
    <p id="p3" style="display: none;text-align: justify;padding: 5px;border-radius: 3px;">
      Swig give custumer reward for user in everywhere. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="span3" style="text-align: center;">
    <h5 id="slogan4" style="padding-bottom: 35px;">REDUCED EXPENSES</h5>
    <p id="p4" style="display: none;text-align: justify;padding: 5px;border-radius: 3px;">
      Swig give custumer reward for user in everywhere. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="clearfix"></div>
  <div class="span11">
    <div style="text-align: center;">
      <br/>
<%#= button_to "Go To SwigBIG", main_home_path, method: :get, class: "btn-primary" %>
      <% unless current_bar %>
        <%= button_to  "Sign up FREE!", "/sign_up", :class => "btn-primary btn-large", method: :get %>
      <% end %>
      <%= image_tag "/assets/available_on_android.png" %>
      <%= image_tag "/assets/available_on_app_store.png" %>
    </div>

  </div>
  <div class="span11">
    <div style="text-align: center;">
      <br/>
    </div>
  </div>
</div>

<%= content_for :outer do %>
  <div id="sign_up" class="modal hide fade">
    <div class="modal-header">
      <a class="close" data-dismiss="modal"><b>x</b></a>
      <h3 style="text-align: center;">Sign Up as?</h3>
    </div>
    <div class="modal-body">
      <div style="text-align: center;">
        <b><%= button_to  "Bar", new_bar_registration_path, class: "btn-primary", method: :get %></b>
          &nbsp;
          <b>Or</b>
          &nbsp;
          <b><%= button_to "User",  new_user_registration_path, class: "btn-primary", method: :get %></b>
          </div>
        </div>
      </div>
    <% end %>

    <script type="text/javascript">
      $("#slogan1").hover(function () {
        $("#p1").slideToggle("slow");
      });
      $("#slogan2").hover(function () {
        $("#p2").slideToggle("slow");
      });
      $("#slogan3").hover(function () {
        $("#p3").slideToggle("slow");
      });
      $("#slogan4").hover(function () {
        $("#p4").slideToggle("slow");
      });
    </script>
