<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  #map_home_canvas { height: 275px ; width: 520px;}
</style>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88&sensor=true">
</script>
<script type="text/javascript">
  function initialize() {
    var latlo = new google.maps.LatLng(<%= @geo.lat rescue nil %>, <%= @geo.lng rescue nil%>)
    var myOptions = {
      center: latlo,
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_home_canvas"),
    myOptions);
    var marker = new google.maps.Marker({
      position: latlo,
      map: map
    });
  }
</script>

<body onload="initialize()">
  <%= content_for :side do %>
    <ul>
      <li id="fat-menu" class="dropdown" style="list-style: none;">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Select City</b></a>
        <ul class="dropdown-menu">
          <% City.order(:name).each do |c| %>
            <li>
              <%= link_to c.name, city_home_path(c.id), method: :get %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>

    <%= simple_form_for(@search, url: root_path) do |f|%>
    <%#= f.input :bar_city_contains, label: false, placeholder: "Search by City",required: false %>
      <div class="accordion-group">
        <div class="accordion-heading" style="margin-left: 20px;">
          <div class="accordion-inner">
            <a class="" data-toggle="collapse" data-target="#search" style="color: black;"><b>More Search</b></a>
            <%= f.submit "Search", class: "btn-mini btn-primary pull-right" %>
            </div>
          </div>
        </div>
        <div id="search" class="accordion-body collapse">
          <div class="accordion-inner" style="">
            <%= f.input :swig_type_contains, as: :select, collection: [["Standard","Standard"],["Big","Big"]], placeholder: "Search by Type",required: false %>
            <%= f.input :bar_zip_code_contains, label: false, placeholder: "Zip Code", required: false, input_html: {style: "width: 100px;"} %>
            <%= f.input :bar_sports_team_contains, label: false, placeholder: "Search by City",required: false %>
      <%#= f.input :bar_sports_team_contains,label: false, placeholder: "Sports team", required: false %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="clearfix"></div>

    <div class="clearfix"></div>
    <h4><%= @geo.city %></h4>
    <ul class="tabs" data-tabs="tabs">
      <li><a href="#list" data-toggle="tab"><h3>List</h3></a></li>
      <li class="active"><a href="#map" data-toggle="tab"><h3>Map</h3></a></li>
      <!--<li><a href="#reward" data-toggle="tab"><h3>Reward</h3></a></li>-->
    </ul>

    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="map">
        <div id="map_home_canvas">
          <%= image_tag("http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88&markers=#{@geo.lat rescue nil}%2C#{@geo.lng rescue nil}") %>
        </div>
      </div>

      <div class="tab-pane" id="list">
        <table class="zebra-striped">
          <th>Deals</th>
          <th>swigBIG Deals</th>
          <th>Bar Name</th>
          <th>Distance</th>
  <%# @swigs.where("swig_day = '#{Date.today.strftime("%A").to_s}' OR swig_day = 'all'").each do |swig| %>
          <% Swig.where("swig_day = '#{Date.today.strftime("%A").to_s}' OR swig_day = 'all'").each do |swig| %>
            <tr>
              <td>
                <b class="pull-left"><%= swig.deal %></b>
              </td>
              <td>
                <% if  swig.swig_type.eql?("Big") %>
                  <button class="btn-warning" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
                    <%= swig.swig_type %>
                  </button>
                  <!--<b>Required: </b><%#= swig.people %> people-->
                <% else %>
                  <button class="btn-primary" style="padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">
                    <%= swig.swig_type %>
                  </button>
                <% end %>
              </td>
              <td>
                <%= swig.bar.name %>
              </td>
              <td>
                <%= begin
                  sprintf("%.2f",Geocoder::Calculations.distance_between([@geo.lat,@geo.lng], [swig.bar.latitude, swig.bar.longitude]))
                rescue
                end %> mile
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <!--<div class="tab-pane" id="reward">
        <ul class="tabs" data-tabs="tabs">
          <li><a href="#side_loyalty" data-toggle="tab"><h4>Loyalty</h4></a></li>
          <li><a href="#side_popularity" data-toggle="tab"><h4>Popularity</h4></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="side_loyalty">
            <table class="zebra-striped">
              <th>Loyality</th>
              <th class="pull-right">Bar name</th>
  <%# @loyalty.each do |l| %>
                <tr>
                  <td>
  <%#= l.reward_detail %>
                  </td>
                  <td class="pull-right">
  <%#=  link_to l.bar.name, bar_profile_path(l.bar_id) %>
                  </td>
                </tr>
  <%# end %>
            </table>
          </div>
          <div class="tab-pane" id="side_popularity">
            <table class="zebra-striped">
              <th>Popularity</th>
              <th class="pull-right">Bar name</th>
  <%# @popularity.each do |l| %>
                  <tr>
                    <td>
  <%#= l.reward_detail %>
                    </td>
                    <td class="pull-right">
  <%#=  link_to l.bar.name, bar_profile_path(l.bar_id) %>
                    </td>
                  </tr>
  <%# end %>
            </table>
          </div>
        </div>
      </div>-->

    </div>
  </body>

