<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  #map_home_canvas { height: 325px ; width: 620px;}
</style>
<style type="text/css">
  .string{margin-left: -80px;}
  .select{margin-left: -80px;}
</style>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88&sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
    var myOptions = {
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_home_canvas"), myOptions);
<% if @origin.class.eql?(String) %>
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode( {'address': '<%= @origin %>'}, function(results, status) {
        map.setCenter(results[0].geometry.location);
      });
<% else %>
      map.setCenter(new google.maps.LatLng(<%= @origin.first %>, <%= @origin.last %>));
      var image = "<%= "/assets/user_blue.png" %>";
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= @origin.first %>, <%= @origin.last %>),
        map: map,
        icon: image,
        title: "title"
      });
<% end %>
  
    var bar = [];
<% @bars.each do |b| %>
  <%# @bars.where(city: @city_lat_lng[0].to_s, id: swig_bars).each do |b| %>
      var x = [];
      x.push(<%= b.latitude rescue nil %>);//0
      x.push(<%= b.longitude rescue nil %>);//1
      x.push('<%= b.id rescue nil %>');//2
      x.push('<%=j link_to  b.name, bar_profile_path(b) rescue nil %>');//3
      x.push('<%= b.zip_code rescue nil %>');//4
      x.push('<%= b.sports_team.gsub(",", "<br/>").html_safe rescue nil %>');//5
      x.push('<%= n_line(b.swigs.today.lock_status_active.first.deal) rescue "No Swig Today" %>');//6
      x.push('<%= b.swigs.today.first.lock_status rescue nil %>');//7
      x.push('<%= b.swigs.today.first.people rescue nil %>');//8

      bar.push(x);
<% end %>

    function addInfoWindow(marker, newMarker){
      var infowindow = new google.maps.InfoWindow({
        content: newMarker.info
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
      });
    }

    var infowindow = new google.maps.InfoWindow();

    for (var i = 0; i < bar.length; i++) {
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(bar[i][0], bar[i][1]),
        map: map
      });

      var htmlcontent = '<div style="height: 120;width: 120px;border-radius: 5px"><b>'+bar[i][2]+'</b>'+'<br/>'+bar[i][3]+'</div>';

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          if (bar[i][5] == "unlock"){
            var lock_status =  '<%= image_tag("/assets/Unlock-icon.png", style: "height: 30px;") %>'
          }else{
            var lock_status =  '<%= image_tag("/assets/Lock-icon.png", style: "height: 30px;") %>'
          };

          infowindow.setContent('<h4>'+bar[i][3]+'</h4>'
            +'<div class="span2 pull-left well">'+bar[i][6]+'</br>'+lock_status+'<b>req: </b>'+bar[i][8]+'</div>'
            +'<div class="span2"><b>Sports Teams</b><br/>'+bar[i][5]+'</div>'
        );
          
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

  }
</script>

<body onload="initialize()">
  <%= content_for :side do %>
    <h4><%= @city_lat_lng[0].to_s.titleize rescue "" %></h4>
  <%#= @test %>
    <a href="http://swigbig.com/download.html">Download Mobile App(android only)</a>
    <ul>
      <li id="fat-menu" class="dropdown" style="list-style: none;">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Select City</b></a>
        <ul class="dropdown-menu">
          <% City.order(:name).each do |c| %>
            <li>
              <%= link_to c.name, city_path(c), method: :get %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
    <%= simple_form_for(:search, url: root_path) do |f|%>
      <div class="accordion-group">
        <div class="accordion-heading" style="margin-left: 10px;">
          <div class="accordion-inner">
            <a class="" data-toggle="collapse" data-target="#search" style="color: black;"><b>Narrow it down</b></a>
          </div>
        </div>
      </div>
      <div id="search" class="accordion-body collapse">
        <div class="accordion-inner" style="margin-left: 0px;">
          <%= text_field_tag :zip_code, params[:zip_code], placeholder: "Zip Code" %>
          <b style="margin-left: 60px;">Radius in Mile</b>
          <%= select_tag(:radius, options_for_select(GeoRadius.all.collect {|b| [ b.radius, b.radius]}.unshift([""]), params[:radius])) %>
    <%#= text_field_tag :radius %>
          <br/>
          <br/>
          <b style="margin-left: 60px;">Swig Type</b>
          <%= select_tag :swig_type, options_for_select([["",""], ["Standard","Standard"],["Big","Big"]], params[:swig_type]) %>
          <b style="margin-left: 60px;">Sports teams</b>
          <%= select_tag :sports_team, options_for_select(sport_teams_collection.unshift(""), params[:sports_team]) %>
          <%= f.submit "Search", class: "btn-mini btn-primary pull-right" %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="clearfix"></div>
    <div class="clearfix"></div>

    <ul class="tabs" data-tabs="tabs">
      <li><a href="#list" data-toggle="tab"><h3>List</h3></a></li>
      <li class="active"><a href="#map" data-toggle="tab"><h3>Map</h3></a></li>
      <!--<li><a href="#reward" data-toggle="tab"><h3>Reward</h3></a></li>-->
    </ul>

    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="map"><!-----bar map------>
        <div id="map_home_canvas" >
        </div>
      </div>

      <div class="tab-pane" id="list"><!-----list of swig------>
        <table class="zebra-striped">
          <th>Deals</th>
          <th>swigBIG Deals</th>
          <th>Bar Name</th>
          <th>Distance</th>
          <tbody id="main_swigs_list">
            <%= render "swigs"  %>
          </tbody>
        </table>
        <!--<div id="main_swig_paginator">
  <%#= paginate @swigs, remote: true %>
        </div>-->
      </div>
    </div>

  </body>

