
<div data-role="page" id="beggining_page" >
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
  </div>

  <div data-role="content" >
    <h3 style="text-align: center;">Join swigBIG today!</h3>
    <a class="" data-role="button" style="width: 100%;" onclick="window.location.href='<%= user_omniauth_authorize_path(:facebook) %>'"  style="width: 49%;"><%= image_tag("/assets/facebook_icon.jpg", style: "height: 20px;") %>&nbsp;&nbsp;Sign in with Facebook</a>
    <a href="#to_sign_up" data-toggle="tab" data-role="button" style="width: 100%;" >Sign up with Email</a>
    <!--<a href="#bars_map_page" data-toggle="tab" onclick="initialize()" data-role="button" style="width: 49%;color: white;">MAP</a>
    <a href="#popup" data-role="button" data-rel="dialog" data-transition="pop">Show page "popup" (as a dialog)</a>-->
    <br/>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3 style="text-align: center;">Already signed up?</h3>
      <a href="#to_sign_in" data-toggle="tab" data-role="button" style="width: 100%;">Sign In</a>
    </div>
  </div><!-- /content -->
</div>

<div data-role="page" id="to_sign_in" >
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
  </div>

  <div data-role="content" >
    <%= simple_form_for(:user, :url => user_session_path, html: {"data-ajax" => "false"}) do |f| %>

      <%= f.input :email %>
      <%= f.input :password %>
      <div style="display: none">
        <%= f.submit "Sign in", id: "go_to_sign_in", style: "display: none;" %>

      </div>
    <% end %>

    <a href="#" data-toggle="tab" data-role="button" onclick="$('#go_to_sign_in').click()" style="width: 100%;">Sign In</a>
  </div><!-- /content -->

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <a href="#beggining_page" data-toggle="tab" data-role="button" style="width: 100%;">Cancel</a>
  </div><!-- /footer -->
</div>

<div data-role="page" id="to_sign_up" >
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
  </div>

  <div data-role="content" >
    <%= simple_form_for(:user, :url => user_registration_path, html: {class: "form-horizontal" }) do |f| %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        "I agree"  to swigBIG.com's
        <a href="#terms_of_service" >Terms of Service</a>
        before registration is complete
        <%= f.input :terms, as: :boolean, type: "check-box", class: "custom", "data-mini" => "true" %>
          <br/>
          <div style="display: none;">
            <%= f.submit "Sign up", class: "btn-primary", id: "goto_sign_up_in_mobile", style: "display: none;" %>
            </div>
          <% end %>

        </div><!-- /content -->

        <div data-role="footer" data-position="fixed" style="width: 100%">
          <a href="#" data-toggle="tab" data-role="button" style="width: 100%;" onclick="$('#goto_sign_up_in_mobile').click();">Sign In</a>
          <a href="#beggining_page" data-toggle="tab" data-role="button" style="width: 100%;">Cancel</a>
        </div><!-- /footer -->
      </div>
      <div data-role="page" id="terms_of_service" >
        <div data-role="header" style="text-align: center;">
          <%= render partial: "shared/swigbig_logo" %>
        </div>

        <div data-role="content" >
          <%= @site_content.term_of_service.html_safe %>
        </div><!-- /content -->

        <div data-role="footer" data-position="fixed" style="width: 100%">
          <a href="#beggining_page" data-toggle="tab" data-role="button" style="width: 100%;">Cancel</a>
        </div><!-- /footer -->
      </div>



