<% unless @swigs_monday.standard.blank? %>
  <% @swigs_monday.standard.each do |swig|%>
    <h4>Standard Swig</h4>
    <div class="span8 pull-left">
      <%= swig.deal %>
    </div>
    <div class="span2 pull-left">
      <a href="#edit_monday_standard_swig<%= swig.id %>" data-toggle="modal" ><b>Update</b></a>
    </div>
    <%= content_for :outer do %>
      <div id="edit_monday_standard_swig<%= swig.id %>" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><b>x</b></a>
          <h4>Standard Swig on Monday</h4>
        </div>
        <div class="modal-body well">
          <%= simple_form_for(swig, url: bars_create_swig_path, html: { :class => "form-horizontal", id: "standart"}) do |f| %>
            <%= f.input :deal, as: :text, :label => false %>
            <div class="form-actions">
              <%= f.submit "Update Swig", class: "btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

  <% else %>
    <h4>Standard Swig</h4>
    <div class="span10">
      <p>Your Standard Swigs have not been setup for this day</p>
      <br/>
      <a href="#monday_standard_swig" data-toggle="modal" >Set them up now?</a>
    </div>
  <% end %>

  <% unless @swigs_monday.big.blank? %>
    <h4>Big Swig</h4>
    <% @swigs_monday.big.each do |swig|%>
      <div class="span6 pull-left" style="background-color: grey;">
        <%= swig.deal %>
      </div>
      <div class="span2 pull-left">
        <a href="#monday_big_swig" data-toggle="modal" >Set them up now?</a>
      </div>
    <% end %>
  <% else %>
    <h4>Big Swig</h4>
    <a href="#monday_big_swig" data-toggle="modal" >Set them up now?</a>
  <% end %>


  <%= content_for :outer do %>
    <div id="monday_standard_swig" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h4>Standard Swig on Monday</h4>
      </div>
      <div class="modal-body well">
        <%= simple_form_for(@swig, url: bars_create_swig_path, html: { :class => "form-horizontal", id: "standart"}) do |f| %>
          <%= f.input :swig_type, as: :hidden, input_html: {value: "Standard"} %>
      <%#= f.input :swig_day, as: :select, collection: days %>
          <%= f.input :swig_day, as: :hidden, input_html: {value: "Monday"} %>
          <%= f.input :deal, as: :text, :label => false %>
          <div class="form-actions">
            <%= f.submit "Create Swig", class: "btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>


      <div id="monday_big_swig" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><b>x</b></a>
          <h4>Standard Swig on Monday</h4>
        </div>
        <div class="modal-body well">
          <%= simple_form_for(:swig, url: bars_create_swig_path, html: { :class => "form-horizontal", id: "standart"}) do |f| %>
            <% 3.times do |x| %>
              <%= text_area_tag "deals[]" %>
              <% end %>
              <%= hidden_field_tag :swig_type, "Big" %>
              <%= hidden_field_tag :swig_day, "Monday" %>
              <div class="form-actions">
                <%= f.submit "Create Swig", class: "btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>