<script type="text/javascript">
  function sunday_clear_list(){
    $("#sunday_notice_lists").text("")
  }
  function show_list(){
    $("#add_biglist").text("")
  }
  function sunday_done(object){
    $("#sunday_done").click();
    $('#sun_done').attr('disabled', 'disabled');
  }
</script>

<% unless @swigs_sunday.standard.blank? %>
  <% @swigs_sunday.standard.each do |swig|%>
    <h4>Standard Swig</h4>
    <div class="span8 pull-left">
      <%= n_line(swig.deal) rescue nil %>
    </div>
    <div class="span2 pull-left">
      <a href="#edit_sunday_standard_swig<%= swig.id %>" data-toggle="modal" ><b>Update</b></a>
    </div>
    <%= content_for :outer do %>
      <div id="edit_sunday_standard_swig<%= swig.id %>" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><b>x</b></a>
          <h4>Standard Swig on sunday</h4>
        </div>
        <div class="modal-body well">
          <%= simple_form_for(Swig.find(swig.id), url: bars_update_swig_path(swig.id), method: :post, html: { :class => "form-horizontal"} ) do |f| %>
            <%= f.input :deal, as: :text, :label => false, input_html: { style: "width: 300px;height: 100px" } %>
            <div class="form-actions">
              <%= f.submit "Update Swig", class: "btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

  <% else %>
    <h4>Standard Swig</h4>
    <div class="span10">
      <p>Your Standard Swigs have not been setup for this day</p>
      <br/>
      <a href="#sunday_standard_swig" data-toggle="modal" >Set them up now?</a>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <% unless @swigs_sunday.big.blank? %>
    <h4>Big Swig</h4>
    <div class="span2 pull-left">
      <a href="#update_sunday_big_swig" data-toggle="modal" >Update</a>
      <%#= link_to "Delete", bars_delete_big_swig_path(@swigs_sunday.big.pluck(:id)) %>
    </div>
    <div class="clearfix"></div>
    <br/>
    <% @swigs_sunday.big.order("people ASC").each do |swig|%>
      <div class="clearfix"></div>
      <div class="span1">
        <%= swig.lock_status.blank? ? image_tag("/assets/Lock-icon.png", style: "height: 30px;") : image_tag("/assets/Unlock-icon.png", style: "height: 30px;") %>
      </div>
      <div class="span7 pull-left">
        <%= n_line(swig.deal) %>
      </div>
      <div class="span2 pull-right">
        <% if Time.zone.now.strftime('%A').eql?('Monday') %>
          <%= current_bar.swigers.today.count %><b>/</b><%= swig.people %>
        <% else %>
          0<b>/</b><%= swig.people %>
        <% end %>
      </div>
      <div class="clearfix"></div>
      <br/>
    <% end %>
  <% else %>
    <h4>Big Swig</h4>
    <a href="#sunday_big_swig" data-toggle="modal" >Set them up now?</a>
  <% end %>


  <%= content_for :outer do %>
    <div id="sunday_standard_swig" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h4>Standard Swig on sunday</h4>
      </div>
      <div class="modal-body well">
        <%= simple_form_for(@swig, url: bars_create_swig_path, html: { :class => "form-horizontal", id: "sunday_standard"}) do |f| %>
          <%= f.input :swig_type, as: :hidden, input_html: {value: "Standard"} %>
          <%= f.input :swig_day, as: :hidden, input_html: {value: "sunday"} %>
          <%= f.input :deal, as: :text, :label => false, input_html: { style: "width: 300px;height: 100px" } %>
        </div>
        <div class="modal-footer">
          <a class="close" data-dismiss="modal"><b></b></a>
          <%= f.submit "Done", class: "btn-primary pull-right", onclick: "this.disabled = true; $('#sunday_standard').submit();" %>
          </div>
        <% end %>
      </div>


      <div id="sunday_big_swig" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><b>x</b></a>
          <h4>Pick your Big Swig for sunday</h4>
        </div>
        <div class="modal-body well">
          <%= simple_form_for(:swig, url: bars_create_big_swig_path, html: { :class => "form-horizontal"}) do |f| %>
            <% 3.times do |x| %>
              <div id="sunday_bigswig_lists<%= x + 1 %>">
                <%= render partial: "bigswig_list" %>
              </div>
          <div id="people_warning_text_<%= "6_#{x}" %>" style="display: none;">people require must fill!</div>
              <%= number_field_tag "peoples[6][#{x}]",nil, class: "positive" %>
              <%= hidden_field_tag "day", 6 %>
              <br/>
              <br/>
            <% end %>
            <%= hidden_field_tag :swig_type, "Big" %>
            <%= hidden_field_tag :swig_day, "Sunday" %>
            <!--<div class="modal-footer">-->
            <%= f.submit "Done", class: "btn-primary pull-right", style: "margin-bottom: -100px;display: none;", id: "sunday_done" %>
            <% end %>
            <h5 style="text-align: center;">OR</h5>
            <div class="clearfix"></div>
            <div id="sunday_notice_lists" style="color: green;"></div>
            <%= simple_form_for(:big_swig_list, url: bars_add_bigswig_list_path, html: {:class => "form-horizontal", remote: true}) do |f| %>
              <div style="text-align: center;margin-bottom: 15px;">
                <b>Create bigswig list</b>
              </div>
              <div style="margin-bottom: -25px;margin-left: 425px;">
                <%= f.submit "Add you own", class: "btn-success",style: "margin-top: -50px;", onclick: "sunday_clear_list()" %>
                </div>
                <div style="margin-left: -160px;">
                  <%= f.input :big_swig, label: false, placeholder: "Type your bigswig here...", input_html: {style: "width: 400px;"} %>
                <% end %>
              </div>
              <!--</div>-->
              <div class="modal-footer">
                <a class="btn btn-primary" onclick="return validatePeople(6, 'sun_done', 'new')">Done</a>
                <a class="btn btn-primary" id="sun_done" onclick="sunday_done(this)" style="display: none;">Done</a>
              </div>
            </div>
          </div>

          <div id="update_sunday_big_swig" class="modal hide fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal"><b>x</b></a>
              <h4>Update Big Swig on Sunday</h4>
            </div>
            <div class="modal-body well">

              <%= simple_form_for(:swig, url: bars_update_big_swig_path, html: { :class => "form-horizontal"}) do |f| %>
                <% @swigs_sunday.big.order("people").each_with_index do |swig, x|%>
                  <%= hidden_field_tag "swig_ids[]", swig.id %>
                  <div id="sunday_bigswig_lists_on_update_<%= x %>">
                    <%= render partial: "bigswig_list_on_update", locals: {swig_deal: swig.deal}, :class => "biglist_select"%>
                  </div>
              <div id="people_update_warning_text_<%= "6_#{x}" %>" style="display: none;">people require must fill!</div>
                    <%= number_field_tag "people[]", swig.people, style: "width: 100px;margin-bottom: 3px;", class: "positive", id: "peoples_update_6_#{x}" %>
                <% end %>
              </div>
                <%= f.submit "Update Swig", class: "btn-primary", style: "display: none;", id: "sunday_update_button" %>
              <% end %>
              <h5 style="text-align: center;">OR</h5>
              <div class="clearfix"></div>
              <%= simple_form_for(:big_swig_list, url: bars_add_bigswig_list_on_update_path, html: {:class => "form-horizontal", remote: true}) do |f| %>
                <div id="sunday_notice_lists" style="color: green;"></div>
                <div style="text-align: center;margin-bottom: 15px;">
                  <b>Create bigswig list</b>
                </div>
                <div style="margin-bottom: -25px;margin-left: 425px;">
                  <%= f.submit "Add you own..", class: "btn-success",style: "margin-top: -50px;", onclick: "tuesday_clear_list()" %>
                  </div>
                  <div style="margin-left: -150px;">
                    <%= f.input :big_swig, label: false, placeholder: "Type your bigswig here...", input_html: {style: "width: 400px;"} %>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <a class="btn btn-primary" onclick="return validatePeople(6, 'sun_update_done', 'update')">Update Swig</a>
                  <a class="btn" onclick="$('#sunday_update_button').click();" id="sun_update_done" style="display: none;"></a>
                </div>
              </div>
          <% end %>