<script type="text/javascript">
  function saturday_clear_list(){
    $("#saturday_notice_lists").text("")
  }
  function show_list(){
    $("#add_biglist").text("")
  }
  function done(){
    $("#saturday_done").click()
  }
</script>

<% unless @swigs_saturday.standard.blank? %>
  <% @swigs_saturday.standard.each do |swig|%>
    <h4>Standard Swig</h4>
    <div class="span8 pull-left">
      <%= n_line(swig.deal) rescue nil %>
    </div>
    <div class="span2 pull-left">
      <a href="#edit_saturday_standard_swig<%= swig.id %>" data-toggle="modal" ><b>Update</b></a>
    </div>
    <%= content_for :outer do %>
      <div id="edit_saturday_standard_swig<%= swig.id %>" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><b>x</b></a>
          <h4>Standard Swig on saturday</h4>
        </div>
        <div class="modal-body well">
          <%= simple_form_for(Swig.find(swig.id), url: bars_update_swig_path(swig.id), method: :post, html: { :class => "form-horizontal"} ) do |f| %>
            <%= f.input :deal, as: :text, :label => false, input_html: { style: "width: 300px;height: 100px" } %>
            <div class="form-actions">
              <%= f.submit "Update Swig", class: "btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

  <% else %>
    <h4>Standard Swig</h4>
    <div class="span10">
      <p>Your Standard Swigs have not been setup for this day</p>
      <br/>
      <a href="#saturday_standard_swig" data-toggle="modal" >Set them up now?</a>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <% unless @swigs_saturday.big.blank? %>
    <h4>Big Swig</h4>
    <div class="span2 pull-left">
      <a href="#update_saturday_big_swig" data-toggle="modal" >Update</a>
      <%= link_to "Delete", bars_delete_big_swig_path(@swigs_saturday.big.pluck(:id)) %>
    </div>
    <div class="clearfix"></div>
    <br/>
    <% @swigs_saturday.big.each do |swig|%>
      <div class="clearfix"></div>
      <div class="span7 pull-left">
        <%= n_line(swig.deal) %>
      </div>
      <div class="span2 pull-right">
        <b>/</b><%= swig.people %>
      </div>
      <div class="clearfix"></div>
      <br/>
    <% end %>
  <% else %>
    <h4>Big Swig</h4>
    <a href="#saturday_big_swig" data-toggle="modal" >Set them up now?</a>
  <% end %>


  <%= content_for :outer do %>
    <div id="saturday_standard_swig" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h4>Standard Swig on saturday</h4>
      </div>
      <div class="modal-body well">
        <%= simple_form_for(@swig, url: bars_create_swig_path, html: { :class => "form-horizontal", id: "standart"}) do |f| %>
          <%= f.input :swig_type, as: :hidden, input_html: {value: "Standard"} %>
          <%= f.input :swig_day, as: :hidden, input_html: {value: "saturday"} %>
          <%= f.input :deal, as: :text, :label => false, input_html: { style: "width: 300px;height: 100px" } %>
        </div>
        <div class="modal-footer">
          <a class="close" data-dismiss="modal"><b></b></a>
          <%= f.submit "Done", class: "btn-primary pull-right" %>
          </div>
        <% end %>
      </div>


      <div id="saturday_big_swig" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><b>x</b></a>
          <h4>Pick your Big Swig for saturday</h4>
        </div>
        <div class="modal-body well">
          <%= simple_form_for(:swig, url: bars_create_big_swig_path, html: { :class => "form-horizontal", id: "standart"}) do |f| %>
            <% 3.times do |x| %>
          <%#= text_area_tag "deals[]", nil, rows: 2, cols: 105 %>
          <%#= text_area_tag "deals[]", nil,  style: "width: 500px; height: 23px;margin-bottom: 3px;" %>
          <%#= text_area_tag "deals[]", nil,  style: "width: 500px; height: 23px;margin-bottom: 3px;" %>
              <div id="saturday_bigswig_lists<%= x + 1 %>">
                <%= render partial: "bigswig_list" %>
              </div>
              <%= number_field_tag "peoples[]" %>
              <br/>
              <br/>
            <% end %>
            <%= hidden_field_tag :swig_type, "Big" %>
            <%= hidden_field_tag :swig_day, "saturday" %>
            <!--<div class="modal-footer">-->
            <%= f.submit "Done", class: "btn-primary pull-right", style: "margin-bottom: -100px;display: none;", id: "saturday_done" %>
            <% end %>
            <h5 style="text-align: center;">OR</h5>
            <div class="clearfix"></div>
            <%= simple_form_for(:big_swig_list, url: bars_add_bigswig_list_path, html: {:class => "form-horizontal", remote: true}) do |f| %>
              <div id="saturday_notice_lists" style="color: green;"></div>
              <div style="text-align: center;margin-bottom: 10px">
                <%= f.submit "Create bigswig list", class: "btn-success",style: "margin-top: -50px;", onclick: "saturday_clear_list()" %>
                </div>
                <div style="margin-left: -160px;">
                  <%= f.input :big_swig, label: false, placeholder: "Type your bigswig here...", input_html: {style: "width: 500px;"} %>
                <% end %>
              </div>
              <!--</div>-->
              <div class="modal-footer">
                <a class="btn btn-primary" onclick="done()">Done</a>
              </div>
            </div>
          </div>

          <div id="update_saturday_big_swig" class="modal hide fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal"><b>x</b></a>
              <h4>Update Big Swig on saturday</h4>
            </div>
            <div class="modal-body well">
              <!--<div class="span8">
          <%#= simple_form_for(:big_swig_list, url: bars_add_bigswig_list_on_update_path, html: {:class => "form-horizontal", remote: true}) do |f| %>
                  <div id="add_list">
          <%#= f.input :big_swig, label: false, input_html: {style: "margin-left: -170px;width: 380px;"} %>
                  </div>
          <%#= f.submit "Add to List", class: "btn-success pull-right", style: "margin-top: -45px;" %>

          <%# end %>
                </div>-->
              <%= simple_form_for(:swig, url: bars_update_big_swig_path, html: { :class => "form-horizontal"}) do |f| %>
                <% @swigs_saturday.big.each do |swig|%>
                  <%= hidden_field_tag "swig_ids[]", swig.id %>
              <%#*<div id="bigswig_lists_on_update">%>
              <%#= render partial: "bigswig_list_on_update" %>
                  <%= select_tag "deals[]", options_for_select(bigswig_collection), prompt: swig.deal, style: "width: 500px;margin-bottom: 3px;" %>
              <%#*</div>%>
                  <!--<div id="bigswig_lists">
              <%#= render partial: "bigswig_list" %>
                  </div>-->
              <%#= text_field_tag "deals[]", swig.deal, style: "width: 500px; height: 23px;margin-bottom: 3px;" %>
                  <%= number_field_tag "people[]", swig.people, style: "width: 100px;margin-bottom: 3px;" %>
                <% end %>
              </div>
              <div class="modal-footer">
                <%= f.submit "Update Swig", class: "btn-primary" %>
                </div>
              <% end %>
            </div>
          <% end %>