<script type="text/javascript">
  function friday_clear_list(){
    $("#friday_notice_lists").text("")
  }
  function show_list(){
    $("#add_biglist").text("")
  }
  function friday_done(){
    $('#fri_done').attr('disabled', 'disabled');
    $("#friday_done").click()
  }

  function validate_friday_standard_swig(){
    if($("#friday_standard_swig textarea").val() == ''){
      $("#friday_standard_swig textarea").css('border', '1px solid red');
      $("#friday_standard_text_notification").text('Standard Swig must fill!');
      valid_friday_swig = false;
    }else{
      $("#friday_standard_swig textarea").css('border', '1px solid black');
      valid_friday_swig = true;
    }
    if(valid_friday_swig){
      $('#goto_create_friday_swig').click();
      $('#goto_create_friday_swig').remove();
    }
  }
</script>

<% unless @swigs_friday.standard.blank? %>
  <% @swigs_friday.standard.each do |swig|%>
    <h4>Standard Swig</h4>
    <div class="span8 pull-left">
      <%= n_line(swig.deal) rescue nil %>
    </div>
    <div class="span2 pull-left">
      <a href="#edit_friday_standard_swig<%= swig.id %>" data-toggle="modal" ><b>Update</b></a>
    </div>
    <%= content_for :outer do %>
      <div id="edit_friday_standard_swig<%= swig.id %>" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><b>x</b></a>
          <h4>Standard Swig on friday</h4>
        </div>
        <div class="modal-body well">
          <%= simple_form_for(Swig.find(swig.id), url: bars_update_swig_path(swig.id), method: :post, html: { :class => "form-horizontal"} ) do |f| %>
            <%= f.input :deal, as: :text, :label => false, input_html: { style: "width: 300px;height: 100px" } %>
            <div class="form-actions">
              <%= f.submit "Update Swig", class: "btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

  <% else %>
    <h4>Standard Swig</h4>
    <div class="span10">
      <p>Your Standard Swigs have not been setup for this day</p>
      <br/>
      <a href="#friday_standard_swig" data-toggle="modal" >Set them up now?</a>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <% unless @swigs_friday.big.blank? %>
    <h4>Big Swig</h4>
    <div class="span2 pull-left">
      <a href="#update_friday_big_swig" data-toggle="modal" >Update</a>
    </div>
    <div class="clearfix"></div>
    <br/>
    <% @swigs_friday.big.order("people ASC").each do |swig|%>
      <div class="clearfix"></div>
      <div class="span1">
        <%= swig.lock_status.blank? ? image_tag("/assets/Lock-icon.png", style: "height: 30px;") : image_tag("/assets/Unlock-icon.png", style: "height: 30px;") %>
      </div>
      <div class="span7 pull-left">
        <%= n_line(swig.deal) %>
      </div>
      <div class="span2 pull-right">
        <% if Time.zone.now.strftime('%A').eql?('Monday') %>
          <%= current_bar.swigers.today.count %><b>/</b><%= swig.people %>
        <% else %>
          0<b>/</b><%= swig.people %>
        <% end %>
      </div>
      <div class="clearfix"></div>
      <br/>
    <% end %>
  <% else %>
    <h4>Big Swig</h4>
    <a href="#friday_big_swig" data-toggle="modal" >Set them up now?</a>
  <% end %>

  <%= content_for :outer do %>
    <div id="friday_standard_swig" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h4>Standard Swig on friday</h4>
      </div>
      <div class="modal-body well">
        <div id="friday_standard_text_notification" style="color: red;"></div>
        <%= simple_form_for(@swig, url: bars_create_swig_path, html: { :class => "form-horizontal", id: "friday_standard"}) do |f| %>
          <%= f.input :swig_type, as: :hidden, input_html: {value: "Standard"} %>
          <%= f.input :swig_day, as: :hidden, input_html: {value: "friday"} %>
          <%= f.input :deal, as: :text, :label => false, input_html: { style: "width: 300px;height: 100px", id: "friday_standard_swig" } %>
        </div>
        <div class="modal-footer">
          <a class="close" data-dismiss="modal"><b></b></a>
          <%= f.submit "Done", class: "btn-primary pull-right", id: "goto_create_friday_swig", style: "display: none;" %>
            <a class="btn btn-primary" onclick="return validate_friday_standard_swig()" id="">Create</a>
          </div>
        <% end %>
      </div>

      <div id="friday_big_swig" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><b>x</b></a>
          <h4>Pick your Big Swig for friday</h4>
        </div>
        <div class="modal-body well">
          <%= simple_form_for(:swig, url: bars_create_big_swig_path, html: { :class => "form-horizontal"}) do |f| %>
            <% 3.times do |x| %>
              <div id="friday_bigswig_lists">
                <%= render partial: "bigswig_list" %>
              </div>
              <div id="people_warning_text_<%= "4_#{x}" %>" style="display: none;">people require must fill!</div>
              <%= number_field_tag "peoples[4][#{x}]",nil, class: "positive" %>
                <%= hidden_field_tag "day", 4 %>
                <br/>
                <br/>
              <% end %>
              <%= hidden_field_tag :swig_type, "Big" %>
              <%= hidden_field_tag :swig_day, "Friday" %>
              <!--<div class="modal-footer">-->
              <%= f.submit "Done", class: "btn-primary pull-right", style: "margin-bottom: -100px;display: none;", id: "friday_done" %>
              <% end %>
              <h5 style="text-align: center;">OR</h5>
              <div class="clearfix"></div>
              <b><div class="add_bigswig_text" style="color: green;display: none;">BigSwig was added successfully!</div></b>
              <%= simple_form_for(:big_swig_list, url: bars_add_bigswig_list_path, html: {:class => "form-horizontal", remote: true}) do |f| %>
                <div style="text-align: center;margin-bottom: 15px;">
                  <b>Create bigswig list</b>
                </div>
                <div style="margin-bottom: -25px;margin-left: 425px;">
                  <%= f.submit "Add you own", class: "btn-success", onclick: "friday_clear_list()", input_html: {style: "margin-right: -100px;"} %>
                  </div>
                  <div style="margin-left: -160px;">
                    <%= f.input :big_swig, label: false, placeholder: "Type your bigswig here...", input_html: {style: "width: 400px;", class: "bigswig_input_box"}, required: true %>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <a class="btn btn-primary" onclick="return validatePeople(4, 'fri_done', 'new')">Done</a>
                  <a class="btn btn-primary" id="fri_done" onclick="friday_done(this)" style="display: none;">Done</a>
                </div>
              </div>
            </div>

            <div id="update_friday_big_swig" class="modal hide fade">
              <div class="modal-header">
                <a class="close" data-dismiss="modal"><b>x</b></a>
                <h4>Update Big Swig on Friday</h4>
              </div>
              <div class="modal-body well">

                <%= simple_form_for(:swig, url: bars_update_big_swig_path, html: { :class => "form-horizontal"}) do |f| %>
                  <% @swigs_friday.big.order("people").each_with_index do |swig, x|%>
                    <%= hidden_field_tag "swig_ids[]", swig.id %>
                    <div id="friday_bigswig_lists_on_update_<%= x %>">
                      <%= render partial: "bigswig_list_on_update", locals: {swig_deal: swig.deal}, :class => "biglist_select"%>
                    </div>
                      <div id="people_update_warning_text_<%= "4_#{x}" %>" style="display: none;">people require must fill!</div>
                    <%= number_field_tag "people[]", swig.people, style: "width: 100px;margin-bottom: 3px;", class: "positive", id: "peoples_update_4_#{x}" %>
                    <% end %>
                  </div>
                  <%= f.submit "Update Swig", class: "btn-primary", style: "display: none;", id: "friday_update_button" %>
                  <% end %>
                  <h5 style="text-align: center;">OR</h5>
                  <div class="clearfix"></div>
                  <%= simple_form_for(:big_swig_list, url: bars_add_bigswig_list_on_update_path, html: {:class => "form-horizontal", remote: true}) do |f| %>
                    <div id="friday_notice_lists" style="color: green;"></div>
                    <div style="text-align: center;margin-bottom: 15px;">
                      <b>Create bigswig list</b>
                    </div>
                    <div style="margin-bottom: -25px;margin-left: 425px;">
                      <%= f.submit "Add you own..", class: "btn-success",style: "margin-top: -50px;", onclick: "tuesday_clear_list()" %>
                      </div>
                      <div style="margin-left: -150px;">
                        <%= f.input :big_swig, label: false, placeholder: "Type your bigswig here...", input_html: {style: "width: 400px;"} %>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-primary" onclick="return validatePeople(4, 'fri_update_done', 'update')">Update Swig</a>
                      <a class="btn" id="fri_update_done" onclick="$('#friday_update_button').click();" style="display: none;"></a>
                    </div>
                  </div>
                <% end %>