<%= javascript_include_tag "jquery.tokeninput" %>
<%= stylesheet_link_tag "token-input-facebook" %>
<script>
  function countChar(val){
    var len = val.value.length;
    if (len >= 500) {
      val.value = val.value.substring(0, 500);
    }else {
      $('#charNum').text(len);
    }
  };
</script>
<script type="text/javascript">
  $(document).ready(function() {
    var sport_teams = [];
<% SportTeam.all.each do |b| %>
      var x = [];
      x.push('name: <%= b.to_json %>');//0
      x.push('id: <%= b.to_json %>');//0

      sport_teams.push(x);
<% end %>
    var include_sport_list = [];
<%  unless current_bar.blank?%>
  <%  unless current_bar.sports_teams.blank?%>
    <%  sports_team = current_bar.sports_team.split(',') %>
    <%  sports_team.each do |team| %>
          include_sport_list.push({'id': '<%= team %>', 'name': '<%= team %>'});
    <% end%>
  <% end%>
<% end%>

    $("#tk_sports").tokenInput( "/bars/sport_lists", {
      theme: "facebook",
      preventDuplicates: true,
      prePopulate: include_sport_list
    });
  });
</script>
<!--<script type="text/javascript">
  var available_tags = [];
<%# SportTeam.all.each do |team| %>
    available_tags.push('<%#= team.team_name %>');
<%# end %>
  $("#mytags").tagit({tagSource: available_tags, allowSpaces: true});
</script>-->
<script type="text/javascript">
  function validate_address(){
    if($('#bar_address').val() == ''){
      $('#bar_address').css('border', '1px solid red');
      valid_address = false;
    }else{
      $('#bar_address').css('border', '1px solid black');
      valid_address = true;
    }
    if($('#bar_city').val() == ''){
      $('#bar_city').css('border', '1px solid red');
      valid_city = false;
    }else{
      $('#bar_city').css('border', '1px solid black');
      valid_city = true;
    }
    if($('#bar_zip_code').val() == ''){
      $('#bar_zip_code').css('border', '1px solid red');
      valid_zip = false;
    }else{
      $('#bar_zip_code').css('border', '1px solid black');
      valid_zip = true;
    }
    if(valid_address && valid_city && valid_zip){
      $('#goto_phone').click();
    }
  }
  function validate_phone(){
    if($('#bar_phone_number').val() == ''){
      $('#bar_phone_number').css('border', '1px solid red');
      valid_phone = false;
    }else{
      $('#bar_phone_number').css('border', '1px solid black');
      valid_phone = true;
    }
    if(valid_phone){
      $('#goto_link').click();
    }
  }
  function validate_link(){
    if($('#bar_website_link').val() == ''){
      $('#bar_website_link').css('border', '1px solid red');
      valid_web = false;
    }else{
      $('#bar_website_link').css('border', '1px solid black');
      valid_web = true;
    }
    if($('#bar_facebook_link').val() == ''){
      $('#bar_facebook_link').css('border', '1px solid red');
      valid_facebook = false;
    }else{
      $('#bar_facebook_link').css('border', '1px solid black');
      valid_facebook = true;
    }
    if($('#bar_twitter_link').val() == ''){
      $('#bar_twitter_link').css('border', '1px solid red');
      valid_twitter = false;
    }else{
      $('#bar_twitter_link').css('border', '1px solid black');
      valid_twitter = true;
    }
    if($('#bar_google_plus_link').val() == ''){
      $('#bar_google_plus_link').css('border', '1px solid red');
      valid_google = false;
    }else{
      $('#bar_google_plus_link').css('border', '1px solid black');
      valid_google = true;
    }
    if(valid_web && valid_facebook && valid_twitter && valid_google){
      $('#goto_hour').click();
    }
  }
  function validate_hour(){
    if($('#bar_bar_hour').val() == ''){
      $('#bar_bar_hour').css('border', '1px solid red');
      valid_hour = false;
    }else{
      $('#bar_bar_hour').css('border', '1px solid black');
      valid_hour = true;
    }
    if(valid_hour){
      $('#goto_description').click();
    }
  }
  function validate_standard_swig(){
    if($('#swig').val() == ''){
      $('#swig').css('border', '1px solid red');
      $('#swig_notice').text('Bar must have at least 1 standard swig!');
      valid_standard_swig = false;
    }else{
      $('#swig').css('border', '1px solid black');
      valid_standard_swig = true;
    }
    if(valid_standard_swig){
      $('#goto_description').click();
    }
  }
  function validate_description(){
    if($('#bar_bar_description').val() == ''){
      $('#bar_bar_description').css('border', '1px solid red');
      $('#bar_description_validation').text('Please describe your bar!!');
      valid_description = false;
    }else{
      $('#bar_bar_description').css('border', '1px solid black');
      valid_description= true;
    }
    if(valid_description){
      $('#goto_sport_team').click();
    }
  }
  function validate_sports_team(){
    if($('#mytags').val() == ''){
      $('#mytags').css('border', '1px solid red');
      valid_description = false;
    }else{
      $('#mytags').css('border', '1px solid black');
      valid_description = true;
    }
    if(valid_description){
      $('#goto_check_data').click();
      get_all_data();
    }
  }
  $('#goto_check_data').click();
  get_all_data();

  function get_all_data(){
    $('#address_text').html($('#bar_address').val());
    $('#city_text').html($('#bar_city').val());
    $('#zip_text').html($('#bar_zip_code').val());
    $('#phone_text').html($('#bar_phone_number').val());
    $('#website_text').html($('#bar_website_link').val());
    $('#facebook_text').html($('#bar_facebook_link').val());
    $('#twitter_text').html($('#bar_twitter_link').val());
    $('#google_text').html($('#bar_google_plus_link').val());
    $('#hour_text').html($('#bar_bar_hour').val());
    $('#description_text').html($('#bar_bar_description').val());
    $('#sport_text').html($('#mytags').val());
    $('#swig_text').html($('#swig').val());
  }
  //str.split("\n").join("<br />");
  

  //var name_element = document.getElementById('bar_address');
  //var name_element = document.getElementById('bar_address');
  //var name_element = document.getElementById('bar_address');

  $(document).ready(function(){
    $('#completion_link').click();
  })
</script>
<script type="text/javascript">
  jQuery(document).ready(function() {
    $('#copy_example').click(function() {
      $('#swig').html($.trim($('#example').html()))
    })
  })
</script>
<style type="text/css">
  .modal{
    width: 600px!important;
    overflow: hidden!important;
  }
</style>

<h4>Please Complete your bar profile!</h4>

click <a href="#ask" data-toggle="modal" id="completion_link">here</a> to complete

<%= content_for :outer do %>
  <div id="ask" class="modal hide fade">
    <div class="modal-header">
      <a class="close" data-dismiss="modal"><b>x</b></a>
      <h3 style="text-align: center;">Profile Verification </h3>
    </div>
    <div class="modal-body">
      <div style="text-align: center;">
        <b>Your Bar Profile not Complete Yet, Would you like to complete now?</b>
      </div>
      <div style="text-align: center;">
        <a href="#location" data-toggle="modal" data-dismiss="modal" class="btn" >Yes</a>
        <%= link_to "No", root_path, class: "btn" %>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
    <%= simple_form_for(@bar, url: bars_update_completion_path, method: :post, :html => {multipart: true , class: "form-horizontal"}) do |f| %>
        <div id="location" class="modal hide fade">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><b>x</b></a>
            <h3 style="text-align: center;">Where is the <%= @bar.name %> located?</h3>
          </div>
          <div class="modal-body">
            <%= f.input :address, :hint => "Ex : 67 Clinton Street" %>
            <%= f.input :city, as: :select, collection: avaliable_cities %>
            <%= f.input :zip_code %>
          </div>
          <div class="modal-footer">
            <a class="btn" onclick="return validate_address()">Continue</a>
            <a href="#phone" data-toggle="modal" data-dismiss="modal" class="btn" id="goto_phone" style="display:none;">Continue</a>
          </div>
        </div>
        <div id="phone" class="modal hide fade">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><b>x</b></a>
            <h3 style="text-align: center;">How do people get in touch with <%= @bar.name %>?</h3>
          </div>
          <div class="modal-body">
            <%= f.input :phone_number %>
          </div>
          <div class="modal-footer">
            <a class="btn" onclick="return validate_phone()">Continue</a>
            <a href="#link" data-toggle="modal" data-dismiss="modal" class="btn" id="goto_link" style="display: none;">Continue</a>
            <a href="#location" data-toggle="modal" data-dismiss="modal" class="btn">Back</a>
          </div>
        </div>
        <div id="link" class="modal hide fade">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><b>x</b></a>
            <h3 style="text-align: center;">How can people connect with <%= @bar.name %>?</h3>
          </div>
          <div class="modal-body">
            <%= f.input :website_link %>
            <%= f.input :facebook_link %>
            <%= f.input :twitter_link %>
            <%= f.input :google_plus_link %>
          </div>
          <div class="modal-footer">
            <!--<a class="btn" onclick="return validate_link()">Continue</a>-->
            <a class="btn" href="#hour" data-dismiss="modal" data-toggle="modal" id="goto_hour" >Continue</a>
            <a class="btn" href="#phone" data-dismiss="modal" data-toggle="modal">Back</a>
          </div>
        </div>
        <div id="hour" class="modal hide fade">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><b>x</b></a>
            <h3 style="text-align: center;">“What is <%= @bar.name %> hours?”</h3>
          </div>
          <div class="modal-body">
            <%= f.fields_for :bar_hours do |ff| %>
              <div class="span4" style="margin-right: 10px;">
                <div class="span2">
                  <b><%= ff.object.day %></b>
                  <%= ff.input :open_hour, as: :select, label: false, collection: hours_collection, input_html: {style: "width: 45px;margin-left: -160px;"} %>
                  <%= ff.input :close, as: :select, label: false, collection: hours_collection, input_html: {style: "width: 45px;margin-left: -160px;"} %>
                </div>
                <div class="span1" style="margin-top: 15px;">
                  <%= ff.input :open_word, as: :select, label: false, collection: [["am", "am"],["pm","pm"]], input_html: {id: "close_hour#{ff.object.id}", style: "width: 45px;margin-left: -160px;"} %>
                  <%= ff.input :close_word, as: :select, label: false, collection: [["am", "am"],["pm","pm"]], input_html: {id: "close_hour#{ff.object.id}", style: "width: 45px;margin-left: -160px;"} %>
                  <% unless ff.object.day.eql?("Monday") %>
                    Same?:<input id="same<%= ff.object.id %>" class="day_bar" name="same" type="checkbox" day_bar="<%= ff.object.id %>"/>
                  <% end %>
                </div>
              </div>
            <% end %>
            <!--<a class="btn" onclick="return validate_hour()">Continue</a>
            <a class="btn" href="#standard_swig" data-dismiss="modal" data-toggle="modal" id="goto_standard_swig" style="display: none;">Continue</a>-->
            <a class="btn" href="#standard_swig" data-dismiss="modal" data-toggle="modal" id="goto_standard_swig">Continue</a>
            <a class="btn" href="#link" data-dismiss="modal" data-toggle="modal">Back</a>
          </div>
        </div>
        <div id="standard_swig" class="modal hide fade">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><b>x</b></a>
            <h3 style="text-align: center;">What do you want people to know about <%= @bar.name %>'s Standard Swig in <%= Time.now.to_time.in_time_zone.strftime("%A") %>?</h3>
          </div>
          <div class="modal-body">
            <div class="span4">
        <%#= text_area_tag :swig, :size=> "20x55" %>
              <div id="swig_notice" style="color: red;"></div>
              <%= text_area_tag :swig %>
            </div>
            <div class="span3 pull-right" style="" id="example">
              <%= @site_content.swig_exampl.gsub('"r\n\"',"<br/>").html_safe rescue "Not set example yet!".html_safe %>
            </div>
            <a class="btn btn-info" style="margin-left: 20px;margin-top: 10px;" id="copy_example">Use Example</a>
        <%#= f.fields_for :swig do |ff| %>
        <%#= ff.input :swig_type, as: :hidden, input_html: {value: "Standard"} %>
        <%#= ff.input :swig_day, as: :hidden, input_html: {value: Time.now.to_time.in_time_zone.strftime("%A")} %>
        <%#= ff.input :deal, as: :text, :label => false, input_html: {style: "width: 200px;height: 200px" } %>
            <div class="span2 pull-right" style="margin-top: 0px;" id="example">
            </div>
        <%# end %>
          </div>
          <div class="modal-footer">
            <a class="btn" onclick="return validate_standard_swig()">Continue</a>
            <!--<a class="btn" href="#description" data-dismiss="modal" data-toggle="modal">Continue</a>-->
            <a class="btn" href="#description" data-dismiss="modal" data-toggle="modal" id="goto_description" style="display: none;">Continue</a>
            <a class="btn" href="#hour" data-dismiss="modal" data-toggle="modal">Back</a>
          </div>
        </div>
        <div id="description" class="modal hide fade">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><b>x</b></a>
            <h3 style="text-align: center;">What do you want people to know about <%= @bar.name %>?</h3>
          </div>
          <div class="modal-body">
            <div style="margin-left: -50px;">
              <div id="bar_description_validation" style="margin-left: 50px;color: red;"></div>
              <%= f.input :bar_description, label: false, placeholder: "Bar Description...", input_html: {style: "width: 400px;height: 200px;margin-left: -30px;", onkeyup: "countChar(this)"} %>
              <div class="pull-right" id="charNum"></div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn" onclick="return validate_description()">Continue</a>
            <a class="btn" href="#sport_team" data-dismiss="modal" data-toggle="modal" id="goto_sport_team" style="display: none;">Continue</a>
            <a class="btn" href="#standard_swig" data-dismiss="modal" data-toggle="modal">Back</a>
          </div>
        </div>
        <div id="sport_team" class="modal hide fade">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><b>x</b></a>
            <h3 style="text-align: center;">What Sports Teams does <%= @bar.name %> support?</h3>
          </div>
          <div class="modal-body">
        <%#= f.input :sports_team, label: false, placeholder: "Sports Team" ,input_html: {id: "mytags", multiple: true,  style: "width:250px"}%>
            <%= f.input :sports_team, required: false, input_html: {id: "tk_sports"} %>
          </div>
          <div class="modal-footer">
            <!--<a class="btn" onclick="return validate_sports_team();">Continue</a>-->
            <a class="btn" href="#check_data" data-dismiss="modal" data-toggle="modal" onclick="return get_all_data();" >Continue</a>
            <a class="btn" href="#description" data-dismiss="modal" data-toggle="modal">Back</a>
          </div>
        </div>
        <div id="check_data" class="modal hide fade">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><b>x</b></a>
            <h3 style="text-align: center;">Did we get it all?</h3>
          </div>
          <div class="modal-body">
            <table style="border-style: none;">
              <tr>
                <td>Address : </td>
                <td><div id="address_text"></div></td>
                <td>City : </td>
                <td><div id="city_text"></div></td>
              </tr>
              <tr>
                <td>Zip Code : </td>
                <td><div id="zip_text"></div></td>
                <td>Phone : </td>
                <td><div id="phone_text"></div></td>
              </tr>
              <tr>
                <td>Website link: </td>
                <td><div id="website_text"></div></td>
                <td>Facebook link: </td>
                <td><div id="facebook_text"></div></td>
              </tr>
              <tr>
                <td>Twitter link: </td>
                <td><div  id="twitter_text"></div></td>
                <td>Google Plus link: </td>
                <td><div  id="google_text"></div></td>
              </tr>
              <tr>
                <td>Sport Team : </td>
                <td><div  id="sport_text"></div></td>
                <td>Description : </td>
                <td><div  id="description_text"></div></td>
              </tr>
              <tr>
              <button class="btn-primary" style="padding: 4px;border-radius: 3px;">Standard Swig</button>
              <div  id="swig_text" style="margin-bottom: 10px;"></div>
              </tr>
            </table>

          </div>
          <div class="modal-footer">
            <a class="btn" data-dismiss="modal" data-toggle="modal">Cancel</a>
            <a class="btn" href="#sport_team" data-dismiss="modal" data-toggle="modal">Back</a>
            <%= f.submit "Submit", class: "btn-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>

      <script type="text/javascript">
        $(document).ready(function(){
          $(".day_bar").click(function(){
            var day = $("#"+this.id).attr("day_bar");
            day_last = day - 1
            var open = document.getElementById("#bar_bar_hours_attributes_"+day_last+"_open_hour").value();
            var close = $("#close_hour"+day_last+" > option:selected").text();
            var openw = $("#open_w"+day_last+" > option:selected").text();
            var closew = $("#close_w"+day_last+" > option:selected").text();

            //if ($("#"+this.id).attr('checked', true) && open != "" && close != "" && openw != "" && closew != ""){
            if ($("#"+this.id).attr('checked', true)){

              $('#bar_bar_hours_attributes_'+day+'_open_hour').val($('#bar_bar_hours_attributes_'+day_last+'_open_hour').val())

              //$("#bar_bar_hours_attributes_"+day+"_open_hour > option").eq(open).attr("selected","selected")
              $("#close_hour"+day+" > option").eq(close).attr("selected","selected")
              $("#open_w"+day+" > option").eq(openw).attr("selected","selected")
              $("#close_w"+day+" > option").eq(closew).attr("selected","selected")

            }else{
              $("#"+this.id).attr('checked', false);
              $("#open_hour"+day+" > option").eq(open).attr("selected","")
              $("#close_hour"+day+" > option").eq(close).attr("selected","")
              $("#open_w"+day+" > option").eq(openw).attr("selected","")
              $("#close_w"+day+" > option").eq(closew).attr("selected","")
            }
          });
        });
      </script>

      <!--<script type="text/javascript">
        $(document).ready(function(){
          $(".day_bar").click(function(){
            var day = $("#"+this.id).attr("day_bar");
            day_last = day - 1
            var open = $("#bar_bar_hours_attributes_"+day_last+"_open_hour > option:selected").text();
            var close = $("#close_hour"+day_last+" > option:selected").text();
            var openw = $("#open_w"+day_last+" > option:selected").text();
            var closew = $("#close_w"+day_last+" > option:selected").text();

            //if ($("#"+this.id).attr('checked', true) && open != "" && close != "" && openw != "" && closew != ""){
            if ($("#"+this.id).attr('checked', true)){

              $("#bar_bar_hours_attributes_"+day+"_open_hour > option").eq(open).attr("selected","selected")
              $("#close_hour"+day+" > option").eq(close).attr("selected","selected")
              $("#open_w"+day+" > option").eq(openw).attr("selected","selected")
              $("#close_w"+day+" > option").eq(closew).attr("selected","selected")

            }else{
              $("#"+this.id).attr('checked', false);
              $("#open_hour"+day+" > option").eq(open).attr("selected","")
              $("#close_hour"+day+" > option").eq(close).attr("selected","")
              $("#open_w"+day+" > option").eq(openw).attr("selected","")
              $("#close_w"+day+" > option").eq(closew).attr("selected","")
            }
          });
        });
      </script>-->
