<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  #map_canvas { height: 250px ; width: 275px;}
</style>

<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88&sensor=true">
</script>
<script type="text/javascript">
  function initialize() {
    var latlo = new google.maps.LatLng(<%= @bar.latitude.to_f %>, <%= @bar.longitude.to_f %>)
    var myOptions = {
      center: latlo,
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
    myOptions);
    var marker = new google.maps.Marker({
      position: latlo,
      map: map
    });
  }
</script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Days', 'Swiger'],
      ['Mon',  <%= @swigers.select{|sw| sw.created_at.strftime("%A") == "Monday"}.count.to_i %>],
      ['Tue',  <%= @swigers.select{|sw| sw.created_at.strftime("%A") == "Tuesday"}.count.to_i %>],
      ['Wed', <%= @swigers.select{|sw| sw.created_at.strftime("%A") == "Wednesday"}.count.to_i %>],
      ['Thu',  <%= @swigers.select{|sw| sw.created_at.strftime("%A") == "Thusday"}.count %>],
      ['Fri',  <%= @swigers.select{|sw| sw.created_at.strftime("%A") == "Friday"}.count %>],
      ['Sat',  <%= @swigers.select{|sw| sw.created_at.strftime("%A") == "Saturday"}.count %>],
      ['Sun',  <%= @swigers.select{|sw| sw.created_at.strftime("%A") == "Sunday"}.count %>]
    ]);

    var options = {
      title: 'Swig Stat',
      hAxis: {title: 'Stat', titleTextStyle: {color: 'green'}}
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
<body onload="initialize()">

  <%= content_for :side do %>
    <div id="map_canvas" style="margin-left: -25px;">
      <%= image_tag("http://maps.googleapis.com/maps/api/js?key=AIzaSyBaz4HYWs-2If2J6Awpc23Twds3i-1Mj88&markers=#{@bar.latitude}%2C#{@bar.longitude}") %>
    </div>
  <% end %>

  <h3><%= @bar.name rescue nil %></h3>
  <div class="span4">
    <%#= image_tag(@bar.logo_url(:thumb)) rescue nil %>
  </div>
  <div class="span6">
    <div class="accordion">
      <div class="accordion-group">
        <div class="accordion-heading" style="margin-left: 40px;">
          <div class="accordion-inner">
            <a class="" data-toggle="collapse" data-target="#swig" style="color: black;"><b>Swigs</b></a>
          </div>
        </div>
        <div id="swig" class="accordion-body collapse">
          <div class="accordion-inner">
            <a class="" data-toggle="modal" href="#swigModal">Create Swig</a>
            <br />
            <a class="" data-toggle="modal" href="#stat_swig">Stat</a><br />
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading" style="margin-left: 40px;">
          <div class="accordion-inner">
            <a class="" data-toggle="collapse" data-target="#reward" style="color: black;" ><b>Rewards</b></a>
          </div>
        </div>
        <div id="reward" class="accordion-body collapse">
          <div class="accordion-inner">
            <a class="" data-toggle="modal" href="#rewardModal">Add New Reward</a><br />
            <a class="" data-toggle="modal" href="#">Stat</a><br />
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading"style="margin-left: 40px;">
          <div class="accordion-inner">
            <a class="" data-toggle="collapse" data-target="#stat" style="color: black;"><b>Stats</b></a>
          </div>
        </div>
        <div id="stat" class="accordion-body collapse">
          <div class="accordion-inner">
            <a class="" data-toggle="modal" href="#">Stat</a><br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="clearfix"></div>


  <br/>

  <div class="clearfix"></div>

  <ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#swig_tab" data-toggle="tab"><h3>Swig</h3></a></li>
    <li><a href="#reward_tab" data-toggle="tab"><h3>Reward</h3></a></li>
    <li><a href="#stat_chart" data-toggle="tab"><h3>Stat</h3></a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="swig_tab">
      <ul class="tabs" data-tabs="tabs">
        <li><a href="#monday" data-toggle="tab"><h3>Mon</h3></a></li>
        <li><a href="#tuesday" data-toggle="tab"><h3>Tue</h3></a></li>
        <li><a href="#wednesday" data-toggle="tab"><h3>Wed</h3></a></li>
        <li><a href="#thursday" data-toggle="tab"><h3>Thu</h3></a></li>
        <li><a href="#friday" data-toggle="tab"><h3>Fri</h3></a></li>
        <li><a href="#saturday" data-toggle="tab"><h3>Sat</h3></a></li>
        <li><a href="#sunday" data-toggle="tab"><h3>Sun</h3></a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="monday">
          <% @swigs.monday.each do |swig|%>
            <%= render partial: "swig_list", locals: {swig: swig} %>
          <% end %>
        </div>
        <div class="tab-pane" id="tuesday">
          <% @swigs.tuesday.each do |swig|%>
            <%= render partial: "swig_list", locals: {swig: swig} %>
          <% end %>
        </div>
        <div class="tab-pane" id="wednesday">
          <% @swigs.wednesday.each do |swig|%>
            <%= render partial: "swig_list", locals: {swig: swig} %>
          <% end %>
        </div>
        <div class="tab-pane" id="thursday">
          <% @swigs.thursday.each do |swig|%>
            <%= render partial: "swig_list", locals: {swig: swig} %>
          <% end %>
        </div>
        <div class="tab-pane" id="friday">
          <% @swigs.friday.each do |swig|%>
            <%= render partial: "swig_list", locals: {swig: swig} %>
          <% end %>
        </div>
        <div class="tab-pane" id="saturday">
          <% @swigs.saturday.each do |swig|%>
            <%= render partial: "swig_list", locals: {swig: swig} %>
          <% end %>
        </div>
        <div class="tab-pane" id="sunday">
          <% @swigs.sunday.each do |swig|%>
            <%= render partial: "swig_list", locals: {swig: swig} %>
          <% end %>
        </div>
      </div>

    </div>
    <div class="tab-pane" id="reward_tab">
      <ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="#reward_loyalty" data-toggle="tab"><h3>Loyalty</h3></a></li>
        <li><a href="#reward_popularity" data-toggle="tab"><h3>Popularity</h3></a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="reward_loyalty">

          <div class="clearfix"></div>
          <% @loyalty.each do |l| %>
            <div class="span6">
              <b>Swig Require : </b><%= l.swigs_number %><br/>
              <b>Detail : </b><%= l.reward_detail %>
            </div>
            <div class="span4 pull-right">
              <a class="" data-toggle="modal" href="#update<%= l.id %>">Change</a>
              <%= link_to  "Delete", bars_delete_loyalty_path(l.id), method: :delete, confirm: "Delete loyalty?" %>
              <%= content_for :outer do %>
                <div id="update<%= l.id %>" class="modal hide fade">
                  <%= render partial: "update_loyalty", locals: {l: l} %>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="clearfix"></div>
          <div class="span7">
            <table class="zebra-striped">
              <th>Name</th>
              <th>Winning Date</th>
              <% @winner.each do |w| %>
                <tr>
                  <td>
                    <%=  w.user.name %>
                  </td>
                  <td>
                    <%=  w.created_at.strftime("%%%") %>
                  </td>
                  <td>
                    <a href="#loyalty_reward_message<%= w.id %>" data-toggle="modal"><b>Send Reward</b></a>
                    <%= content_for :outer do %>
                      <div id="loyalty_reward_message<%= w.id %>" class="modal hide fade"><div class="modal-header">
                          <a class="close" data-dismiss="modal"><b>x</b></a>
                          <h3>Reward for <%=  w.user.name %></h3>
                        </div>
                        <div class="modal-body well">
                          <div style="text-align: center;">
                            <%= simple_form_for(@loyalty_reward ,url: bars_create_reward_message_path(w.user_id, w.id)) do |lr| %>
                              <%= render partial: "loyalty_reward", locals: {lr: lr} %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="reward_popularity">
          <% @popularity.each do |l| %>
            <div class="span6">
              <%= l.swigs_number %><br/>
              <%= l.reward_detail %>
            </div>
            <div class="span4 pull-right">
              <%= link_to  "Delete", bars_delete_popularity_path(l.id), method: :delete, confirm: "Delete Popularity?" %>
              <a class="" data-toggle="modal" href="#update<%= l.id %>">Change</a>
              <%= content_for :outer do %>
                <div id="update<%= l.id %>" class="modal hide fade">
                  <%= render partial: "update_popularity", locals: {l: l} %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="stat_chart">
      <div id="chart_div" style="width: 700px; height: 300px;"></div>
    </div>

  </div>

  <%= content_for :outer do %>

    <div id="swigModal" class="modal hide fade" style="opacity: 1 ;">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3>Swig Type</h3>
      </div>
      <div class="modal-body well">
        <div style="text-align: center;">
          <strong><a class="btn-warning" style="padding-bottom: 3px;padding-left: 4px;padding-right: 4px;padding-top: 3px;border-radius: 2px;" data-toggle="modal" href="#bigswigModal">BIG</a></strong>
          &nbsp; &nbsp;
          <strong><a class="btn-primary" style="padding-bottom: 3px;padding-left: 4px;padding-right: 4px;padding-top: 3px;border-radius: 2px;" data-toggle="modal" href="#stadardswigModal">Standard</a></strong>
        </div>
      </div>
    </div>
    <div id="swig_stat" class="modal hide fade" style="opacity: 1 ;">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3>Swig Type</h3>
      </div>
      <div class="modal-body well">
        <div id="chart_div" style="width: 400px; height: 300px;"></div>
      </div>
    </div>
    <div id="rewardModal" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3>Swig Type</h3>
      </div>
      <div class="modal-body well">
        <div style="text-align: center;">
          <strong><a class="btn-warning" style="padding-bottom: 3px;padding-left: 4px;padding-right: 4px;padding-top: 3px;border-radius: 2px;" data-toggle="modal" href="#loyalty">Loyalty</a></strong>
          &nbsp; &nbsp;
          <strong><a class="btn-primary" style="padding-bottom: 3px;padding-left: 4px;padding-right: 4px;padding-top: 3px;border-radius: 2px;" data-toggle="modal" href="#popularity">Popularity</a></strong>
        </div>
      </div>
    </div>

    <div id="bigswigModal" class="modal hide fade" style="opacity: 1 ;">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3>Big Swig</h3>
      </div>
      <div class="modal-body well">
        <%= simple_form_for(@swig, url: bars_create_swig_path, html: { :class => "form-horizontal"}) do |f| %>
          <%= f.input :swig_type, as: :hidden, input_html: {value: "Big"} %>
          <%= f.input :swig_day, as: :select, collection: days %>
          <%= f.input :deal , as: :text,input_html: { style: "width: 300px;height: 100px"}%>
          <%= f.input :people, label: "Swig needed" %>

          <div class="form-actions">
            <%= f.submit "Create Swig", class: "btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>

      <div id="stadardswigModal" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><b>x</b></a>
          <h3>Standard Swig</h3>
        </div>
        <div class="modal-body well">
          <%= simple_form_for(@swig, url: bars_create_swig_path, html: { :class => "form-horizontal"}) do |f| %>
            <%= f.input :swig_type, as: :hidden, input_html: {value: "Standard"} %>
            <%= f.input :swig_day %>
            <%= f.input :deal , as: :text,input_html: { style: "width: 300px;height: 100px"}%>
            <div class="form-actions">
              <%= f.submit "Create Swig", class: "btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>

        <div id="popularity" class="modal hide fade">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><b>x</b></a>
            <h3>Popularity</h3>
          </div>
          <div class="modal-body well">
            <%= simple_form_for(@popular, url: bars_create_popularity_path, html: { :class => "form-horizontal"}) do |f| %>
        <%#= f.input :reward_type, as: :hidden, input_html: {value: "Popularity"} %>
              <%= f.input :bar_id, as: :hidden, input_html: {value: current_bar.id} %>
              <%= f.input :reward_detail , as: :text,input_html: { style: "width: 300px;height: 100px"}%>
              <%= f.input :swigs_number %>
              <div class="form-actions">
                <%= f.submit "Create Popularity", class: "btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
          <div id="loyalty" class="modal hide fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal"><b>x</b></a>
              <h3>Loyalty</h3>
            </div>
            <div class="modal-body well">
              <%= simple_form_for(@loyal, url: bars_create_loyalty_path, html: { :class => "form-horizontal"}) do |f| %>
          <%#= f.input :reward_type, as: :hidden, input_html: {value: "Loyalty"} %>
                <%= f.input :bar_id, as: :hidden, input_html: {value: current_bar.id.to_i} %>
                <%= f.input :reward_detail , as: :text,input_html: { style: "width: 300px;height: 100px"}%>
                <%= f.input :swigs_number %>
                <div class="form-actions">
                  <%= f.submit "Create Loyalty", class: "btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>

        </body>