<%#= content_for :side do %>
  <%#= render "message_menu" %>
<%# end %>


<div class="container-fluid">
  <div class="row-fluid" style="margin-top: 15px">
    <div class="span8">
      <h2>Notification</h2>
      <%= form_tag custom_action_bars_messages_path, :id => "message_action_form" do  %>
        <table class="table">
          <thead>
            <tr>
              <td colspan="4">
                <%= select_tag "options_action", options_for_select([["Options", "0"],["Check All", "1"],["Uncheck All", "2"]]) %>
                <%= select_tag "custom_action", options_for_select([["Action", "0"],["Mark as read", "1"],["Mark as unread", "2"],["Delete", "3"]]) %>
              </td>
            </tr>
          </thead>
          <tbody>
            <% @messages.each do |message| %>
              <% if message.category.eql?(0) or message.category.eql?(1) or message.category.eql?(5) %>
                <tr style="cursor: pointer;background-color: <%= message.opened ? "white" : "darkgrey" %>">
                  <td class="span2"><%= check_box_tag "message_ids[]", message.id, false, :class => "checkbox" %></td>
                  <% if !message.gift_id.blank? %>
                    <td class="span5"><%= link_to  message.sent_messageable.name, bar_profile_path(message.sent_messageable) %></td>
                    <td class="span2"><div style="width: 25px;"><%= link_to image_tag("/assets/gift.jpeg"), users_message_path(current_user.id)  %></div></td>
                  <% elsif !message.reward_id.blank? %>
                    <td class="span5"><%= link_to  message.sent_messageable.name, bar_profile_path(message.sent_messageable) %></td>
                    <td class="span2"><div style="width: 25px;"><%= link_to  image_tag("/assets/reward.jpg"), users_message_path(current_user.id) %></div></td>
                  <% else %>
                    <td class="span7"><%= link_to  message.sent_messageable.name, bar_profile_path(message.sent_messageable) %></td>
                  <% end %>
                  <td class="span10" onclick="window.location.href='<%= users_message_url(message) %>'"><b><%= message.topic %></b> - <%= truncate(strip_tags(message.body.html_safe), length: 40) %></td>
                  <td class="span4" onclick="window.location.href='<%= users_message_url(message) %>'"><%= message.created_at.strftime("%b %d, %Y") %></td>
                </tr>
              <% elsif message.category.eql?(6) or message.category.eql?(7) or message.category.eql?(8) %>
                <tr style="cursor: pointer;background-color: <%= message.opened ? "white" : "darkgrey" %>">
                  <td class="span2"><%= check_box_tag "message_ids[]", message.id, false, :class => "checkbox" %></td>
                  <td class="span7"><%= link_to  message.sent_messageable.name, bar_profile_path(message.sent_messageable) %></td>
                  <td class="span10" onclick="window.location.href='<%= users_message_url(message) %>'"><b><%= message.topic %></b> - <%= truncate(strip_tags(message.body.html_safe), length: 40) %></td>
                  <td class="span4" onclick="window.location.href='<%= users_message_url(message) %>'"><%= message.created_at.strftime("%b %d, %Y") %></td>
                </tr>
              <% elsif message.category.eql?(9) %>
                <tr style="cursor: pointer;background-color: <%= message.opened ? "white" : "darkgrey" %>">
                  <td class="span2"><%= check_box_tag "message_ids[]", message.id, false, :class => "checkbox" %></td>
                  <td class="span7"><%= link_to  message.sent_messageable.name, bar_profile_path(message.sent_messageable) %></td>
                  <td class="span10" onclick="window.location.href='<%= users_message_url(message) %>'"><b><%= message.topic %></b> - <%= truncate(strip_tags(message.body.html_safe), length: 40) %></td>
                  <td class="span4" onclick="window.location.href='<%= users_message_url(message) %>'"><%= message.created_at.strftime("%b %d, %Y") %></td>
                </tr>
              <% elsif message.category.eql?(11) %>
                <tr style="cursor: pointer;background-color: <%= message.opened ? "white" : "darkgrey" %>">
                  <td class="span2"><%= check_box_tag "message_ids[]", message.id, false, :class => "checkbox" %></td>
                  <td class="span7"><%= link_to  message.sent_messageable.name, users_message_path(current_user.id) %></td>
                  <td class="span10" onclick="window.location.href='<%= users_message_url(message) %>'"><b><%= message.topic %></b> - <%= truncate(strip_tags(message.body.html_safe), length: 40) %></td>
                  <td class="span4" onclick="window.location.href='<%= users_message_url(message) %>'"><%= message.created_at.strftime("%b %d, %Y") %></td>
                </tr>
              <% elsif message.category.eql?(15) %>
                <tr style="cursor: pointer;background-color: <%= message.opened ? "white" : "darkgrey" %>">
                  <td class="span2"><%= check_box_tag "message_ids[]", message.id, false, :class => "checkbox" %></td>
                  <td class="span5"><%= link_to  message.sent_messageable.name, bar_profile_path(message.sent_messageable) %></td>
                  <td class="span2"><div style="width: 25px;"><%= link_to  image_tag("/assets/Unlock-icon.png"), users_message_path(current_user.id) %></div></td>
                  <td class="span10" onclick="window.location.href='<%= users_message_url(message) %>'"><b><%= message.topic %></b> - <%= truncate(strip_tags(message.body.html_safe), length: 40) %></td>
                  <td class="span4" onclick="window.location.href='<%= users_message_url(message) %>'"><%= message.created_at.strftime("%b %d, %Y") %></td>
                </tr>
              <% elsif message.category.eql?(16) %>
                <tr style="cursor: pointer;background-color: <%= message.opened ? "white" : "darkgrey" %>">
                  <td class="span2"><%= check_box_tag "message_ids[]", message.id, false, :class => "checkbox" %></td>
                  <td class="span5"><%= link_to  message.sent_messageable.name, bar_profile_path(message.sent_messageable) %></td>
                  <td class="span2"><div style="width: 25px;"><%= link_to  image_tag("/assets/gift.jpg"), users_message_path(current_user.id) %></div></td>
                  <td class="span10" onclick="window.location.href='<%= users_message_url(message) %>'"><b><%= message.topic %></b> - <%= truncate(strip_tags(message.body.html_safe), length: 40) %></td>
                  <td class="span4" onclick="window.location.href='<%= users_message_url(message) %>'"><%= message.created_at.strftime("%b %d, %Y") %></td>
                </tr>
              <% elsif message.category.eql?(22) %>
                <tr style="cursor: pointer;background-color: <%= message.opened ? "white" : "darkgrey" %>">
                  <td class="span2"><%= check_box_tag "message_ids[]", message.id, false, :class => "checkbox" %></td>
                  <td class="span7"><%= link_to  "SwigBIG Admin", users_message_path(current_user.id) %></td>
                  <td class="span10" onclick="window.location.href='<%= users_message_url(message) %>'"><b><%= message.topic %></b> - <%= truncate(strip_tags(message.body.html_safe), length: 40) %></td>
                  <td class="span4" onclick="window.location.href='<%= users_message_url(message) %>'"><%= message.created_at.strftime("%b %d, %Y") %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>

        <%= paginate @messages %>

      <% end %>
    </div>
  </div>
</div>


