<%#= content_for :side do %>
<%#= render "message_menu" %>
<%# end %>


<div class="container-fluid">
  <div class="row-fluid" style="margin-top: 15px">
    <div class="span8">
      <h2>Notification</h2>
      <%= form_tag custom_action_users_messages_path, :id => "message_action_form" do  %>
        <table class="table">
          <thead>
            <tr>
              <td colspan="4">
                <%= select_tag "options_action", options_for_select([["Options", "0"],["Check All", "1"],["Uncheck All", "2"]]) %>
                <%= select_tag "custom_action", options_for_select([["Action", "0"],["Mark as read", "1"],["Mark as unread", "2"],["Delete", "3"]]) %>
              </td>
            </tr>
          </thead>
          <tbody id="message_list">
            <%= render partial: "message_content" %>
          </tbody>
        </table>
        <div id="message_paginator">
          <%= paginate @messages, remote: :true %>
        </div>

      <% end %>
    </div>
  </div>
</div>


