<style type="text/css">
  ul.token-input-list-facebook{
    margin-left: -105px;
    width: 430px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    var users = [];
<% User.all.each do |b| %>
      var x = [];
      x.push('name: <%= b.to_json %>');//0
      x.push('id: <%= b.to_json %>');//0
      users.push(x);
<% end %>

    $("#tk_bars").tokenInput("/bars/users_lists", {
      theme: "facebook",
      preventDuplicates: true
    });
  });
</script>

<%#= render "message_menu" %>
<div style="float:left;width: 75% ;padding:10px;">
  <h2>Compose Message</h2>
  <%= simple_form_for(@message, :url => users_messages_path, html: {:class => "form-horizontal pull-left"}) do |f| %>
    <%= f.input :to, input_html: {id: , style: "width: 550px"} %>
    <%= f.input :topic, label: "Subject" %>
    <%= f.input :body, input_html: {rows: 6, style: "width: 550px"} %>
    <div class="form-actions">
      <%= f.submit "Send" , class: "btn-primary"%>
      </div>
    <% end %>
  </div>
