<%= content_for :js_footer do %>
  <%= javascript_include_tag "bootstrap-collapse" %>

  <script type="text/javascript">
    $(document).ready(function(){
      $("abbr").hide();
    })
  </script>
<% end %>
<div class="container-fluid">
  <div class="row-fluid" style="margin-top: 15px">
    <%= content_for :side do %>
      <%= render "message_menu" %>
    <% end %>
    <div class="span8">
      <h2><%= @message_show.created_at.strftime("%b %d, %Y") rescue nil %></h2>
      <table width="100%;">
        <tr>
          <% if @message_show.category.eql?(22) %>
          <div style="width: 400px;"><b>From : SwigBIG</b></div>
        <% elsif @message_show.category.eql?(16) %>
          <div style="width: 400px;"><b>From : </b> <%= @message_show.sent_messageable.name rescue nil %>, <%= @message_show.sent_messageable.full_address rescue nil %></div>
          <br/>
          <b>Reward: </b> <%= @message_show.reward rescue nil %>
          <br/>
        <% else %>
          <div style="width: 400px;"><b>From : </b> <%= @message_show.sent_messageable.name rescue nil %>, <%= @message_show.sent_messageable.full_address rescue nil %></div>
        <% end %>

        </tr>
        <tr>
        <div style="width: 400px;"><b><%= @message_show.topic rescue nil %></b></div>
        </tr>
        <tr>
          <td><%= @message_show.body.html_safe rescue nil %></td>
        </tr>
        <tr>
          <td><b>Reward: </b></td>
          <td><%= @message_show.reward rescue "not available!" %> </td>
        </tr>
      </table>
      <div class="clearfix"></div>
      <%# unless @message_show.category.to_i.eql?(22) or @message_show.category.to_i.eql?(9) or @message_show.category.to_i.eql?(15) or @message_show.category.to_i.eql?(16) %>
        <div class="accordion-group">
          <div class="accordion-heading" style="margin-left: 10px;">
            <div class="accordion-inner">
              <a data-toggle="collapse" data-target="#reply" style="color: black;"><b>Reply</b></a>
            </div>
          </div>
        </div>
        <div id="reply" class="accordion-body collapse">
          <div class="accordion-inner" style="margin-left: 0px;">
            <div style="margin-left: -30px;">
              <%= simple_form_for(@message, :url => users_messages_path, html: {:class => "form-horizontal pull-left"}) do |f| %>
                <%= f.input :reward, input_html: {style: "display: none;", value: @message_show.category} %>
                <%= f.input :to, label: false, input_html: {style: "display: none;", value: @message_show.sent_messageable_id} %>
                <%= f.input :topic, label: "Subject", input_html: {style: "width: 400px;"} %>
                <%= f.input :body, input_html: {rows: 6, style: "width: 400px;"} %>
                <%= f.input :category, label: false, input_html: {style: "display: none;", value: 23} %>
                <div class="form-actions">
                  <%= f.submit "Send" , class: "btn-primary"%>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <%# end %>

    </div>
  </div>


