<%= content_for :side do %>
  <%= render "message_menu" %>
<% end %>
<div class="span9">
  <h4><%= @message_show.sent_messageable.created_at.strftime("%b %d, %Y") %></h4>
  <table width="100%;">
    <tr>
      <td style="width: 10%">From: 
<%#= @message_show.sent_messageable.name %>
        <% if @message_show.sent_messageable_type.eql?("AdminUser") %>
          <b>SwigBIG</b>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2"><%= @message_show.topic %></td>
    </tr>
    <tr>
      <td colspan="2"><%= @message_show.body.html_safe %></td>
    </tr>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("abbr").hide();
  })
</script>