<div class="container-fluid">
  <div class="row-fluid" style="margin-top: 15px">
    <%= content_for :side do %>
      <%= render "message_menu" %>
    <% end %>
    <div class="span8">
      <h2>Trash</h2>
      <%= form_tag custom_action_bars_messages_path, :id => "message_action_form" do  %>
        <table class="table">
          <thead>
            <tr>
              <td colspan="4">
                <%= select_tag "options_action", options_for_select([["Options", "0"],["Check All", "1"],["Uncheck All", "2"]]) %>
                <%= select_tag "custom_action", options_for_select([["Action", "0"],["Mark as read", "1"],["Mark as unread", "2"],["Delete", "3"]]) %>
              </td>
            </tr>
          </thead>
          <tbody>
            <% @messages.each do |message| %>
              <tr style="cursor: pointer;background-color: <%= message.opened ? "white" : "darkgrey" %>">
                <td class="span2"><%= check_box_tag "message_ids[]", message.id, false, :class => "checkbox" %></td>
                <td class="span7" onclick="window.location.href='<%= students_message_url(message) %>'"><%= message.received_messageable.class.to_s.eql?("Business") ? message.received_messageable.company_name.titleize : message.received_messageable.full_name.titleize %></td>
                <td class="span7"><%= link_to  message.received_messageable.full_name.titleize,business_student_path(current_business.id, message.received_messageable)  %></td>
                <td class="span10" onclick="window.location.href='<%= students_message_url(message) %>'"><b><%= message.topic %></b> - <%= truncate(strip_tags(message.body.html_safe), length: 40) %></td>
                <td class="span4" onclick="window.location.href='<%= students_message_url(message) %>'"><%= message.created_at.strftime("%b %d, %Y") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= paginate @messages %>

      <% end %>
    </div>
  </div>
</div>



