<style type="text/css">
  #p1, #p2, #p3, #p4 {
    background: none repeat scroll 0 0 white;
    border-radius: 3px 3px 3px 3px;
    display: none;
    margin-top: -5px;
    padding: 5px;
    position: absolute;
    text-align: justify;
    width: 210px;
    z-index: 10;
  }
</style>
<div class="row-fluid">
  <div class="span3" style="text-align: center;">
    <h5 id="slogan1" style="padding-bottom: 35px;"><%= @site_content.slogan.first_title rescue "not set yet" %><br/> </h5>
    <p id="p1">
      <%= @site_content.slogan.first_paragraph rescue "not set yet" %>
    </p>
    <%= image_tag(@site_content.slogan.first_image_url) rescue "not set yet" %>
  </div>
  <div class="span3" style="text-align: center;">
    <h5 id="slogan2" style="padding-bottom: 35px;"><%= @site_content.slogan.second_title rescue "not set yet" %><br/> </h5>
    <p id="p2">
      <%= @site_content.slogan.second_paragraph rescue "not set yet" %>
    </p>
    <%= image_tag(@site_content.slogan.second_image_url) rescue "not set yet" %>
  </div>
  <div class="span3" style="text-align: center;">
    <h5 id="slogan3" style="padding-bottom: 35px;"><%= @site_content.slogan.third_title rescue "not set yet" %></h5>
    <p id="p3" style="display: none;text-align: justify;padding: 5px;border-radius: 3px;">
      <%= @site_content.slogan.third_paragraph rescue "not set yet" %>
    </p>
    <%= image_tag(@site_content.slogan.third_image_url) rescue "not set yet" %>
  </div>
  <div class="span3" style="text-align: center;">
    <h5 id="slogan4" style="padding-bottom: 35px;"><%= @site_content.slogan.fourth_title rescue "not set yet" %></h5>
    <p id="p4" style="display: none;text-align: justify;padding: 5px;border-radius: 3px;">
      <%= @site_content.slogan.third_paragraph rescue "not set yet" %>
    </p>
    <%= image_tag(@site_content.slogan.third_image_url) rescue "not set yet" %>
  </div>
  <div class="clearfix"></div>
  <div class="span11">
    <div style="text-align: center;">
      <br/>
<%#= button_to "Go To SwigBIG", main_home_path, method: :get, class: "btn-primary" %>
      <% unless current_bar %>
        <%= button_to  "Sign up FREE!", "/sign_up", :class => "btn-primary btn-large", method: :get %>
      <% end %>
      <%= image_tag "/assets/available_on_android.png" %>
      <%= image_tag "/assets/available_on_app_store.png" %>
    </div>

  </div>
  <div class="span11">
    <div style="text-align: center;">
      <br/>
    </div>
  </div>
</div>

<%= content_for :outer do %>
  <div id="sign_up" class="modal hide fade">
    <div class="modal-header">
      <a class="close" data-dismiss="modal"><b>x</b></a>
      <h3 style="text-align: center;">Sign Up as?</h3>
    </div>
    <div class="modal-body">
      <div style="text-align: center;">
        <b><%= button_to  "Bar", new_bar_registration_path, class: "btn-primary", method: :get %></b>
          &nbsp;
          <b>Or</b>
          &nbsp;
          <b><%= button_to "User",  new_user_registration_path, class: "btn-primary", method: :get %></b>
          </div>
        </div>
      </div>
    <% end %>

    <script type="text/javascript">
      $("#slogan1").hover(function () {
        $("#p1").slideToggle("slow");
      });
      $("#slogan2").hover(function () {
        $("#p2").slideToggle("slow");
      });
      $("#slogan3").hover(function () {
        $("#p3").slideToggle("slow");
      });
      $("#slogan4").hover(function () {
        $("#p4").slideToggle("slow");
      });
    </script>
