<%= content_for :js_footer do %>
  <script type="text/javascript">
    $("#p1").hover(function () {
      $("#p1text").slideDown();
      $("#p1image").slideUp();
    }, function(){
      $("#p1text").slideUp();
      $("#p1image").slideDown();
    });
    $("#p2").hover(function () {
      $("#p2text").slideDown();
      $("#p2image").slideUp();
    }, function(){
      $("#p2text").slideUp();
      $("#p2image").slideDown();
    });
    $("#p3").hover(function () {
      $("#p3text").slideDown();
      $("#p3image").slideUp();
    }, function(){
      $("#p3text").slideUp();
      $("#p3image").slideDown();
    });
    $("#p4").hover(function () {
      $("#p4text").slideDown();
      $("#p4image").slideUp();
    }, function(){
      $("#p4text").slideUp();
      $("#p4image").slideDown();
    });
  </script>

  <style type="text/css">
    #p1, #p2, #p3, #p4 {
      background: none repeat scroll 0 0 white;
      border-radius: 3px 3px 3px 3px;
      margin-top: -5px;
      padding: 5px;
      position: absolute;
      text-align: justify;
      width: 210px;
      z-index: 10;
    }
  </style>

<% end %>

<div class="row-fluid" style="height: 360px;">
  <div id="slogan1" class="span3" style="text-align: center;">
    <h5  style="padding-bottom: 35px;"><%= @site_content.slogan.first_title rescue "not set yet" %><br/> </h5>
    <div id="p1">
      <div id="p1text" style="display:none;"><%= @site_content.slogan.first_paragraph rescue "not set yet" %></div>
      <div id="p1image">
        <%= image_tag(@site_content.slogan.first_image_url) rescue "not set yet" %>
      </div>
    </div>
  </div>
  <div id="slogan2" class="span3" style="text-align: center;">
    <h5  style="padding-bottom: 35px;"><%= @site_content.slogan.second_title rescue "not set yet" %><br/> </h5>
    <div id="p2">
      <div id="p2text" style="display:none;"><%= @site_content.slogan.second_paragraph rescue "not set yet" %></div>
      <div id="p2image"><%= image_tag(@site_content.slogan.second_image_url) rescue "not set yet" %></div>
    </div>
  </div>
  <div id="slogan3" class="span3" style="text-align: center;">
    <h5  style="padding-bottom: 35px;"><%= @site_content.slogan.third_title rescue "not set yet" %></h5>
    <div id="p3">
      <div id="p3text" style="display:none;"><%= @site_content.slogan.third_paragraph rescue "not set yet" %></div>
      <div id="p3image"><%= image_tag(@site_content.slogan.third_image_url, id: "second_picture") rescue "not set yet" %></div>
    </div>
  </div>
  <div id="slogan4" class="span3" style="text-align: center;">
    <h5  style="padding-bottom: 35px;"><%= @site_content.slogan.fourth_title rescue "not set yet" %></h5>
    <div id="p4">
      <div id="p4text" style="display:none;"><%= @site_content.slogan.fourth_paragraph rescue "not set yet" %></div>
      <div id="p4image"><%= image_tag(@site_content.slogan.fourth_image_url, id: "third_picture") rescue "not set yet" %></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="span15">
  <div style="text-align: center;">
    <% unless current_bar %>
      <%= button_to  "Sign up FREE!", "/sign_up", :class => "btn-primary", method: :get %>
    <% end %>
    <%= image_tag "/assets/available_on_android.png" %>
    <%= image_tag "/assets/available_on_app_store.png" %>
  </div>
</div>

<%= content_for :outer do %>
  <div id="sign_up" class="modal hide fade">
    <div class="modal-header">
      <a class="close" data-dismiss="modal"><b>x</b></a>
      <h3 style="text-align: center;">Sign Up as?</h3>
    </div>
    <div class="modal-body">
      <div style="text-align: center;">
        <b><%= button_to  "Bar", new_bar_registration_path, class: "btn-primary", method: :get %></b>
          &nbsp;
          <b>Or</b>
          &nbsp;
          <b><%= button_to "User",  new_user_registration_path, class: "btn-primary", method: :get %></b>
          </div>
        </div>
      </div>
    <% end %>


