<script type="text/javascript" charset="utf-8">
  (function($) {
    $(document).ready(function() {
      $('input[name="q"]').search('#fb li', function(on) {
        on.all(function(results) {
          var size = results ? results.size() : 0
          $('#count').text(size + ' results');
        });

        on.reset(function() {
          $('#none').hide();
          $('#fb li').show();
        });

        on.empty(function() {
          $('#none').show();
          $('#fb li').hide();
        });

        on.results(function(results) {
          $('#none').hide();
          $('#fb li').hide();
          results.show();
        });
      });
    });
  })(jQuery);
</script>

<div data-role="page" id="after_swigging_page">
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3><%= @bar.name %></h3>
      <% if notice %>
        <div onclick="$(this).toggle()" class="alert alert-success"><%= notice %><a class="close" ><b>x</b></a></div>
      <% end %>
      <% if alert %>
        <div onclick="$(this).toggle()" class="alert alert-success"><%= alert %><a class="close"><b>x</b></a></div>
      <% end %>
    </div>
  </div>

  <div data-role="content" >
    <a href="#invite_friends_page" data-icon="arrow-r" data-role="button" class="ui-btn-right" >Invite Friends</a>
  </div><!-- /content -->

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 97%;">
      <a data-role="button" style="width: 100%;margin: 5px;" class="btn-primary" onclick="window.location.href='<%= bars_list_to_swig_home_path(:mobile)%>'">SWIG!</a>
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div>
</div>

<div data-role="page" id="invite_friends_page">
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3><%= @bar.name %></h3>
    </div>
  </div>

  <div data-role="content" >
    <a data-role="button" style="width: 100%;margin: 5px;" data-theme="b" onclick="$('#goto_invite').click()" >Invite Friends</a>
    <input type="text" name="q" value="" style="height: 30px;" placeholder="Search Name!"></input>
    <span id="count"></span>
    <p id="none" style="display:none">There were no names to match your search!</p>
    <%= form_tag(users_invite_fb_friends_path(@bar), "data-ajax" => 'false' ) do %>
      <div style="display: none;">
        <%= submit_tag "invite" , id: "goto_invite"%>
      </div>
      <ul id="fb" data-role="listview" class="ui-listview with_thumbnail" data-inset="true">
        <% @friends.each do |friend| %>
          <li>
            <div class="ui-grid-b">
              <div class="ui-block-a"><%= image_tag(friend.picture) %></div>
              <div class="ui-block-b"><%= friend.name %>
                <br/>
                <br/>
                <%= check_box_tag "fb_ids[]", friend.identifier, false, :class => "custom" %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div><!-- /content -->

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 97%;">
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div>
</div>
