<script type="text/javascript">
  $(document).ready(function() {
    $("#mytags").tagit({allowSpaces: false, trigerKeys: ['space', 'comma', 'tab']});
  });
</script>

<div data-role="page" id="after_swigging_page">
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3><%= @bar.name %></h3>
      <% if notice %>
        <div onclick="$(this).toggle()" class="alert alert-success"><%= notice %><a class="close" ><b>x</b></a></div>
      <% end %>
      <% if alert %>
        <div onclick="$(this).toggle()" class="alert alert-success"><%= alert %><a class="close"><b>x</b></a></div>
      <% end %>
    </div>
  </div>

  <div data-role="content" >

    <% if @popularity_guesses_point %>
      <%= "#{@popularity_guesses_point} of #{@inviter.bar.popularity.swigs_number} for #{@inviter.user.name} to get popularity reward from #{@inviter.bar.name}" %>
    <% end %>
    
    <% if Rails.cache.exist?('angga') %>
      <%= Rails.cache.delete('angga') %>
      <b>You earned Loyalty Reward!</b>
      <br/>
      <b><%= @bar.loyalty.reward_detail %></b>
    <% else %>
      <% if @loyalty_points %>
        <% unless @bar.loyalty.blank? %>
          <p><b>1&nbsp;</b> Loyalty Reward Point earned!</p>
        <% else %>
          <p><b>Loyalty Reward Point earned!</b> &nbsp; The bar not set up Loyalty Reward yet!</p>
        <% end %>
        <br/>
        <p><b> <%= @bar.loyalty.swigs_number - @loyalty_points.loyalty_points  %>&nbsp;</b> More reward point to reach reward! <b><%= @loyalty_points.loyalty_points %> of <%= @bar.loyalty.swigs_number %></b></p>
        <br/>
      <% end %>
    <% end %>
    <p>You have <b><%= @reward_to_expirate %></b> unused rewards for this bar and
      <b><%= @reward_to_expirate %></b> almost expirate reward</p>

    <a href="#invite_friends_page" data-icon="arrow-r" data-role="button" class="ui-btn-right" style="width: 98%;">Invite Friends</a>
  </div><!-- /content -->

  <div data-role="footer" data-position="fixed" style="width: 100%">
    <div data-role="controlgroup" style="margin: 5px;width: 97%;">
      <%= render partial: "shared/footer_menu_partial" %>
    </div>
  </div>
</div>

<div data-role="page" id="invite_friends_page">
  <div data-role="header" style="text-align: center;">
    <%= render partial: "shared/swigbig_logo" %>
    <div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
      <h3><%= @bar.name %></h3>
    </div>
  </div>

  <div data-role="content" >

    <br/>
    <br/>
    <%= form_tag(users_invite_email_friends_path(@bar), "data-ajax" => "false") do %>
      <%= text_field_tag(:mytags,"", style: "height: 30px;")  %>
      <div style="display: none;">
        <%= submit_tag "Invite", class: "btn-primary", style: "margin-left: 570px;margin-top: -40px;display: none;", id: "goto_invite" %>
        </div>
      <% end %>
      <a data-role="button" onclick="$('#goto_invite').click();">Invite</a>

    </div><!-- /content -->

    <div data-role="footer" data-position="fixed" style="width: 100%">
      <div data-role="controlgroup" style="margin: 5px;width: 97%;">
        <%= render partial: "shared/footer_menu_partial" %>
      </div>
    </div>
  </div>
