<!DOCTYPE html>
<html>
  <head>
    <title>Swprototype</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <%= yield :facebook_like_meta %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      body{
        background-color: rgba(107, 214, 0, 0.2);
        background-image: url(<%= image_tag(@site_content.logos.status_active.first.image_url, style: "height: 45px;") rescue nil %>);
        background-repeat: repeat;
      }
      .navbar-inner{
        background-color: rgba(102, 153, 51, 1);
        background-image: none;
      }
      .tab-pane{
        margin-left: 10px;
        margin-bottom: 20px;
      }
    </style>
    <%= yield :head_js %>
  </head>
  <body>
    <%= yield :facebook_like %>
    <!--facebook like box-->
    <!------>
    <div class="navbar-fixed-top" style="">
      <div class="navbar-inner" >
        <div class="container" >
          <div class="nav pull-right">
            <li>
              <% if !@site_content.blank? %>
                <% if !@site_content.logos.blank? %>
                  <%= image_tag(@site_content.logos.status_active.first.image_url, style: "height: 45px;") rescue nil %>
                <% else %>
                  <h3 class="brand" style="color: white;">SwigBIG</h3>
                <% end %>
              <% else %>
                <h3 class="brand" style="color: white;">SwigBIG</h3>
              <% end %>
            </li>
            <li>
              <h2 class="brand" style="color: gray;"><h3>&nbsp; on <span id="day_swig"><%= Time.zone.now.strftime("%A") %></span></h3></h2>
            </li>
            <div class="nav pull-right" style="margin-left: 200px;">
              <li><b><%= link_to "Home", main_home_path, style: "color: white;" %></b></li>
              <li><b><a href="#learn_more" data-toggle="modal" id="fat-menu" style="color: white;">Learn More</a></b></li>
              <% unless user_signed_in? %>
                <li>
                  <b><%= link_to "Sign Up for Free", new_user_registration_path,style: "color:#fff" %></b>
                </li>
              <% end %>
              <% if user_signed_in? %>
                <li>
                  <b><%=  link_to "Notifications", users_messages_path, style: "color: white;" %></b>
                </li>
                <li>
                  <span class="badge badge-error"><%= current_user.received_messages.where("opened is false").count unless current_user.received_messages.where("opened is false").blank? %></span>
                </li>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;"><b><%= "Welcome back #{current_user.name}!" %></b></a>
                  <ul class="dropdown-menu">
                    <% unless current_user.access_token.blank? %>
                      <b><%= link_to "Profile", users_facebook_page_path, style: "color: white;" %></b>
                    <% else %>
                      <li>
                        <b><%= link_to "Edit Profile", edit_user_registration_path %></b>
                      </li>
                      <li>
                        <b><%= link_to "Profile", users_profile_path(current_user.id), style: "color: white;" %></b>
                      </li>
                    <% end %>
                    <li>
                      <%= link_to "Rewards", users_rewards_path %>
                    </li>
                    <li>
                      <%= link_to "friendship", users_friend_index_path %>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                    </li>
                  </ul>
                <% else %>
                <li>
                  <b><%= link_to "Log In", new_user_session_path, style: "color: white" %></b>
                </li>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container" style="background-color: white;margin-top: -30px;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;padding-right: 20px;border-radius: 7px;opacity: 0.9;">
      <% if notice %>
        <div class="alert alert-success" onclick="$(this).toggle()"><%= notice %><a class="close" ><b>x</b></a></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-success"><%= alert %></div>
      <% end %>
      <div class="span4 pull-left">
        <br />
        <%= yield :side %>
        <br />
        <br />
        <a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'apple.com');"><%=  image_tag("available_on_app_store.png") %></a>
        <br />
        <br />
        <a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'android.com');"><%= image_tag("available_on_android.png") %></a>
      </div>
      <div class="container span11 pull-right">
        <%= yield %>
      </div>
      <div style="margin-top: 30px;"></div>
    </div>

    <%= yield :outer %>
    
    <div class="navbar-fixed-bottom">
      <div class="navbar-inner" style="background-image: none;height: 25px;">
        <div class="container" style="padding-top: 5px;">
          <div class="pull-left">Live Swig Feed: James J. just swigged at Duffy's in Chicago</div>
          <div class="pull-right">
            <a href="#copright" data-toggle="modal" style="color: white;"><b>Copyright</b></a>
            &nbsp;
            <a href="#faq" data-toggle="modal" style="color: white;"><b>FAQ</b></a>
            &nbsp;
            <a href="#about" data-toggle="modal" style="color: white;"><b>About Us</b></a>
            &nbsp;
            <a href="#contact" data-toggle="modal" style="color: white;" ><b>Contact Us</b></a>
            &nbsp;
            <b><%= link_to "swigBIG.com", "http://#{with_subdomain(false)}", style: "color: white;"  %></b>
          </div>
        </div>
      </div>
    </div>

    <div id="copright" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">Copright</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.corp_information rescue nil %>
        </div>
      </div>
    </div>
    <div id="about" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">About Us</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.about_us rescue nil %>
        </div>
      </div>
    </div>
    <div id="contact" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">Contact Us</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.contact_us rescue nil %>
        </div>
      </div>
    </div>
    <div id="learn_more" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">Learn More</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.learn_more rescue nil %>
        </div>
      </div>
    </div>

  </body>
  <%= yield :bottom_js %>
</html>
