<!DOCTYPE html>
<html>
  <head>
    <title>Swprototype</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :cocoon %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      body{
        background-color: rgba(107, 214, 0, 0.2);
        background-image: url(<%= yield :background %>);
        background-repeat: repeat;
      }
      .navbar-inner{
        background-color: rgba(102, 153, 51, 1);
        background-image: none;
      }
      .tab-pane{
        margin-left: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav pull-right">
            <li>
              <h2 class="brand" style="color: gray;">SwigBig</h2>
            </li>

            <div class="nav pull-right" style="margin-left: 600px;">
              <% if user_signed_in? %>
                <li>
                  <%= link_to "Home",users_dashboard_path %>
                </li>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: grey;"><b>User Menu</b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to "Edit Profile", edit_user_registration_path %>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to "Log In", new_user_session_path %>
                    </li>
                  <% end %>
                </ul>
              </li>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container" style="background-color: white;margin-top: -30px;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;padding-right: 20px;border-radius: 7px;opacity: 0.9;">
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-success"><%= alert %></div>
      <% end %>
      <div class="span4 pull-left">
        <br />
        <%= yield :side %>
        <br />
        <br />
        <a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'apple.com');"><%=  image_tag("available_on_app_store.png") %></a>
        <br />
        <br />
        <a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'android.com');"><%= image_tag("available_on_android.png") %></a>
      </div>
      <div class="container span11 pull-right">
        <%= yield %>
      </div>
      <div style="margin-top: 30px;"></div>
    </div>
    <%= yield :outer  %>

    <div class="navbar-fixed-bottom">
      <div class="navbar-inner" style="ackground-color: #c09853;background-image: none;">
        <div class="container">
          <img src="/images/fb.png" width="50" height="50"/>
          <img src="/images/twitter.png" width="50" height="50" />
          <div class="pull-left">Live Swig Feed: James J. just swigged at Duffy's in Chicago</div>
        </div>
      </div>
    </div>

  </body>
</html>
