<!DOCTYPE html>
<html>
  <head>
    <title>Swprototype</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= csrf_meta_tags %>
    <%= yield :js_head %>
    <%= yield :facebook_like_meta %>

    <%= render partial: "layouts/body.css" %>
    <script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      // Enable pusher logging - don't include this in production
      /*Pusher.log = function(message) {
        if (window.console && window.console.log) window.console.log(message);
      };*/

      var pusher = new Pusher('2e8605c76edee2e7bdcd');
      var channel = pusher.subscribe('test_channel');
      channel.bind('my-event', function(data) {
        $("#live_feed").html("Live Swig Feed: "+data.message)
      });
    </script>
  </head>
  <body style="padding-top: 20px;">
    <%= yield :facebook_like %>
    <!--facebook like box-->
    <!------>
    <%= render partial: "shared/users_header" %>

    <div class="container" style="background-color: white;margin-top: 60px;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;padding-right: 20px;border-radius: 7px;opacity: 0.9;">
      <% if notice %>
        <div class="alert alert-success" onclick="$(this).toggle()"><%= notice %><a class="close" ><b>x</b></a></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-success"><%= alert %></div>
      <% end %>
      <div class="span4 pull-left">
        <br />
        <%= yield :side %>
        <br />
        <br />
        <a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'apple.com');"><%=  image_tag("available_on_app_store.png") %></a>
        <br />
        <br />
        <a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'android.com');"><%= image_tag("available_on_android.png") %></a>
      </div>
      <div class="container span11 pull-right">
        <%= yield %>
      </div>
      <div style="margin-top: 30px;"></div>
    </div>

    <%= yield :outer %>

    <div class="navbar-fixed-bottom">
      <div class="navbar-inner" style="background-image: none;height: 25px;">
        <div class="container" style="padding-top: 5px;">
          <div class="pull-left" style="color: white;" id="live_feed">Live Feed : &nbsp;<%= Feed.last.content.html_safe rescue nil %></div>
          <div class="pull-right">
            <a href="#copright" data-toggle="modal" style="color: white;"><b>Copyright</b></a>
            &nbsp;
            <a href="#faq" data-toggle="modal" style="color: white;"><b>FAQ</b></a>
            &nbsp;
            <a href="#about" data-toggle="modal" style="color: white;"><b>About Us</b></a>
            &nbsp;
            <a data-toggle="modal" href="#contact_modal" onclick="$('#contact_modal').html('');$.get('/home/contact_us')" style="color: white;"><b>Contact Us</b></a>
            &nbsp;
            <b><%= link_to "swigBIG.com", "http://#{with_subdomain(false)}", style: "color: white;"  %></b>
          </div>
        </div>
      </div>
    </div>

    <div id="copright" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">Copright</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.corp_information rescue nil %>
        </div>
      </div>
    </div>
    <div id="about" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">About Us</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.about_us rescue nil %>
        </div>
      </div>
    </div>
    <div id="contact" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">Contact Us</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.contact_us rescue nil %>
        </div>
      </div>
    </div>
    <div id="learn_more" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">Learn More</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.learn_more rescue nil %>
        </div>
      </div>
    </div>

  </body>
  <%= javascript_include_tag "application" %>
  <%= yield :js_footer %>
</html>
