<!DOCTYPE html>
<html>
  <head>
    <title>Swprototype</title>
<%#= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "token-input-facebook" %>
    <%= csrf_meta_tags %>
    <%= render partial: "layouts/body.css" %>
    <%= yield :head_js %>
    <% if session[:request_user_privilage] %>
      <script type="text/javascript">
        $(document).ready(
        function(){
          setInterval(function(){
            $('#live_feed').load('<%= live_swig_feed_path %>');
          }, 55000);
        })
      </script>
    <% end %>
  </head>
  <body style="padding-top: 20px;">
    <div class="navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav pull-left">
            <li>
              <% if !@site_content.blank? %>
                <% if !@site_content.logos.blank? %>
                  <%= image_tag(@site_content.logos.status_active.first.image_url, style: "height: 45px;") rescue nil %>
                <% else %>
                  <h3 class="brand" style="color: white;">SwigBIG</h3>
                <% end %>
              <% else %>
                <h3 class="brand" style="color: white;">SwigBIG</h3>
              <% end %>
            </li>
            <li>
              <h2 class="brand" style="color: gray;"><h3>&nbsp; on <span id="day_swig"><%= Time.zone.now.strftime("%A") %></span></h3></h2>
            </li>
          </div>
          <div class="nav pull-right" >
            <% if bar_signed_in? %>
              <li><b><%= link_to "Home", bars_dashboard_path, style: "color: white;" %></b></li>


              <li><b><%= link_to "notification", bars_notification_path, style: "color: white;" %></b></li>
              <li id="notification" class="dropdown">
                <% unless  current_bar.sent_messages.where("opened is false").where(["category = (?) OR category = (?)", 9,15]).blank? %>
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="badge badge-error"><%=  current_bar.sent_messages.where("opened is false").where(["category = (?) OR category = (?)", 9, 15]).count %></span></a>
                  <ul class="dropdown-menu" style="width: 350px;">
                    <li><b>notification</b></li>
                    <li class="divider"></li>
                    <% current_bar.sent_messages.where("opened is false").where(["category = (?) OR category = (?) OR category = (?)", 9, 15, 16]).order("created_at DESC").limit(10).each do |notification| %>
                      <% if notification.category.eql?(9) and !notification.received_messageable_id.blank? %>
                        <li><%=  notification.received_messageable.name rescue notification.received_messageable.email %> just unlock <b>Bigswig</b></li>
                        <li class="divider"></li>
                      <% elsif notification.category.eql?(15) and !notification.received_messageable_id.blank? %>
                        <li><%=  notification.received_messageable.name rescue notification.received_messageable.email %> just earned <b>Popularity</b></li>
                        <li class="divider"></li>
                      <% elsif notification.category.eql?(16) and !notification.received_messageable_id.blank? %>
                        <li><%=  notification.received_messageable.name rescue notification.received_messageable.email %> just earned <b>Loyalty</b></li>
                        <li class="divider"></li>
                      <% end %>
                    <% end %>
                  </ul>
                <% end %>
              </li>
              <li><b><%#= link_to "Messaging", sent_bars_messages_path, style: "color: white;" %></b></li>
              <li>
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="color: white;"><b>Messaging</b></a>
                <ul class="dropdown-menu" id="messaging" style="margin-right: 220px;">
                  <li><a class="" data-toggle="modal" href="#bar_message" onclick="$('#bar_message').html('');$.get('/bars/messages/message_popup')"><b style="color: white;">New</b></a></li>
                  <li><a class=""  href="#" data-toggle="modal"><b><%= link_to "Inbox", bars_messages_path, style: "color: white;" %></b></a></li>
                  <li><a class=""  href="#" data-toggle="modal"><b><%= link_to "Sent", sent_bars_messages_path, style: "color: white;" %></b></a></li>
                  <li><a class=""  href="#" data-toggle="modal"><b><%= link_to "Trash", trash_bars_messages_path, style: "color: white;" %></b></a></li>
                </ul>
              </li>
              <li id="message" class="dropdown">
                <% unless  current_bar.received_messages.where("opened is false").blank? %>
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="badge badge-error"><%=  current_bar.received_messages.where("opened is false").count %></span></a>
                  <ul class="dropdown-menu" id="message" style="margin-left: -350px !important;">
                    <li style="margin-left: 5px;"><b>messages</b></li>
                    <li class="divider"></li>
                    <% current_bar.received_messages.where("opened is false").each do |message| %>
                      <li style="width: 290px;margin-bottom: 3px;margin-left: 4px;" onclick="window.location.href='<%= bars_message_url(message) %>'"><%= message.topic %>
                        <br/>
                        <%= message.created_at.strftime("%v") %>
                      </li>
                      <li class="divider"></li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;"><b>Welcome back <%= current_bar.name %>!</b></a>
                <ul class="dropdown-menu">
                  <li><b><%= link_to "Edit Profile", edit_bar_registration_path, style: "color: white;" %></b></li>
                  <li><b><a href="#learn_more" data-toggle="modal" id="fat-menu" style="color: white;">Learn More</a></b></li>
                  <li><b><%= link_to "Log out", destroy_bar_session_path, method: :delete, style: "color: white;" %></b></li>
                </ul>
              </li>
            <% else %>
              <li><b><a href="/" id="fat-menu" style="color: white;">Home</a></b></li>
              <li><b><a href="#learn_more" data-toggle="modal" id="fat-menu" style="color: white;">Learn More</a></b></li>
              <li><b><%= link_to "Sign In", sign_in_bars_path, style: "color: white;" %></b></li>
              <li><b> <%= link_to "Sign Up", sign_up_bars_path, style: "color: white;" %></b></li>
            <% end %>
          </div>

        </div>
        <% if bar_signed_in? %>
          <% if current_bar.address.blank? %>
            <% if controller_name == "dashboard" and params[:action] == "index" %>
              <div style="text-align: center;" id="red_notice"><i class="icon-warning-sign"></i><b> <%= current_bar.name %></b> is not yet listed!<a href="#location" data-toggle="modal" data-dismiss="modal" >Please complete your profile</a><a class="close" onclick="$('#red_notice').toggle()"><b>x</b></a></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= yield :bar_notice %>

    <div class="container" style="background-color: white;margin-top: 60px;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;padding-right: 20px;border-radius: 7px;opacity: 0.9;width: 1200px;">
      <% if notice %>
        <div class="alert alert-success" onclick="$(this).toggle()"><%= notice %><a class="close" ><b>x</b></a></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-success"><%= alert %><a class="close"><b>x</b></a></div>
      <% end %>
      <%= yield :opening %>
      <div class="span4 pull-left" style="margin-left: -20px;margin-right: 20px;">
        <br />
        <%= yield :side %>
      </div>
      <div class="span11 pull-left">
        <%= yield %>
      </div>
      <div class="span5 pull-right">
        <%= yield :right_side %>
      </div>
    </div>
    <%= yield :outer %>
    <div style="margin-top: 30px;"></div>

    <div class="navbar-fixed-bottom">
      <div class="navbar-inner" style="background-image: none;height: 25px;">
        <div class="container" style="padding-top: 5px;">
          <!--<div class="pull-left" style="color: white;" id="show_time_zone"></div>-->
          <div class="pull-left" style="color: white;" id="live_feed"><%= render partial: "shared/user_swig_feed_partial" %></div>
          <div class="pull-right">
            <a href="#copright" data-toggle="modal" style="color: white;"><b>Copyright</b></a>
            &nbsp;
            <a href="#faq" data-toggle="modal" style="color: white;"><b>FAQ</b></a>
            &nbsp;
            <a href="#about" data-toggle="modal" style="color: white;"><b>About Us</b></a>
            &nbsp;
            <a data-toggle="modal" href="#contact_modal" onclick="$('#contact_modal').html('');$.get('/home/contact_us')" style="color: white;"><b>Contact Us</b></a>
            &nbsp;
            <b><%= link_to "swigBIG.com", "http://#{with_subdomain(false)}", style: "color: white;"  %></b>
          </div>
        </div>
      </div>
    </div>

    <!--Bar popup-->
    <%= render partial: "shared/bar_modal_partial.html" %>
    <%= render partial: "shared/site_modal_partial.html" %>


  </body>
  <%= yield :bottom_js %>
</html>
