<!DOCTYPE html>
<html>
  <head>
    <title>Swprototype</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "token-input-facebook" %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        <% unless @site_content.blank? %>
          <% unless @site_content.site_color.blank? %>
            background-color: <%= "##{@site_content.site_color.background_color}" rescue "rgba(107, 214, 0, 0.2)"%>;
          <% else %>
            background-color: rgba(107, 214, 0, 0.2);
          <% end %>
          <% unless @site_content.backgrounds.blank? %>
            <% unless @site_content.backgrounds.status_active.first.blank? %>
              <% if @site_content.backgrounds.status_active.first.background_style.eql?("Fit") %>
                background-image: url(<%= @site_content.backgrounds.status_active.first.image rescue nil %>);
                background-size: 100% 100%;
                padding-bottom: 90px;
                background-repeat: no-repeat;
              <% elsif @site_content.backgrounds.status_active.first.background_style.eql?("Original") %>
                background-image: url(<%= @site_content.backgrounds.status_active.first.image rescue nil %>);
                background-size: auto;
                background-repeat: no-repeat;
              <% elsif @site_content.backgrounds.status_active.first.background_style.eql?("Tiled") %>
                background-image: url(<%= @site_content.backgrounds.status_active.first.image rescue nil %>);
                background-repeat: repeat;
              <% elsif @site_content.backgrounds.status_active.first.background_style.eql?("Center") %>
                background-image: url(<%= @site_content.backgrounds.status_active.first.image rescue nil %>);
                background-position:center;
                background-repeat: no-repeat;
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      }
      .navbar-inner{
        <% unless @site_content.blank? %>
          <% unless @site_content.site_color.blank? %>
            background-color: <%= "##{@site_content.site_color.nav_bar_color}" rescue "rgba(102, 153, 51, 1)"%>;
          <% else %>
            background-color: rgba(102, 153, 51, 1);
          <% end %>
        <% else %>
          background-color: rgba(102, 153, 51, 1);
        <% end %>
        background-image: none;
        /*background: -moz-linear-gradient(top, rgba(102, 153, 51, 1), rgba(102, 153, 51, 1), black 150%);*/
      }
      .tab-pane{
        margin-left: 10px;
        margin-bottom: 20px;
      }
    </style>
    <%= yield :head_js %>
  </head>
  <body>
    <div class="navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav pull-left">
            <li>
              <% if !@site_content.blank? %>
                <% if !@site_content.logos.blank? %>
                  <%= image_tag(@site_content.logos.status_active.first.image_url, style: "height: 45px;") rescue nil %>
                <% else %>
                  <h3 class="brand" style="color: white;">SwigBIG</h3>
                <% end %>
              <% else %>
                <h3 class="brand" style="color: white;">SwigBIG</h3>
              <% end %>
            </li>
            <li>
              <h2 class="brand" style="color: gray;"><h3>&nbsp; on <span id="day_swig"><%= Time.zone.now.strftime("%A") %></span></h3></h2>
            </li>
          </div>
          <div class="nav pull-right" >
            <% if bar_signed_in? %>
              <li><b><%= link_to "Home", bars_dashboard_path, style: "color: white;" %></b></li>
              <li><b><%= link_to "Messaging", sent_bars_messages_path, style: "color: white;" %></b></li>
              <li>
                <% unless  current_bar.received_messages.where("opened is false").blank? %>
                  <span class="badge badge-error" onclick="window.location.href='<%= bars_messages_path %>'"><%=  current_bar.received_messages.where("opened is false").count  %></span>
                <% end %>
              </li>
              <li><b><%= link_to "notification", bars_notification_path, style: "color: white;" %></b></li>
              <li>
                <% unless  current_bar.sent_messages.where("opened is false").where(["category = (?) OR category = (?)", 9,15]).blank? %>
                  <span class="badge badge-error" onclick="window.location.href='<%= bars_notification_path %>'"><%=  current_bar.sent_messages.where("opened is false").where(["category = (?) OR category = (?)", 9, 15]).count  %></span>
                <% end %>
              </li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;"><b>Welcome back <%= current_bar.name %>!</b></a>
                <ul class="dropdown-menu">
                  <li><b><%= link_to "Edit Profile", edit_bar_registration_path, style: "color: white;" %></b></li>
                  <li><b><a href="#learn_more" data-toggle="modal" id="fat-menu" style="color: white;">Learn More</a></b></li>
                  <li><b><%= link_to "Log out", destroy_bar_session_path, method: :delete, style: "color: white;" %></b></li>
                </ul>
              </li>
            <% else %>
              <li><b><a href="/" id="fat-menu" style="color: white;">Home</a></b></li>
              <li><b><a href="#learn_more" data-toggle="modal" id="fat-menu" style="color: white;">Learn More</a></b></li>
              <li><b><%= link_to "Sign In", sign_in_bars_path, style: "color: white;" %></b></li>
              <li><b> <%= link_to "Sign Up", sign_up_bars_path, style: "color: white;" %></b></li>
            <% end %>
          </div>

        </div>
      </div>
    </div>

    <div class="container" style="background-color: white;margin-top: 60px;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;padding-right: 20px;border-radius: 7px;opacity: 0.9;">
      <% if notice %>
        <div class="alert alert-success" onclick="$(this).toggle()"><%= notice %><a class="close" ><b>x</b></a></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-success"><%= alert %><a class="close"><b>x</b></a></div>
      <% end %>
      <%= yield :opening %>
      <div class="span4 pull-left">
        <br />
        <%= yield :side %>
        <!--<a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'apple.com');"><%=  image_tag("available_on_app_store.png") %></a>-->
        <!--<a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'android.com');"><%= image_tag("available_on_android.png") %></a>-->
      </div>
      <div class="span11 pull-right">

        <%= yield %>
      </div>
    </div>
    <%= yield :outer %>
    <div style="margin-top: 30px;"></div>

    <div class="navbar-fixed-bottom">
      <div class="navbar-inner" style="background-image: none;height: 25px;">
        <div class="container" style="padding-top: 5px;">
          <div class="pull-left">Live Swig Feed: James J. just swigged at Duffy's in Chicago</div>
          <div class="pull-right">
            <a href="#copright" data-toggle="modal" style="color: white;"><b>Copyright</b></a>
            &nbsp;
            <a href="#faq" data-toggle="modal" style="color: white;"><b>FAQ</b></a>
            &nbsp;
            <a href="#about" data-toggle="modal" style="color: white;"><b>About Us</b></a>
            &nbsp;
            <a href="#contact" data-toggle="modal" style="color: white;" ><b>Contact Us</b></a>
            &nbsp;
            <b><%= link_to "swigBIG.com", "http://#{with_subdomain(false)}", style: "color: white;"  %></b>
          </div>
        </div>
      </div>
    </div>

    <div id="copright" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">Copright</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.corp_information rescue nil %>
        </div>
      </div>
    </div>
    <div id="about" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">About Us</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.about_us rescue nil %>
        </div>
      </div>
    </div>
    <div id="contact" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">Contact Us</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.contact_us rescue nil %>
        </div>
      </div>
    </div>
    <div id="learn_more" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">Learn More</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.learn_more rescue nil %>
        </div>
      </div>
    </div>

  </body>
  <%= yield :bottom_js %>
</html>
