<!DOCTYPE html>
<html>
  <head>
    <title>Swprototype</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      body{
        background-color: rgba(107, 214, 0, 0.2);
        background-image: url(<%= @site_content.site_background_url rescue nil %>);
        background-repeat: repeat;
      }
      .navbar-inner{
        background-color: rgba(102, 153, 51, 1);
        background-image: none;
      }
      .tab-pane{
        margin-left: 10px;
        margin-bottom: 20px;
      }
    </style>
    <%= yield :head_js %>
  </head>
  <body>
    <div class="navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav pull-right">
            <li>
              <h2 class="brand" style="color: gray;"><%= current_bar.blank? ? "SwigBig" : current_bar.name %></h2>
            </li>
            <li>
              <h2 class="brand" style="color: gray;"><h3>&nbsp; on <span id="day_swig"><%= Date.today.to_time.in_time_zone.strftime("%A") %></span></h3></h2>
            </li>

            <div class="nav pull-right" style="margin-left: 200px;">
              <li><b><a href="/" id="fat-menu" style="color: white;">Home</a></b></li>
              <li><b><a href="#" id="fat-menu" style="color: white;">Learn More</a></b></li>
              <% if bar_signed_in? %>
                <li><b><%= link_to "My Bar", bars_dashboard_path, style: "color: white;" %></b></li>
                <li><b><%= link_to "Messaging", sent_bars_messages_path, style: "color: white;" %></b></li>
                <li><b><%= link_to "Edit Profile", edit_bar_registration_path, style: "color: white;" %></b></li>
                <li><b><%= link_to "Log out", destroy_bar_session_path, method: :delete, style: "color: white;" %></b></li>
              <% else %>
                <li><b><%= link_to "Sign In", sign_in_bars_path, style: "color: white;" %></b></li>
                <li><b> <%= link_to "Sign Up", sign_up_bars_path, style: "color: white;" %></b></li>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="background-color: white;margin-top: -30px;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;padding-right: 20px;border-radius: 7px;opacity: 0.9;">
      <% if notice %>
        <div class="alert alert-success"><%= notice %><a class="close"><b>x</b></a></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-success"><%= alert %><a class="close"><b>x</b></a></div>
      <% end %>
      <%= yield :opening %>
      <div class="span4 pull-left">
        <br />
        <%= yield :side %>
        <br />
        <br />
        <a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'apple.com');"><%=  image_tag("available_on_app_store.png") %></a>
        <br />
        <br />
        <a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'android.com');"><%= image_tag("available_on_android.png") %></a>
      </div>
      <div class="span11 pull-right">

        <%= yield %>
      </div>
    </div>
    <%= yield :outer %>
    <div style="margin-top: 30px;"></div>

    <div class="navbar-fixed-bottom">
      <div class="navbar-inner" style="background-image: none;height: 25px;">
        <div class="container" style="padding-top: 5px;">
          <div class="pull-left">Live Swig Feed: James J. just swigged at Duffy's in Chicago</div>
          <div class="pull-right">
            <a href="#copright" data-toggle="modal" style="color: white;"><b>Copyright</b></a>
            &nbsp;
            <a href="#faq" data-toggle="modal" style="color: white;"><b>FAQ</b></a>
            &nbsp;
            <a href="#about" data-toggle="modal" style="color: white;"><b>About Us</b></a>
            &nbsp;
            <a href="#contact" data-toggle="modal" style="color: white;" ><b>Contact Us</b></a>
            &nbsp;
            <b><%= link_to "swigBIG.com", "http://#{with_subdomain(false)}", style: "color: white;"  %></b>
          </div>
        </div>
      </div>
    </div>

    <div id="copright" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">Copright</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.corp_information rescue nil %>
        </div>
      </div>
    </div>
    <div id="about" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">About Us</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          swigBig is a Bar connected with user
        </div>
      </div>
    </div>

  </body>
  <%= yield :bottom_js %>
</html>
