<!DOCTYPE html>
<html>
  <head>
    <title>Swprototype</title>
<%#= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "application" %>

    <%= stylesheet_link_tag "token-input-facebook" %>
    <%= csrf_meta_tags %>
    <%= yield :js_head %>
    <%= render partial: "layouts/body.css" %>

    <script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      // Enable pusher logging - don't include this in production
     Pusher.log = function(message) {
        if (window.console && window.console.log) window.console.log(message);
      };

      var pusher = new Pusher('5f86236df59eb8e701d0');
      var channel = pusher.subscribe('test_channel');
      channel.bind('my-event', function(data) {
        $("#live_feed").html("Live Swig Feed: "+data.message)
      });
    </script>
  </head>
  <body style="padding-top: 20px;">
    <div class="navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav pull-left">
            <li>
              <% if !@site_content.blank? %>
                <% if !@site_content.logos.blank? %>
                  <%= image_tag(@site_content.logos.status_active.first.image_url, style: "height: 45px;") rescue nil %>
                <% else %>
                  <h3 class="brand" style="color: white;">SwigBIG</h3>
                <% end %>
              <% else %>
                <h3 class="brand" style="color: white;">SwigBIG</h3>
              <% end %>
            </li>
            <li>
              <h2 class="brand" style="color: gray;"><h3>&nbsp; on <span id="day_swig"><%= Time.zone.now.strftime("%A") %></span></h3></h2>
            </li>
          </div>
          <div class="nav pull-right" >
            <% if bar_signed_in? %>
              <li><b><%= link_to "Home", bars_dashboard_path, style: "color: white;" %></b></li>


                                              <!--<li><b><%#= link_to "notification", bars_notification_path, style: "color: white;" %></b></li>-->
              <li id="notification" class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" onclick="$('#goto_notify_unread').click();" ><b style="color: white;">Notification&nbsp;</b><span class="badge badge-error" id="bar_notify_red"><%=  current_bar.received_messages.where("notify_opended is false").count %></span></a>
                <div style="display: none;">
                  <% unless  current_bar.received_messages.where("notify_opended is false").blank? %>
                    <%= link_to "to_unread", notify_mark_all_read_bars_messages_path, id: 'goto_notify_unread', remote: true %>
                  <% end %>
                </div>
                <!--<a class="dropdown-toggle" href="#" data-toggle="dropdown" ><b style="color: white;">Notification</b><span class="badge badge-error" style="margin-left: 5px;"><%#=  current_bar.sent_messages.where("opened is false").where(["category = (?) OR category = (?)", 9, 15]).count %></span></a>-->
                <ul class="dropdown-menu" style="width: 350px;">
                  <li class="divider"></li>
                  <% current_bar.sent_messages.where("opened is false").where(["category = (?) OR category = (?) OR category = (?)", 9, 15, 16]).order("created_at DESC").limit(10).each do |notification| %>
                    <% if notification.category.eql?(9) and !notification.received_messageable_id.blank? %>
                      <li><%=  notification.received_messageable.name rescue notification.received_messageable.email %> just unlock <b>Bigswig</b></li>
                      <li class="divider"></li>
                    <% elsif notification.category.eql?(15) and !notification.received_messageable_id.blank? %>
                      <li><%=  notification.received_messageable.name rescue notification.received_messageable.email %> just earned <b>Popularity</b></li>
                      <li class="divider"></li>
                    <% elsif notification.category.eql?(16) and !notification.received_messageable_id.blank? %>
                      <li><%=  notification.received_messageable.name rescue notification.received_messageable.email %> just earned <b>Loyalty</b></li>
                      <li class="divider"></li>
                    <% end %>
                  <% end %>
                </ul>
              </li>

              <li>
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="color: white;"><b>Messaging&nbsp;</b><span class="badge badge-error" id="bar_notify_red"><%=  current_bar.received_messages.where("opened is false").count %></span></a>
                <!--<a class="dropdown-toggle" href="#" data-toggle="dropdown" onclick="$('#goto_message_unread').click();" ><b style="color: white;">Messages&nbsp;</b></a>-->
                <div style="display: none;">
                  <% unless  current_bar.received_messages.where("notify_opended is false").blank? %>
                    <%= link_to "to_unread", messages_mark_all_read_bars_messages_path, id: 'goto_message_unread', remote: true %>
                  <% end %>
                </div>
                <ul class="dropdown-menu" id="messaging" style="margin-right: 220px;">
                  <li><a class="" data-toggle="modal" href="#bar_message" onclick="$('#bar_message').html('');$.get('/bars/messages/message_popup')"><b style="color: white;">New</b></a></li>
                  <li><a class=""  href="#" data-toggle="modal"><b><%= link_to "Inbox", bars_messages_path, style: "color: white;" %></b></a></li>
                  <li><a class=""  href="#" data-toggle="modal"><b><%= link_to "Sent", sent_bars_messages_path, style: "color: white;" %></b></a></li>
                  <li><a class=""  href="#" data-toggle="modal"><b><%= link_to "Trash", trash_bars_messages_path, style: "color: white;" %></b></a></li>
                </ul>
              </li>

              <!--<li id="message" class="dropdown">
  <%# unless  current_bar.received_messages.where("opened is false").blank? %>
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="badge badge-error"><%#=  current_bar.received_messages.where("opened is false").count %></span></a>
                  <ul class="dropdown-menu" id="message" style="margin-left: -350px !important;">
                    <li style="margin-left: 5px;"><b>messages</b></li>
                    <li class="divider"></li>
  <%# current_bar.received_messages.where("opened is false").each do |message| %>
                      <li style="width: 290px;margin-bottom: 3px;margin-left: 4px;" onclick="window.location.href='<%#= bars_message_url(message) %>'"><%#= message.topic %>
                        <br/>
  <%#= message.created_at.strftime("%v") %>
                      </li>
                      <li class="divider"></li>
  <%# end %>
                  </ul>
  <%# end %>
              </li>-->

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;"><b>Welcome back <%= current_bar.name %>!</b></a>
                <ul class="dropdown-menu">
                  <li><b><%= link_to "Edit Profile", edit_bar_registration_path, style: "color: white;" %></b></li>
                  <li><b><a href="#learn_more" data-toggle="modal" id="fat-menu" style="color: white;">Learn More</a></b></li>
                  <li><b><%= link_to "Log out", destroy_bar_session_path, method: :delete, style: "color: white;" %></b></li>
                </ul>
              </li>
            <% else %>
              <li><b><a href="/" id="fat-menu" style="color: white;">Home</a></b></li>
              <li><b><a href="#learn_more" data-toggle="modal" id="fat-menu" style="color: white;">Learn More</a></b></li>
              <li><b><%= link_to "Sign In", sign_in_bars_path, style: "color: white;" %></b></li>
              <li><b> <%= link_to "Sign Up", sign_up_bars_path, style: "color: white;" %></b></li>
            <% end %>
          </div>

        </div>
        <% if bar_signed_in? %>
          <% if current_bar.address.blank? %>
            <% if controller_name == "dashboard" and params[:action] == "index" %>
              <div style="text-align: center;" id="red_notice"><i class="icon-warning-sign"></i><b> <%= current_bar.name %></b> is not yet listed!<a href="#location" data-toggle="modal" data-dismiss="modal" >Please complete your profile</a><a class="close" onclick="$('#red_notice').toggle()"><b>x</b></a></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= yield :bar_notice %>

    <div class="container" style="background-color: white;margin-top: 60px;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;padding-right: 20px;border-radius: 7px;opacity: 0.9;width: 1200px;">
      <% if notice %>
        <div class="alert alert-success" onclick="$(this).toggle()"><%= notice %><a class="close" ><b>x</b></a></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-success"><%= alert %><a class="close"><b>x</b></a></div>
      <% end %>
      <%= yield :opening %>
      <div class="span4 pull-left" style="margin-left: -20px;margin-right: 20px;">
        <br />
        <%= yield :side %>
      </div>
      <div class="span11 pull-left">
        <%= yield %>
      </div>
      <div class="span5 pull-right">
        <%= yield :right_side %>
      </div>
    </div>
    <%= yield :outer %>
    <div style="margin-top: 30px;"></div>

    <div class="navbar-fixed-bottom">
      <div class="navbar-inner" style="background-image: none;height: 25px;">
        <!--<div class="pull-left" style="color: white;" id="show_time_zone"></div>-->
        <div class="pull-left" style="color: white;margin-left: 20px;" id="live_feed">Live Feed : &nbsp;<%= Feed.last.content.html_safe rescue nil %></div>
        <div class="pull-right" style="margin-right: 15px;">
          <a href="#copright" data-toggle="modal" style="color: white;"><b>Copyright</b></a>
          &nbsp;
          <a href="#faq" data-toggle="modal" style="color: white;"><b>FAQ</b></a>
          &nbsp;
          <a href="#about" data-toggle="modal" style="color: white;"><b>About Us</b></a>
          &nbsp;
          <a data-toggle="modal" href="#contact_modal" onclick="$('#contact_modal').html('');$.get('/home/contact_us')" style="color: white;"><b>Contact Us</b></a>
          &nbsp;
          <b><%= link_to "swigBIG.com", "http://#{with_subdomain(false)}", style: "color: white;"  %></b>
        </div>
      </div>
    </div>

    <!--Bar popup-->
    <%= render partial: "shared/bar_modal_partial.html" %>
    <%= render partial: "shared/site_modal_partial.html" %>


  </body>
  <%= javascript_include_tag "application" %>
  <%= yield :js_footer %>
</html>
