<!DOCTYPE html>
<html>
  <head>
    <title>Swprototype</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      body{
        background-color: rgba(107, 214, 0, 0.2);
        background-image: url(<%= @site_content.site_background_url rescue nil %>);
        background-repeat: repeat;
      }
      .navbar-inner{
        background-color: rgba(102, 153, 51, 1);
        background-image: none;
      }
      .tab-pane{
        margin-left: 10px;
        margin-bottom: 20px;
      }
    </style>
    <%= yield :head_js %>
  </head>
  <body>
    <div class="navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav pull-right">
            <li>
              <% if !@site_content.blank? %>
                <% if !@site_content.site_logo.blank? %>
                  <%= image_tag(@site_content.site_logo, style: "height: 45px;") %>
                <% else %>
                  <h3 class="brand" style="color: white;">SwigBIG</h3>
                <% end %>
              <% else %>
                <h3 class="brand" style="color: white;">SwigBIG</h3>
              <% end %>
            </li>
            <li>
              <h2 class="brand" style="color: gray;"><h3>&nbsp; on <span id="day_swig"><%= Date.today.to_time.in_time_zone.strftime("%A") %></span></h3></h2>
            </li>
            <div class="nav pull-right" style="margin-left: 200px;">
              <li><b><a href="/" id="fat-menu" style="color: white;">Home</a></b></li>
              <li><b><a href="#" id="fat-menu" style="color: white;">Learn More</a></b></li>
              <% if user_signed_in? %>
                <li>
                  <b><%=  link_to "Notifications", users_messages_path, style: "color: white;" %></b>
                </li>
                <li>
                  <span class="badge badge-error"><%= current_user.received_messages.where("opened is false").count unless current_user.received_messages.where("opened is false").blank? %></span>
                </li>
                <li><b><%= link_to "Edit Profile", edit_user_registration_path %></b></li>
                <li><b><%= link_to "Profile", users_profile_path(current_user.id), style: "color: white;" %></b></li>
                <li><b><%= link_to "Log out", destroy_user_session_path, method: :delete %></b></li>
              <% else %>
                <li><b><%= link_to "Sign In", new_user_session_path, style: "color: white;" %></b></li>
                <li><b> <%= link_to "Sign Up", new_user_registration_path, style: "color: white;" %></b></li>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container" style="background-color: white;margin-top: -30px;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;padding-right: 20px;border-radius: 7px;">
      <% if notice %>
        <div class="alert alert-success" onclick="$(this).toggle()"><%= notice %><a class="close" ><b>x</b></a></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-success"><%= alert %></div>
      <% end %>
      <div class="span4 pull-left">
        <br />
        <%= yield :side %>
        <br />
        <!--<br />
        <a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'apple.com');"></a>
        <br />
        <br />
        <a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'android.com');"></a>-->
      </div>
      <div class="container span11 pull-right">
        <%= yield %>
      </div>
      <%= yield :outer %>
      <div style="margin-top: 30px;"></div>

    </div>
    <div class="navbar-fixed-bottom">
      <div class="navbar-inner" style="background-image: none;height: 25px;">
        <div class="container" style="padding-top: 5px;">
          <div class="pull-left">Live Swig Feed: James J. just swigged at Duffy's in Chicago</div>
          <div class="pull-right">
            <a href="#copright" data-toggle="modal" style="color: white;"><b>Copyright</b></a>
            &nbsp;
            <a href="#faq" data-toggle="modal" style="color: white;"><b>FAQ</b></a>
            &nbsp;
            <a href="#about" data-toggle="modal" style="color: white;"><b>About Us</b></a>
            &nbsp;
            <a href="#contact" data-toggle="modal" style="color: white;" ><b>Contact Us</b></a>
            &nbsp;
            <b>
              <%= link_to "Bar Owner", root_path %>
            </b>
            <b>
              <%= link_to "Bar Owner?", bar_home_path %>
            </b>
          </div>
        </div>
      </div>
    </div>

    <div id="copright" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">Copright</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <%= @site_content.corp_information rescue nil %>
        </div>
      </div>
    </div>
    <div id="about" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">About Us</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          swigBig is a Bar connected with user
        </div>
      </div>
    </div>
    <div id="contact" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">Contact Us</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          swigBig contact
        </div>
      </div>
    </div>

    <div id="option_sign_up" class="modal hide fade"><!--Sign Up Option-->
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><b>x</b></a>
        <h3 style="text-align: center;">Sign Up or Log In Using:</h3>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
<%#- if devise_mapping.omniauthable? %>
<%#- resource_class.omniauth_providers.each do |provider| %>
<%#= link_to "Facebook", omniauth_authorize_path(resource_name, provider) %><br />
<%# end -%>
<%# end -%>
          <br/>
          or
          <br/>
          <b><%= button_to "Email", new_user_registration_path, class: "btn-success", method: :get %></b>
          </div>
        </div>
      </div>

      <!--Sign up Modal----->
      <!--
  <%#= simple_form_for(resource, :as => resource_name, :url => user_registration_path, html: {class: "form-horizontal" }) do |f| %>
  <%#= devise_error_messages! %>
          <div id="step1_user_sign_up" class="modal hide fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal"><b>x</b></a>
              <h3 style="text-align: center;">Step 1</h3>
            </div>
            <div class="modal-body">
              <div style="text-align: center;">
  <%#= f.input :email %>
  <%#= f.input :password %>
  <%#= f.input :password_confirmation %>
              </div>
              <a href="#step2_user_sign_up" data-toggle="modal" style="color: white;" ><b>Next</b></a>
            </div>
          </div>
          <div id="step2_user_sign_up" class="modal hide fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal"><b>x</b></a>
              <h3 style="text-align: center;">Step 2</h3>
            </div>
            <div class="modal-body">
              <div style="text-align: center;">
  <%#= f.input :bird_date, as: :string, input_html: {class: "datepicker"} %>
  <%#= f.input :avatar %>
  <%#= f.input :name %>
  <%#= f.input :address %>
  <%#= f.input :zip_code %>
  <%#= f.input :phone_number %>
  <%#= f.input :city %>
  <%#= f.input :state %>
  <%#= f.input :country %>
  <%#= f.input :last_seen %>
                </div>
                <a href="#step3_user_sign_up" data-toggle="modal" style="color: white;" ><b>Next</b></a>
              </div>
            </div>
            <div id="step3_user_sign_up" class="modal hide fade">
              <div class="modal-header">
                <a class="close" data-dismiss="modal"><b>x</b></a>
                <h3 style="text-align: center;">Step 3</h3>
              </div>
              <div class="modal-body">
                <div style="text-align: center;">
                  "I agree"  to swigBIG.com's <a data-toggle="modal" href="#termModal">Terms of Service</a> before registration is complete
  <%#= f.input :terms, as: :boolean %>
                  <br/>
                  <div style="text-align: center;">
  <%#= f.submit "Sign up", class: "btn-primary" %>
                    </div>
  <%# end %>
                </div>
              </div>
            </div>-->

    </body>
    <%= yield :bottom_js %>
  </html>


