<!DOCTYPE html>
<html>
  <head>
    <title>Swprototype</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      body{
        background-color: rgba(107, 214, 0, 0.2);
      }
      .navbar-inner{
        background-color: rgba(102, 153, 51, 1);
        background-image: none;
      }
      .tab-pane{
        margin-left: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav pull-right">
            <li>
              <h2 class="brand" style="color: gray;">SwigBig </h2>
            </li>
            <li>
              <h2 class="brand"><h3>&nbsp; on <%=Date.today.strftime("%A") %></h3></h2>
            </li>
          </div>
          <div class="nav pull-right" style="margin-left: 300px;">
            <li><b><a href="#" id="fat-menu" style="color: white;">Home</a></b></li>
            <li><b><a href="#" id="fat-menu" style="color: white;">Learn More</a></b></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;"><b>Sign up for FREE</b></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "User Sign Up", new_user_registration_path,style: "color:#fff" %>
                </li>
                <li>
                  <%= link_to "Bar Sign Up", new_bar_registration_path, style: "color: white;" %>
                </li>
                <li class="divider"></li>
                <li><%#= link_to "Log Out", destroy_student_session_path, method: :delete %></li>
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;"><b>Log In</b></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "User log in", new_user_session_path %>
                </li>
                <li>
                  <%= link_to "Bar log in", new_bar_session_path %>
                </li>
                <li class="divider"></li>
                <li><%#= link_to "Log Out", destroy_student_session_path, method: :delete %></li>
              </ul>
            </li>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: -30px;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;padding-right: 20px;border-radius: 7px;">
      <div class="span4 pull-left" style="background-color: whitesmoke;border-radius: 5px;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;padding-right: 20px;opacity: 0.9;">
        <br />
        <%= yield :side %>
        <a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'apple.com');"><%=  image_tag("available_on_app_store.png") %></a>
        <br />
        <br />
        <a href="#" onclick="return recordOutboundLink(this, 'Outbound Links', 'android.com');"><%= image_tag("available_on_android.png") %></a>
      </div>
      <div class="span10 pull-right" style="background-color: whitesmoke;border-radius: 5px;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;padding-right: 20px;">
        <%= image_tag("/assets/beer.jpg", :style => "width:650px;height:200px;") %>
        <div class="well" style="margin-bottom: 50px;padding-bottom: 50px;">
          <%= yield :swig_slogan %>
        </div>
        <div style="">
          <%= yield %>
        </div>
      </div>
      <div style="margin-top: 30px;"></div>
    </div>

    <div class="navbar-fixed-bottom">
      <div class="navbar-inner" style="background-image: none;">
        <div class="container">
          <!--<img src="/images/fb.png" width="50" height="50"/>
          <img src="/images/twitter.png" width="50" height="50" />-->
          <div class="pull-left">Live Swig Feed: James J. just swigged at Duffy's in Chicago</div>
        </div>
      </div>
    </div>

  </body>
</html>
