<html>
  <head>
    <!--<title><%#= h(yield(:title) || "mobile version") %></title>-->
    <title>Swigbig Mobile</title>
    <%= stylesheet_link_tag "application.mobile" %>
    <script type="text/javascript">
      $(document).bind("mobileinit", function(){
        $.extend(  $.mobile, { ajaxFormsEnabled: false });
      });
    </script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <% if notice %>
      <div class="alert alert-success" onclick="$(this).toggle()"><%= notice %><a class="close" ><b>x</b></a></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-success" onclick="$(this).toggle()"><%= alert %><a class="close"><b>x</b></a></div>
    <% end %>

    <div data-role="content" style="padding: 15px">
      <%= yield %>
    </div>

  </body>
  <%= javascript_include_tag "mobile" %>
</html>