<style type="text/css">
  .actionBar{
    width: 600px;
  }
  .stepContainer{
    height: 20px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    //$("input.datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
    // Smart Wizard
    $('#wizard').smartWizard();
    $('.buttonFinish').hide();
  });
</script>

<h2>User Sign up</h2>

<div id="wizard" class="swMain">
  <ul>
    <li><a href="#step-1"  style="width: 150px;">
        <span class="stepDesc">
          Step 1<br />
          <small>Step 1 Basic</small>
        </span>
      </a></li>
    <li><a href="#step-2"  style="width: 150px;">
        <span class="stepDesc">
          Step 2<br />
          <small>Step 2 complete</small>
        </span>
      </a></li>
    <li><a href="#step-3"  style="width: 150px;">
        <span class="stepDesc">
          Step 3<br />
          <small>Step 3 Agreement</small>
        </span>
      </a></li>
  </ul>

  <%= simple_form_for(resource, :as => resource_name, :url => user_registration_path(resource_name), html: {class: "form-horizontal" }) do |f| %>
      <%= devise_error_messages! %>
      <div id="step-1">
        <div class="container span11" style="margin-top: 20px;">
            <%= f.input :email %>
            <%= f.input :password %>
            <%= f.input :password_confirmation %>
        </div>
      </div>

      <div id="step-2">
        <div class="container span11" style="margin-top: 20px;">
          <%= f.input :bird_date %>
          <%= f.input :avatar %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :zip_code %>
          <%= f.input :phone_number %>
          <%= f.input :city %>
          <%= f.input :state %>
    <%#= f.input :country %>
          <%= f.input :last_seen %>
        </div>
      </div>

      <div id="step-3">
        <div class="container span11" style="margin-top: 20px;">
          <div><%= f.submit "Sign up", class: "btn-primary" %></div>
          <% end %>

        </div>
      </div>

    </div>


    <%= render "links" %>
