<style type="text/css">
  .actionBar{
    width: 450px;
  }
  .stepContainer{
    height: 20px;
  }
  .ui-icon{
    background-image: none!important;
    height: auto!important;
    width: 0!important;
  }z
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $("input.datepicker").datepicker({ dateFormat: 'mm/dd/yy' });
  });
  //$("input.datepicker").datepicker({ dateFormat: 'mm/dd/yy' });
</script>

<h2>User Sign up</h2>


<%= simple_form_for(resource, :as => resource_name, :url => user_registration_path, html: {class: "form-horizontal" }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%#= f.input :bird_date, as: :string, input_html: {class: "datepicker"} %>
    <%#= f.input :avatar %>
    <%#= f.input :name %>
    <%#= f.input :address %>
    <%#= f.input :zip_code %>
    <%#= f.input :phone_number %>
    <%#= f.input :city %>
    <%#= f.input :state %>
    <%#= f.input :last_seen %>

    <div class="container span11" style="margin-top: 20px;">
      "I agree"  to swigBIG.com's <a data-toggle="modal" href="#termModal">Terms of Service</a> before registration is complete
      <%= f.input :terms, as: :boolean %>
      <br/>
      <div class="span6">
        <div class="span2">
          <%= f.submit "Sign up", class: "btn-primary" %>
          </div>
          <div class="span3 pull-right">
            <%= link_to "Cancel", main_home_path, class: "btn" %>
            </div>
          </div>
        <% end %>
        <%= render "links" %>

      </div>


      <%= content_for :outer do  %>
        <div id="termModal" class="modal hide fade">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><b>x</b></a>
            <h3>Terms of Service</h3>
          </div>
          <div class="modal-body well">
            <%= @site_content.term_of_service rescue nil %>
          </div>
        </div>
      <% end %>